@toast: ~'@{prefix}-toast';
@toast-color: var(--td-toast-color, @text-color-anti);
@toast-bg-color: var(--td-toast-bg-color, @mask-active);
@toast-max-width: var(--td-toast-max-width, 185px);
@toast-radius: var(--td-toast-radius, @radius-default);
@toast-row-icon-size: var(--td-toast-row-icon-size, 24px);
@toast-column-icon-size: var(--td-toast-column-icon-size, 32px);
