//颜色
@loading-color: @primary-color-8;

// 字体
@loading-text-line-height: @text-line-height;
@loading-text-color: @text-level-1-color;

@loading-text-size: @font-size-base;
@loading-text-size-small: @font-size-s;
@loading-text-size-large: @font-size-l;

// icon
@loading-icon-size: 28px;
@loading-icon-size-small: 24px;
@loading-icon-size-large: 32px;

// 间距
@loading-text-margin-left: 5px;

// dots
@dotWidth: 8px;
@dot-height: 8px;
@dot-radius: calc(@dotWidth / 2);

@dot-color: @primary-color-8;
@dot-bg-color: @dot-color;
@dot-before-color: rgba(@primary-color-8, .15);
@dot-after-color: rgba(@primary-color-8, .15);

@dot-spacing: calc(@dotWidth * 2);

@dot-left-pos: -9999px;

@dot-x1: calc(0px - @dot-left-pos - @dot-spacing);
@dot-x2: -@dot-left-pos;
@dot-x3: calc(0px - @dot-left-pos + @dot-spacing);
