//颜色
@loading-color: @primary-color-10;

// 字号
@loading-text-line-height: 22px;

@loading-icon-size: 22.75px;
@loading-icon-size-small: 19.5px;
@loading-icon-size-large: 26px;

@loading-text-size: 14px;
@loading-text-size-small: 12px;
@loading-text-size-large: 16px;

// 间距
@loading-text-margin-left: 5px;

// dots
@dotWidth: 10px;
@dot-height: 10px;
@dot-radius: calc(@dotWidth / 2);

@dot-color: #0052D9;
@dot-bg-color: @dot-color;
@dot-before-color: rgba(0, 82, 217, .15);
@dot-after-color: rgba(0, 82, 217, .15);

@dot-spacing: calc(@dotWidth / 2 + @dotWidth);

@dot-left-pos: -9999px;

@dot-x1: calc(0px - @dot-left-pos - @dot-spacing);
@dot-x2: -@dot-left-pos;
@dot-x3: calc(0px - @dot-left-pos + @dot-spacing);
