@import "../../base.less";

@import "./_var.less";

.@{prefix}-countdown {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "DIN Alternate";
  text-align: center;

  .@{prefix}-countdown__digit {
    display: inline-block;
    font-weight: @countdown-digit-font-weight;
  }

  .@{prefix}-countdown__unit {
    display: inline-block;
    font-weight: @countdown-unit-font-weight;
  }

  &--square,
  &--round {
    .@{prefix}-countdown__digit {
      background-color: @countdown-primary-color;
      color: #fff;
    }

    .@{prefix}-countdown__unit {
      color: @countdown-primary-color;
    }
  }

  &--round {
    .@{prefix}-countdown__digit {
      border-radius: @countdown-digit-border-radius-round;
    }
  }

  &--default&--small {
    .@{prefix}-countdown__digit {
      font-size: @countdown-digit-font-size-default-small;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-default-small;
    }
  }

  &--default&--medium {
    .@{prefix}-countdown__digit {
      font-size: @countdown-digit-font-size-default-medium;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-default-medium;
    }
  }

  &--default&--large {
    .@{prefix}-countdown__digit {
      font-size: @countdown-digit-font-size-default-large;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-default-large;
    }
  }

  &--square&--small {
    .@{prefix}-countdown__digit {
      padding: @countdown-digit-padding-square-small;
      border-radius: @countdown-digit-border-radius-square-small;
      font-size: @countdown-digit-font-size-square-small;
      min-width: @countdown-digit-size-radius-square-small;
      line-height: @countdown-digit-size-radius-square-small;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-square-small;
    }
  }

  &--round&--small {
    .@{prefix}-countdown__digit {
      padding: @countdown-digit-padding-round-small;
      font-size: @countdown-digit-font-size-round-small;
      min-width: @countdown-digit-size-radius-round-small;
      line-height: @countdown-digit-size-radius-round-small;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-round-small;
    }
  }

  &--square&--medium {
    .@{prefix}-countdown__digit {
      padding: @countdown-digit-padding-square-medium;
      border-radius: @countdown-digit-border-radius-square-medium;
      font-size: @countdown-digit-font-size-square-medium;
      min-width: @countdown-digit-size-radius-square-medium;
      line-height: @countdown-digit-size-radius-square-medium;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-square-medium;
    }
  }

  &--round&--medium {
    .@{prefix}-countdown__digit {
      padding: @countdown-digit-padding-round-medium;
      font-size: @countdown-digit-font-size-round-medium;
      min-width: @countdown-digit-size-radius-round-medium;
      line-height: @countdown-digit-size-radius-round-medium;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-round-medium;
    }
  }

  &--square&--large {
    .@{prefix}-countdown__digit {
      padding: @countdown-digit-padding-square-large;
      border-radius: @countdown-digit-border-radius-square-large;
      font-size: @countdown-digit-font-size-square-large;
      min-width: @countdown-digit-size-radius-square-large;
      line-height: @countdown-digit-size-radius-square-large;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-square-large;
    }
  }

  &--round&--large {
    .@{prefix}-countdown__digit {
      padding: @countdown-digit-padding-round-large;
      font-size: @countdown-digit-font-size-round-large;
      min-width: @countdown-digit-size-radius-round-large;
      line-height: @countdown-digit-size-radius-round-large;
    }

    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-round-large;
    }
  }

  &--split-with-unit {
    .@{prefix}-countdown__unit {
      font-weight: @countdown-unit-font-weight-split-with-unit;
      color: inherit;
    }
  }

  &--split-with-unit&--default {
    .@{prefix}-countdown__digit {
      color: @countdown-primary-color;
    }
  }

  &--split-with-unit&--small {
    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-split-with-unit-small;
      font-size: @countdown-unit-font-size-split-with-unit-small;
    }
  }

  &--split-with-unit&--medium {
    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-split-with-unit-medium;
      font-size: @countdown-unit-font-size-split-with-unit-medium;
    }
  }

  &--split-with-unit&--large {
    .@{prefix}-countdown__unit {
      width: @countdown-unit-width-split-with-unit-large;
      font-size: @countdown-unit-font-size-split-with-unit-large;
    }
  }
}