@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-countdown {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "DIN Alternate";
  text-align: center;

  .@{prefix}-countdown__digit {
    display: inline-block;
    font-weight: @countdown-digit-font-weight;
  }

  .@{prefix}-countdown__unit {
    display: inline-block;
    font-weight: @countdown-unit-font-weight;
  }

  &--square,
  &--round {
    .@{prefix}-countdown__digit {
      background-color: @countdown-primary-color;
      color: #fff;
    }

    .@{prefix}-countdown__unit {
      color: @countdown-primary-color;
    }
  }

  &--round {
    .@{prefix}-countdown__digit {
      border-radius: @countdown-digit-border-radius-round;
    }
  }

  &--split-with-unit {
    .@{prefix}-countdown__unit {
      font-weight: @countdown-unit-font-weight-split-with-unit;
      color: inherit;
    }
  }

  &--split-with-unit&--default {
    .@{prefix}-countdown__digit {
      color: @countdown-primary-color;
    }
  }
}

//theme "default"
.theme-default(small, @countdown-digit-font-size-default-small, @countdown-unit-padding-default-small, @countdown-unit-font-size-default-small);
.theme-default(medium, @countdown-digit-font-size-default-medium, @countdown-unit-padding-default-medium, @countdown-unit-font-size-default-medium);
.theme-default(large, @countdown-digit-font-size-default-large, @countdown-unit-padding-default-large, @countdown-unit-font-size-default-large);

//theme "square"
.theme-square(small, @countdown-digit-padding-square-small, @countdown-digit-border-radius-square-small, @countdown-digit-font-size-square-small, @countdown-digit-size-square-small, @countdown-unit-padding-square-small, @countdown-unit-font-size-square-small);
.theme-square(medium, @countdown-digit-padding-square-medium, @countdown-digit-border-radius-square-medium, @countdown-digit-font-size-square-medium, @countdown-digit-size-square-medium, @countdown-unit-padding-square-medium, @countdown-unit-font-size-square-medium);
.theme-square(large, @countdown-digit-padding-square-large, @countdown-digit-border-radius-square-large, @countdown-digit-font-size-square-large, @countdown-digit-size-square-large, @countdown-unit-padding-square-large, @countdown-unit-font-size-square-large);

//theme "round"
.theme-round(small, @countdown-digit-padding-round-small, @countdown-digit-font-size-round-small, @countdown-digit-size-radius-round-small, @countdown-unit-padding-round-small, @countdown-unit-font-size-round-small);
.theme-round(medium, @countdown-digit-padding-round-medium, @countdown-digit-font-size-round-medium, @countdown-digit-size-radius-round-medium, @countdown-unit-padding-round-medium, @countdown-unit-font-size-round-medium);
.theme-round(large, @countdown-digit-padding-round-large, @countdown-digit-font-size-round-large, @countdown-digit-size-radius-round-large, @countdown-unit-padding-round-large, @countdown-unit-font-size-round-large);

//split-with-unit
.split-with-unit(small, @countdown-unit-padding-split-with-unit-small, @countdown-unit-font-size-split-with-unit-small);
.split-with-unit(medium, @countdown-unit-padding-split-with-unit-medium, @countdown-unit-font-size-split-with-unit-medium);
.split-with-unit(large, @countdown-unit-padding-split-with-unit-large, @countdown-unit-font-size-split-with-unit-large);
