
@dropdown-menu-primary-color:@primary-color;
@dropdown-menu-color-block:@bg-color-block;
@dropdown-menu-disabled-color:@text-level-4-color;
@dropdown-menu-level-2-color:@text-level-2-color;
@dropdown-item-z-index:1000;
@dropdown-item-content-z-index:1600;
@dropdown-item-height:70%;
@dropdown-item-border-radius:@border-radius /2;