.step-item-basic {
  .@{prefix}-steps-item {
    flex: 1;
    vertical-align: top;
    position: relative;

    &__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-icon {
      vertical-align: top;
      font-size: @font-size-base;
      position: relative;
      color: @border-level-2-color;

      &__number {
        display: block;
        width: @spacer-3;
        height: @spacer-3;
        text-align: center;
        border: 2px solid @border-level-2-color;
        border-radius: 50%;
        color: @border-level-2-color;
      }

      &__dot {
        display: block;
        width: @spacer-3;
        height: @spacer-3;
        text-align: center;
        border: 2px solid @border-level-2-color;
        border-radius: 50%;
        color: @border-level-2-color;
      }
    }

    &-content {
      text-align: center;
    }

    &-title {
      position: relative;
      color: @text-level-1-color;
      text-align: center;
      font-size: @font-size-base;
      text-align: center;
    }

    &-description {
      color: @text-level-3-color;
      font-size: @font-size-s;
      margin-bottom: @spacer;
    }
  }
}

// 连接线
.connector-default(@direction; @isReverse:false) {
  & when (@direction = horizontal) {
    .@{prefix}-steps-item:not(:last-child) {
      .@{prefix}-steps-item__inner:after {
        content: "";
        display: block;
        width: calc(100% - @connector-default-icon-width);
        height: 2px;
        background: @border-level-2-color;
        position: absolute;
        left: calc(50% + @connector-default-icon-width / 2);
        top: @connector-default-icon-width / 2;
      }
    }

    .@{prefix}-steps-item--finish:not(:last-child) {
      .@{prefix}-steps-item__inner:after {
        background: @primary-color;
      }
    }
  }
  & when(@direction = vertical) {
    .@{prefix}-steps-item:not(:last-child) {
      .@{prefix}-steps-item__inner:after {
        content: "";
        display: block;
        height: calc(100% - @connector-default-icon-width);
        width: 2px;
        background: @border-level-2-color;
        position: absolute;
        left: @connector-default-icon-width / 2;
        top: @connector-default-icon-width;
      }
    }

    .@{prefix}-steps-item--finish:not(:last-child) {
      .@{prefix}-steps-item__inner:after {
        background: @primary-color;
      }
    }
  }
}

.dot-anchor-status(@anchor-status) {
  & when(@anchor-status = finish) {
    .@{prefix}-steps-item-icon__number {
      border-color: @primary-color;
      color: @primary-color;
    }
  };
  & when(@anchor-status = process) {
    .@{prefix}-steps-item-icon__number {
      background: @primary-color;
      border-color: @primary-color;
    }
  };
  & when(@anchor-status = error) {
    .@{prefix}-steps-item-icon__number {
      background: @error-color;
      color: @text-anti-primary-color;
      border-color: @error-color;
    }
  };
};

.default-number-status(@anchor-status) {
  & when(@anchor-status = finish) {
    .@{prefix}-steps-item-icon__number {
      border-color: @primary-color;
      color: @primary-color;
    }
  };
  & when(@anchor-status = process) {
    .@{prefix}-steps-item-icon__number {
      background: @primary-color;
      border-color: @primary-color;
    }
  };
  & when(@anchor-status = error) {
    .@{prefix}-steps-item-icon__number {
      background: @error-color;
      color: @text-anti-primary-color;
      border-color: @error-color;
    }
  };
}