@import "../../_variables.less";


@connector-default-icon-width: 24px;
@step-item-inner-max-width: 214px;
@dot-steps-anchor-position-top: 5px;
@dot-steps-content-width: 140px;
@dot-steps-connector-position-top-horizontal: 2.5px;
@dot-steps-connector-position-top-vertical: 17px;
@dot-steps-connector-position-left-vertical: 2.5px;
