// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

.@{prefix}-cascader {
  position: relative;
  width: @cascader-input-width;
  border: 1px solid @border-level-2-color;
  border-radius: @border-radius;
  padding: @cascader-input-padding;
  background-color: @bg-color-container;
  vertical-align: middle;
  cursor: default;
  color: @cascader-color-default;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;

  & .@{prefix}-cascader-placeholder {
    color: @cascader-light-color;
    margin-left: @cascader-content-margin-left;
  }

  & .@{prefix}-cascader-content {
    margin-left: @cascader-content-margin-left;
    .text-ellipsis()
  }

  & .@{prefix}-tag {
    cursor: pointer;
    margin: @cascader-tag-margin;
    color: @cascader-tag-color;
    background-color: @cascader-tag-background-color;
    border-color: @cascader-tag-border-color;
  }
  &:hover:not(.@{prefix}-is-disabled),
  :active:not(.@{prefix}-is-disabled) {
    cursor: pointer;
    border-color: @cascader-active-border-color;
    transition: border-color @anim-duration-base @anim-time-fn-ease-in;

    & > .@{prefix}-icon {
      color: @cascader-selected-color;
    }
  }
  & .@{prefix}-is-disabled {
    cursor: not-allowed;
    background-color: @cascader-tag-background-color-disabled;
    color: @cascader-item-color-disabled;
    .@{prefix}-cascader-content {
      color: @cascader-item-color-disabled;
    }
  }
  &.@{prefix}-is-active {
    border-color: @cascader-active-border-color;
    box-shadow: @cascader-input-shadow;
    transition: box-shadow @anim-duration-base @anim-time-fn-ease-in;

    .@{prefix}-icon {
      color: @cascader-active-border-color;
    }

    .@{prefix}-fake-arrow {
      color: @cascader-highlight-color;
    }
  }
  &.@{prefix}-size-l {
    min-height: @cascader-height-l;
    font-size: @cascader-font-size-l;
  }
  
  &.@{prefix}-size-m {
    min-height: @cascader-height-default;
    font-size: @cascader-font-size-default;
  }
  
  &.@{prefix}-size-s {
    min-height: @cascader-height-s;
    font-size: @cascader-font-size-s;
  }

  &.@{prefix}-cascader-is-multiple {
    padding: @cascader-input-padding-is-multiple;
    &.@{prefix}-size-l {
      min-height: calc(@cascader-height-l + 2px);
    }
    
    &.@{prefix}-size-m {
      min-height: calc(@cascader-height-default + 2px);
    }
    
    &.@{prefix}-size-s {
      min-height: @cascader-item-height-s;
    }
  }
}

.@{prefix}-cascader-dropdown {
  margin: @cascader-dropdown-margin;
  box-shadow: @shadow-2;
  border-radius: @border-radius;
  cursor: default;
  padding: 0;
  border: @cascader-dropdown-border;
  border-radius: @cascader-dropdown-border-radius;

  & .@{prefix}-cascader-panel {
    display: flex;
    height: 100%;

    & .@{prefix}-cascader-menu {
      width: (@cascader-width-s - 2px);
      overflow: auto;
      box-sizing: content-box;
      padding: @cascader-menu-padding;
      background: @bg-color-container;

      & .@{prefix}-cascader-item {
        position: relative;
        height: @cascader-item-height-default;
        line-height: @cascader-item-height-default;
        color: @cascader-dark-color;
        padding: @cascader-menu-item-padding;
        border-radius: @cascader-menu-item-border-radius;
        margin-top: @cascader-menu-item-margin-top;

        &:first-child {
          margin-top: 0;
        }

        & .@{prefix}-cascader-item--highlight {
          color: @cascader-highlight-color;
        }

        .@{prefix}-cascader-item__label {
          display: block;
          position: relative;
          .text-ellipsis();

          .t-cascader-item__label--ellipsis {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            overflow: hidden;
            
            .t-popup-reference {
              width: 100%;
              height: 100%;
            }
          }
        }

        &.@{prefix}-cascader-item__is-empty {
          color: @cascader-light-color;
          text-align: center;
          padding-left: 0;
        }

        .@{prefix}-icon-chevron-right {
          color: @cascader-menu-item-icon-color;
        }
        
        &:hover {
          background: @cascader-item-color-hover;
          transition: background @anim-duration-base @anim-time-fn-ease-in;
          cursor: pointer;
        }
      }

      .@{prefix}-cascader-item.@{prefix}-size-s {
        height: @cascader-item-height-s;
        line-height: @cascader-item-height-s;
        font-size: @cascader-font-size-s;
      }

      .@{prefix}-cascader-item.@{prefix}-size-l {
        height: @cascader-item-height-l;
        line-height: @cascader-item-height-l;
        font-size: @cascader-font-size-l;
      }

      .@{prefix}-cascader-item.@{prefix}-is-selected {
        color: @cascader-item-color-selected;
        & .@{prefix}-checkbox__label {
          color: @cascader-item-color-selected;
        }
      }

      .@{prefix}-cascader-item.@{prefix}-is-disabled {
        color: @cascader-item-color-disabled;
        background-color: transparent;
      }

      .@{prefix}-cascader-item.@{prefix}-is-expanded {
        background: @cascader-item-background-color-expanded;
        color: @cascader-highlight-color;

        .@{prefix}-icon-chevron-right {
          color: @cascader-highlight-color;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    & .@{prefix}-cascader-menu.@{prefix}-is-search {
      width: @cascader-input-width;
      overflow-y: auto;
    }

    & .@{prefix}-cascader-menu.@{prefix}-width-l {
      width: (@cascader-width-l - 2px);
    }

    & .@{prefix}-cascader-menu__seperator {
      border-right: .5px solid @cascader-menu-seperator-color;
    }
  }

  & .@{prefix}-cascader-status {
    cursor: default;
    display: flex;
    position: relative;
    width: @cascader-width-s;

    & .@{prefix}-cascader__data {
      line-height: @cascader-item-height-default;
      margin-left: 8px;
    }

    & .@{prefix}-cascader__data.@{prefix}-is-loading {
      color: @cascader-light-gray-color;
    }

    & .@{prefix}-cascader__data.@{prefix}-is-exception {
      color: @cascader-dark-color;
    }

    & .@{prefix}-cascader__data.@{prefix}-is-retry {
      color: @cascader-highlight-color;
      margin-left: 6px;
      cursor: pointer;
    }

    & .@{prefix}-cascader__data.@{prefix}-is-empty {
      color: @cascader-light-color;
    }
  }

  & .@{prefix}-cascader-status.@{prefix}-width-l {
    min-width: @cascader-width-l;
  }
}

.@{prefix}-cascader-search-input {
  width: 100%;
  border: 0;
  background: transparent;
}

.@{prefix}-cascader-icon {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  color: @cascader-light-color;
  background: transparent;
  margin: @cascader-icon-margin;
}

.@{prefix}-cascader-icon.@{prefix}-is-expanded,
.@{prefix}-cascader-icon.@{prefix}-is-loading {
  background: transparent;
  color: @cascader-highlight-color;
}

.@{prefix}-cascader.@{prefix}-is-disabled {
  cursor: not-allowed;
  background-color: @cascader-tag-background-color-disabled;
  color: @cascader-tag-color-disabled;
  border-color: @cascader-border-color-disabled;
}

.@{prefix}-cascader.@{prefix}-is-popup {
  border: 1px solid @cascader-highlight-color;
}

.@{prefix}-cascader-panel.@{prefix}-cascader--normal {
  height: @cascader-panel-height-normal;
}

.@{prefix}-cascader-panel.@{prefix}-cascader--multiple {
  height: @cascader-panel-height-multiple;
}

.@{prefix}-cascader-panel.@{prefix}-cascader--tip {
  height: @cascader-panel-height-tips;
}


.@{prefix}-cascader-close-icon-fade {
  &-enter,
  &-leave,
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active {
    transition: opacity @anim-duration-base @anim-time-fn-ease-in;
  }

  &-leave-active {
    transition: opacity 0s;
  }
}