// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-cascader {
  position: relative;
  width: @cascader-input-width;
  border: 1px solid @cascader-highlight-color;
  border-radius: @border-radius;
  padding: 0px 26px 0px 4px;
  line-height: @cascader-height-default;
  vertical-align: middle;
  cursor: default;

  & .@{prefix}-cascader__placeholder {
    color: @cascader-light-color;
  }

  & .@{prefix}-cascader__content {
    color: @cascader-dark-color;
  }

  & .@{prefix}-tag {
    cursor: pointer;
    color: @cascader-tag-color;
    background-color: @cascader-tag-background-color;
    border-color: @cascader-tag-border-color;
  }

  & .@{prefix}-is-disabled {
    cursor: auto;
    background-color: @cascader-tag-background-color-disabled;
    color: @cascader-tag-color-disabled;
  }
}

.@{prefix}-cascader-dropdown {
  margin: 10px 0 5px 0;
  background: @bg-color-block;
  box-shadow: @shadow-2;
  border-radius: @border-radius;
  cursor: default;
  
  & .@{prefix}-cascader-panel {
    display: flex;
    height: 100%;

    & .@{prefix}-cascader-menu {
      min-width: @cascader-width-s - 2px;
      height: 100%;
      overflow: auto;

      & .@{prefix}-cascader-item {
        padding-left: 12px;
        position: relative;
        height: @cascader-item-height;
        line-height: @cascader-item-height;
        color: @cascader-dark-color;

        & .@{prefix}-item--highlight {
          color: @cascader-highlight-color;
        }

        &:hover {
          background: @cascader-item-color-hover;
          cursor: pointer;
        }
      }

      & .@{prefix}-is-expanded {
        background: @cascader-item-background-color-expanded;
        color: @cascader-highlight-color;
      }

      & .@{prefix}-is-selected {
        background: @cascader-item-color-selected;
      }

      & .@{prefix}-is-disabled {
        color: @cascader-item-color-disabled;
        background-color: transparent;
      }
    }
    
    & .@{prefix}-cascader-menu.@{prefix}-is-search {
      min-width: @cascader-input-width;
      overflow-y: auto;
    }

    & .@{prefix}-cascader-menu.@{prefix}-width-l {
      min-width: @cascader-width-l - 2px;
    }

    & .@{prefix}-cascader-menu__seperator {
      border-right: 1px solid @cascader-menu-seperator-color;
    }
  }

  & .@{prefix}-cascader-status {
    cursor: default;
    position: relative;
    min-width: @cascader-width-s - 2px;

    & .@{prefix}-cascader__data {
      line-height: @cascader-item-height;
      margin-left: 10px;
    }

    & .@{prefix}-cascader__data.@{prefix}-is-loading {
      color: @cascader-light-gray-color;
    }

    & .@{prefix}-cascader__data.@{prefix}-is-exception {
      color: @cascader-dark-color;
    }

    & .@{prefix}-cascader__data.@{prefix}-is-retry {
      color: @cascader-highlight-color;
      margin-left: 5px;
      cursor: pointer;
    }

    & .@{prefix}-cascader__data.@{prefix}-is-empty {
      color: @cascader-light-color;
    }
  }

  & .@{prefix}-cascader-status.@{prefix}-width-l {
    min-width: @cascader-width-l - 2px;
  }
}

.@{prefix}-cascader-search {
  width: @cascader-input-width;
  position: relative;
  vertical-align: middle;
  padding: 0px 26px 0px 4px;
  line-height: @cascader-height-default;
  border: 1px solid @cascader-highlight-color;
  border-radius: @border-radius;

  .@{prefix}-cascader-search-input {
    border: 0;
    background: transparent;
  }
}

.@{prefix}-cascader-icon {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  color: @cascader-light-color;
  margin: 0 5px;

  /* stylelint-disable-next-line */
  line-height: @cascader-height-default !important;
}

.@{prefix}-cascader-icon.@{prefix}-is-loading {
  /* stylelint-disable-next-line */
  line-height: @cascader-item-height !important;
}

.@{prefix}-cascader-icon.@{prefix}-is-expanded {
  color: @cascader-highlight-color;
}

.@{prefix}-cascader.@{prefix}-is-disabled {
  cursor: auto;
  background-color: @cascader-tag-background-color-disabled;
  color: @cascader-tag-color-disabled;
  border-color: @cascader-border-color-disabled;
}

.@{prefix}-cascader.@{prefix}-size-l,
.@{prefix}-cascader-icon.@{prefix}-size-l {
  /* stylelint-disable-next-line */
  line-height: @cascader-height-l - 2px !important;
}

.@{prefix}-cascader.@{prefix}-size-s,
.@{prefix}-cascader-icon.@{prefix}-size-s {
  /* stylelint-disable-next-line */
  line-height: @cascader-height-s - 2px !important;
}

.@{prefix}-cascader-panel.@{prefix}-cascader--normal {
  height: @cascader-panel-height-normal;
}

.@{prefix}-cascader-panel.@{prefix}-cascader--multiple {
  height: @cascader-panel-height-multiple;
}

.@{prefix}-cascader-panel.@{prefix}-cascader--tip {
  height: @cascader-panel-height-tips;
}