// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

@inputCls: ~"@{prefix}-input";
@inputNumberCls: ~"@{prefix}-input-number";

.@{inputNumberCls} {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 0 32px;

  user-select: none;
  -webkit-user-select: none;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
  }

  input[type="number"] {
    appearance: textfield;
  }

  .@{inputCls}__inner {
    width: 56px;
    text-align: center;
    border-radius: 0;
    color: @text-level-1-color;
  }

  &__decrease,
  &__increase {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    border: 1px solid @input-number-border-color-default;
    box-sizing: border-box;
    border-radius: @border-radius;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;

    &:hover {
      color: #0052d9;
    }

    .@{prefix}-icon {
      font-size: 16px;
      transition: all .15s;
    }

    &.@{prefix}-is-disabled {
      color: #ddd;
      cursor: no-drop;
      background-color: #f5f5f5;
    }
  }

  &__decrease {
    left: 0;
    border-right: 0;
    border-radius: @border-radius 0 0 @border-radius;
  }

  &__increase {
    right: 0;
    border-left: 0;
    border-radius: 0 @border-radius @border-radius 0;
  }
}

.@{inputNumberCls}.@{prefix}-is-disabled {
  .@{inputCls}__inner {
    cursor: no-drop;
    background-color: #f5f5f5;
    color: rgba(0,0,0,.16);
    border-color: #ddd;
  }
  
  .@{inputNumberCls}__decrease,
  .@{inputNumberCls}__increase {
    color: #ddd;
    cursor: no-drop;
    background-color: #f5f5f5;
  }
}

.@{inputNumberCls}.@{prefix}-size-small {
  padding: 0 24px;
  .@{inputCls}__inner {
    height: 24px;
    line-height: 24px;
  }
  .@{inputNumberCls}__decrease,
  .@{inputNumberCls}__increase {
    font-size: 14px;
    width: 24px;
    height: 24px;
  }
}

.@{inputNumberCls}.@{prefix}-size-large {
  padding: 0 40px;
  .@{inputCls}__inner {
    height: 40px;
    line-height: 40px;
  }
  .@{inputNumberCls}__decrease,
  .@{inputNumberCls}__increase {
    font-size: 18px;
    width: 40px;
    height: 40px;
  }

  &.@{prefix}-is-controls-right {
    .@{inputCls}__inner {
      width: 112px;
      height: 40px;
      line-height: 40px;
      padding-right: 48px;
    }

    .@{inputNumberCls}__decrease,
    .@{inputNumberCls}__increase {
      width: 40px;
      font-size: 16px;
    }
  }
}

.@{inputNumberCls}.@{prefix}-is-controls-right {
  padding: 0;
  .@{inputCls}__inner {
    width: 88px;
    box-sizing: border-box;
    padding-right: 40px;
    border-radius: @border-radius;
  }

  .@{inputNumberCls}__decrease,
  .@{inputNumberCls}__increase {

    width: 32px;
    height: 50%;
    border: 0;
    border-left: 1px solid @input-number-border-color-default;
    left: initial;
    top: initial;
    right: 1px;
    border-radius: 0;

    .@{prefix}-icon {
      font-size: 12px;
    }

    &:hover {
      .@{prefix}-icon {
        transform: scale(1.08);
      }
    }

  }
  .@{inputNumberCls}__decrease {
    bottom: 1px;
    border-top: 1px solid @input-number-border-color-default;
  }

  .@{inputNumberCls}__increase {
    top: 1px;
    border-bottom: 1px solid @input-number-border-color-default;
  }
}
