// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-list {
  overflow: scroll;

  &-items {
    list-style: none;
    padding: 0;
  }

  &-item {
    font-size: @font-size-base;
    padding: @spacer @spacer-3;
    border-bottom: 1px solid transparent;
    background: @list-bg-color-default;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex: 1;
    }

    &-meta {
      display: flex;
      padding: @spacer 0;

      &-avatar {
        width: 56px;
        height: 56px;
        border-radius: 28px;
        overflow: hidden;
        background: @list-avatar-bg-color;
        margin-right: @spacer-2;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &-content {

        &-title {
          font-size: @font-size-l;
          font-weight: bold;
          margin-bottom: @spacer;
        }
      }
    }

    &-action {
      list-style: none;
      padding: 0;

      & > li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: @spacer-2;
        }

        & > a {
          text-decoration: none;
          color: @list-action-color;
        }
      }
    }

    &-extra {
      margin: @spacer 0 @spacer @spacer-2;
    }
  }

  &--split {
    .@{prefix}-list-item {
      border-color: @list-item-border-color;
    }
  }

  &--stripe {
    .@{prefix}-list-items {

      &-item {

        &:nth-child(even) {
          background: @list-bg-color-strip;
        }
      }
    }
  }

  &--vertical-action {
    .@{prefix}-list-item {

      &-main {
        display: block;
      }
    }
  }

  &.t-size-s {
    .@{prefix}-list-item {
      padding: @spacer / 2 @spacer-3;
    }
  }

  &.t-size-l {
    .@{prefix}-list-item {
      padding: @spacer-2 @spacer-3;
    }
  }

  &-load {
    background: @list-bg-color-default;
    text-align: center;
    padding: @spacer-4;
    font-size: @font-size-s;

    &.@{prefix}-list-load--loading {
      color: @list-text-color-loading;
    }

    &.@{prefix}-list-load--load-more {
      color: @list-text-color-load-more;
      cursor: pointer;
      font-size: @font-size-base;
    }
  }

  &-header,
  &-footer {
    background: @list-bg-color-default;
    padding: @spacer-2 @spacer-3;
  }
}

