// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";

@import "./_var.less";

.@{statistic-cls} {
  display: inline-block;
  line-height: @text-line-height-xl;
  color: @statistic-text-color;

  &-title {
    font-size: @statistic-title-font-size;
    margin-bottom: @statistic-title-margin-bottom;
    color: @statistic-title-text-color;
  }

  &-content {
    .@{statistic-cls}-value {
      white-space: nowrap;
      font-size: @statistic-integer-font-size;
      font-weight: @statistic-value-font-weight;
      color: @statistic-value-text-color;

      &-integer {
        white-space: nowrap;
      }

      &-decimal {
        font-size: @statistic-decimal-font-size;
        display: inline-block;
      }

      &-suffix {
        font-size: @statistic-suffix-font-size;
        margin-left: @statistic-suffix-margin-left;
      }

      &-prefix {
        font-size: @statistic-value-icon-size;
        margin-right: @statistic-prefix-margin-right;
      }
    }
  }

  &-extra {
    margin-top: @statistic-extra-margin-top;
    color: @statistic-extra-text-color;
  }
}
