@import "../../base.less";

@statistic-cls: ~"@{prefix}-statistic";

@statistic-text-color: @text-color-secondary;

@statistic-title-font-size: @font-title-medium;
@statistic-title-font-weight: 400;
@statistic-title-margin-bottom: @spacer-s;

@statistic-value-font-size: 28px;
@statistic-value-font-weight: 500;
@statistic-value-text-color: @text-color-primary;

@statistic-unit-font-size: 14px;
@statistic-unit-margin-left: @spacer-s;

@statistic-prefix-font-size: 22px;
@statistic-prefix-margin-right: @spacer-s;

@statistic-suffix-font-size: 22px;
@statistic-suffix-margin-left: @spacer-s;

@statistic-extra-margin-top: @spacer-1;
