@cascader-active-color: rgb(0, 82, 217);
@text-color: rgba(0, 0, 0, 90%);
@wrapper-min-height: 400px;
@cascader-disabled-color: #c0c0c0;

@cascader-title-color: @text-level-1-color;
@cascader-options-title-color: @text-level-3-color;

@cascader-border-color: @border-level-1-color;

// steps
@cascader-step-height: 44px;
@cascader-step-active-color: @primary-color;
@cascader-step-dot-size: 8px;
@cascader-step-dot-color: @text-level-4-color;
@cascader-step-line-color: @text-level-4-color;
