@segmented-control-height: 28px;
@segmented-control-bg-color: @bg-color-block;
@segmented-control-active-bg-color: @primary-color;
@segmented-control-active-text-color: @bg-color-block;
@segmented-control-text-size: 14px;
@segmented-control-border-radius: 4px;