[class*='@{d-prefix}-demo-item--table'] {

  .tdesign-demo-block {
    background-color: #fff;
  }

  .tdesign-demo-message {
    font-size: 12px;
    color: #888;
  }

  .t-icon {
    background-color: #f5f5f5;
  }
}