@import "../../base.less";
@import "./_var.less";
@import "../../mixins/_text.less";
@import "../../mixins/_scrollbar.less";

.bordered {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-left: 1px solid @table-border-color;
  pointer-events: none;
}

.scrollbar {
  .scrollbar()
}

.@{prefix}-table {
  font-size: @table-font-size;
  color: @table--text-color;
  background-color: @table-bg;

  &-content {
    position: relative;
    .scrollbar()
  }

  &-pagination {
    padding: @table-padding-normal  @table-padding-horizontal;
    box-sizing: border-box;
  }

  .@{prefix}-icon {
    font-size: @font-size-l;
  }
  // table 标签基础样式
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }

  th,
  td {
    position: relative;
    padding: 10px 24px;
    border-bottom: 1px solid @table-border-color;
    line-height: @table-line-height;
    vertical-align: middle;
    font-weight: normal;

    &:not([align]) {
      text-align: left;
    }
  }

  thead td,
  th {
    color: @table-head-text-color;
  }

  td[key="row-select"] {
    padding: 10px 0 10px 24px;
  }

  td,
  th {
    > a {
      text-decoration: none;
      color: @table-link-text-color;
    }

    &.align-left {
      text-align: left;
    }

    &.align-right {
      text-align: right;
    }

    &.align-center {
      text-align: center;
    }

    &.text-ellipsis {
      .text-ellipsis()
    }
  }

  // 紧凑型表格
  &.@{prefix}-size-s {
    th,
    td {
      padding: @table-padding-small;
    }
  }

  // 宽松型表格
  &.@{prefix}-size-l {
    th,
    td {
      padding: @table-padding-large;
    }
  }

  // 展开/收起列
  .@{prefix}-table-expandable-icon-cell,
  .@{prefix}-table-selection-cell {
    padding: 0;
  }

  // @todo: 待优化
  .@{prefix}-radio,
  .@{prefix}-checkbox {
    line-height: 1;
    font-size: 0;
    vertical-align: middle;
  }

  // 边框线表格
  &--bordered {
    // 表格边框优化，适配固定列/固定表头场景
    .@{prefix}-table-content {
      border: 1px solid @table-border-color;
      border-bottom: 0;
      border-radius: @border-radius;

      th {
        border-left: 1px solid @table-border-color;
        border-bottom: 1px solid @table-border-color;

        &:first-child {

          border-left: 0;

          &::before {
            border-left: 0;
          }
        }
      }

      td {
        border-left: 1px solid @table-border-color;
        border-bottom: 1px solid @table-border-color;

        &.t-table__cell--fixed-left-last {
          & + td {
            border-left: 0px;
          }

          &::before {
            border-right: 1px solid @table-border-color;;
          }
        }

        &.@{prefix}-table__cell--fixed-left,
        &.@{prefix}-table__cell--fixed-right {
          border-left: 0px;

          &::before {
            .bordered();
          }
        }

        &:first-child {
          border-left: 0;

          &::before {
            border-left: 0;
          }
        }
      }
    }

    .@{prefix}-table--loading {
      border-bottom: 1px solid @table-border-color;
    }

    .@{prefix}-table-pagination {
      border: 1px solid @table-border-color;
      border-top: 0;
    }

    // 固定表头表格底部边框线显示优化
    &.@{prefix}-table__header--fixed {
      .@{prefix}-table-content {
        border-bottom: 1px solid @table-border-color;

        tr {
          &:last-child {
            td {
              border-bottom: 0;
            }
          }
        }
      }
    }

    .@{prefix}-table__cell--sort-trigger {
      margin-left: auto;
    }
  }

  // 斑马线表格
  &--striped {
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: @table-highlight-bg-color;
        }
      }
    }

    &.@{prefix}-table--hoverable {
      tbody {
        tr {
          transition: background-color .3s ease-in;

          &:hover {
            background-color: @table-highlight-dark-bg-color;
          }

          &:nth-of-type(odd):hover {
            background-color: @table-highlight-bg-color--hover;
          }
        }
      }
    }
  }

  // 可悬停表格
  &--hoverable {
    tbody {
      tr {
        transition: background-color .3s ease-in;

        &:hover {
          background-color: @table-highlight-dark-bg-color;
        }
      }
    }
  }

  // 文本顶端对齐
  &.@{prefix}-table-valign__top {
    tbody {
      td {
        vertical-align: top;
      }
    }
  }

  // column highlight
  .@{prefix}-table__cell--highlight {
    background-color: @table-highlight-bg-color;
  }

  // 20200728 优化表头固定和列固定
  // 表头固定表格
  &__header--fixed {
    table {
      table-layout: fixed;
    }

    th,
    td {
      overflow-wrap: break-word;
      white-space: nowrap;
    }

    .@{prefix}-table__header {
      width: fit-content;
      position: relative;
      z-index: 10;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, .05), 0px 4px 5px rgba(0, 0, 0, .08), 0px 2px 4px -1px rgba(0, 0, 0, .12);
    }

    .@{prefix}-table__header {
      .scrollbar()
    }

    .@{prefix}-table__body {
      overflow-y: auto;
      width: fit-content;

      .scrollbar()
    }
  }

  &__cell {
    &--selectable {
      & + td {
        padding-left: 0;
      }
    }
  }

  // 列固定表格
  &__cell--fixed {
    &.@{prefix}-table__header--fixed {
      .@{prefix}-table__header {
        overflow: hidden;
        width: 100%;
      }
      .@{prefix}-table__body {
        overflow: auto scroll;
      }
    }

    .@{prefix}-table-content {
      overflow: auto hidden;
    }

    table {
      table-layout: fixed;
      min-width: 100%;
      border-collapse: separate;
    }

    th,
    td {
      position: relative;
    }

    &.@{prefix}-table--striped {
      tbody tr:nth-of-type(odd) {
        .@{prefix}-table__cell--fixed-left,
        .@{prefix}-table__cell--fixed-right {
          background-color: @table-highlight-bg-color;
        }
      }
    }

    .@{prefix}-table__cell--fixed-left,
    .@{prefix}-table__cell--fixed-right {
      z-index: 1;
      background-color: @table-bg;
      transition: background-color .3s ease-in;
    }
    &.@{prefix}-table--hoverable tbody tr:hover {
      .@{prefix}-table__cell--fixed-left,
      .@{prefix}-table__cell--fixed-right {
        background-color: @table-highlight-dark-bg-color;
      }
    }

    .@{prefix}-table__cell--fixed-left-last {
      &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        content: "";
        width: @table-fixed-cell-box-shadow-width;
        transform: translateX(100%);
        transition: box-shadow .3s;
        pointer-events: none;
      }
    }

    .@{prefix}-table__cell--fixed-right-first {
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: -1px;
        content: "";
        width: @table-fixed-cell-box-shadow-width;
        transform: translateX(-100%);
        transition: box-shadow .3s;
        pointer-events: none;
      }
    }

    &.@{prefix}-table--has-fixed {
      .@{prefix}-table__cell--fixed-left-last {
        box-shadow: 1px 0px 10px rgba(0, 0, 0, .05), 4px 0px 5px rgba(0, 0, 0, .08), 2px 0px 4px -1px rgba(0, 0, 0, .12);
      }

      .@{prefix}-table__cell--fixed-right-first {
        box-shadow: -1px 0px 10px rgba(0, 0, 0, .05), -4px 0px 5px rgba(0, 0, 0, .08), -2px 0px 4px -1px rgba(0, 0, 0, .12);
      }
    }
  }

  // 列宽调整表头单元格
  .@{prefix}-table__cell-resizable {
    position: relative;

    .@{prefix}-table__cell--resizer {
      position: absolute;
      top: 0;
      right: -5px;
      bottom: 0;
      z-index: 10;
      width: 10px;
      cursor: col-resize;
    }
  }

  // 数据行金融
  .@{prefix}-table__row--disabled {
    color: @table-row-disabled-color;

    a {
      color: @table-row-disabled-color;
      cursor: not-allowed;
    }
  }

  // 复杂表头容器
  .@{prefix}-table__cell--title {
    display: flex;
  }

  // 表格行可以拖拽
  &.@{prefix}-table__row--draggable {
    tbody{
      tr{
        &:not(.@{prefix}-table__row--dragging){
          transition: transform 0.3s;
          transform: translateY(0px);
        }
        &.@{prefix}-table__row--dragging{
          box-sizing: border-box;
          position: fixed !important;
          z-index: 10000;
          transform-origin: 0% 0%;
          box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
          pointer-events: none;
          opacity: 0.8;
          background: #fff;
        }
      }
    } 
  }
}

.@{prefix}-table__cell--sortable {
  position: relative;

  .@{prefix}-table__cell--title {
    display: flex;

    .@{prefix}-table__cell--filter {
      margin-left: 10px;
    }
  }

  .@{prefix}-table__cell--sort-trigger {
    width: 20px;
  }
}  

// 表格加载态
.@{prefix}-table--loading {
  position: relative;
}

.@{prefix}-table--loading-progressbar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background-color: @brand-color;
  animation: tTableProgressbar 2s ease-in-out;
  animation-fill-mode: both;
}

.@{prefix}-table--loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  color: @text-color-disabled;
}

.@{prefix}-table-expanded-cell {
  padding-left: 45px;
}

.@{prefix}-table--loading-async {
  text-align: center;
  color: @font-gray-3;
  .@{prefix}-icon-loading {
    margin-right: 10px;
  }
}

.@{prefix}-table--loading-status-load-more {
  cursor: pointer;
}

// 默认空表格
.@{prefix}-table--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  color: @table-color-empty;
}

.t-table-filter-icon,
.t-table-sort-icon {
  margin-left: 8px;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;

  &:hover {
    color: @table-icon-active-color;
  }
}

.t-table-sort-icon {
  position: absolute;
}

.t-table-filter-pop {
  .t-table-filter-pop-content {
    margin: -8px;

    .@{prefix}-table-filter-pop-content__inner {
      padding: 16px;
    }

    .@{prefix}-radio-group {
      display: block;
      height: auto;
    }

    .@{prefix}-checkbox,
    .@{prefix}-radio {
      display: block;
      line-height: 34px;
    }

    .@{prefix}-table-filter-pop-content__button {
      border-top: 1px solid @table-border-color;
      padding: 16px;

      .t-button + .t-button {
        margin-left: @spacer-2;
      }
    }
  }
}

.t-table-sort-icon-active {
  color: @table-icon-active-color;
}

.t-table-double-icons {
  display: inline-grid;
  vertical-align: middle;
  width: 14px;
}

.t-table-expand-box {
  padding: 10px 8px;
  display: inline-grid;
  vertical-align: middle;
  color: @table-icon-default-color;
  cursor: pointer;

  &:hover {
    color: @table-icon-active-color;
  }
}


@keyframes tTableProgressbar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
