// Color
@table-head-text-color: @text-level-2-color;
@table-border-color: @border-level-1-color;
@table-link-text-color: @primary-color;
@table-action-bg-color: @bg-color-hover;
@table-highlight-bg-color: @bg-color-fade;
@table-highlight-dark-bg-color: @bg-color-hover;
@table-row-disabled-color: @text-level-4-color;

// Size
@table-line-height: 22px;
@table-font-size: 14px;
@table-padding-normal: @table-font-size * 1.0;
@table-padding-small: @table-font-size * .5;
@table-padding-large: @table-font-size * 1.5;