@import "./_variables.less";

// 响应式断点 后面支持紧凑模式可以迁移过去
:root {
  --td-screen-xs: 320px;
  --td-screen-sm: 768px;
  --td-screen-md: 992px;
  --td-screen-lg: 1200px;
  --td-screen-xl: 1400px;
  --td-screen-xxl: 1800px;
}

// 统一的scrollbar
.narrow-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: @scrollbar-color;
  }
}

// 统一的可旋转箭头
.@{prefix}-fake-arrow {
  path {
    transition: d @anim-duration-base;
    stroke: currentcolor;
  }

  &--active {
    path {
      d: path("M3.75 10.2002L7.99274 5.7998L12.2361 10.0425");
    }
  }
}
