@segmented-bg-color: var(--td-segmented-bg-color, @bg-color-component-disabled);
@segmented-item-color: var(--td-segmented-item-color, @text-color-primary);
@segmented-item-label-font: var(--td-segmented-item-label-font, @font-body-medium);
@segmented-item-active-bg: var(--td-segmented-item-active-bg, @bg-color-container);
@segmented-item-active-color: var(--td-segmented-item-active-color, @brand-color);
@segmented-item-disabled-color: var(--td-segmented-item-disabled-color, @text-color-disabled);
@segmented-transition: var(--td-segmented-transition, all @anim-duration-base @anim-time-fn-easing);
