@timeline-primary-color: @brand-color;
@timeline-default-color: @gray-color-4;
@timeline-warning-color: @warning-color;
@timeline-error-color: @error-color;
@timeline-success-color: @success-color;

@timeline-space-line: 8px;
@timeline-border-width: 2px;

@timeline-line-height: 1.7143;
