// 部分特殊处理的组件级 token
:root,
:root[theme-mode='light'] {
  --td-tab-bar-glass-bg-color: rgba(255, 255, 255, 42%);
  --td-tab-bar-glass-border-color: rgba(255, 255, 255, 62%);
  --td-tab-bar-glass-shadow: 0 8px 30px rgba(0, 0, 0, 12%), 0 2px 8px rgba(0, 0, 0, 8%);
  --td-switch-dot-disabled-color: var(--td-font-white-1);
  --td-switch-loading-color: var(--td-brand-color);
}

:root.dark,
:root[theme-mode='dark'] {
  --td-tab-bar-glass-bg-color: rgba(36, 36, 36, 46%);
  --td-tab-bar-glass-border-color: rgba(255, 255, 255, 30%);
  --td-tab-bar-glass-shadow: 0 8px 30px rgba(0, 0, 0, 28%), 0 2px 8px rgba(0, 0, 0, 20%);
  --td-button-primary-disabled-color: var(--td-font-white-4);
  --td-skeleton-animation-gradient: rgba(255, 255, 255, 6%);
  --td-slider-dot-bg-color: var(--td-gray-color-4);
  --td-slider-dot-disabled-bg-color: var(--td-gray-color-11);
  --td-slider-dot-disabled-border-color: var(--td-gray-color-12);
  --td-switch-dot-disabled-color: var(--td-font-white-2);
  --td-switch-loading-color: var(--td-font-white-1);
}
