@import "../../base.less";

@import "./_var.less";

@import "../../mixins/_reset.less";

.@{prefix}-empty {
  .reset;

  padding: @empty-padding;
  text-align: center;

  &__image {
    // font-size 大小
    &.@{prefix}-size-s {
      font: @empty-image-size-small;
    }

    &.@{prefix}-size {
      font: @empty-image-size-medium;
    }

    &.@{prefix}-size-l {
      font: @empty-image-size-large;
    }
  }

  &__title {
    font: @empty-title-font;
    color: @empty-title-color;
    margin-top: @empty-title-margin-top;
    margin-bottom: @empty-title-margin-bottom;
  }

  &__description {
    font: @empty-description-font;
    color: @empty-description-color;
    margin-top: @empty-description-margin-top;
    margin-bottom: @empty-description-margin-bottom;
  }

  &__action {
    margin-top: @empty-action-margin-top;
    margin-bottom: @empty-action-margin-bottom;
  }
}
