// font-size
@empty-title-font: @font-body-medium;
@empty-description-font: @font-body-medium;

@empty-title-font-small: @font-body-small;
@empty-description-font-small: @font-body-small;
@empty-image-size-small: 20px;
@empty-image-size-medium: 48px;
@empty-image-size-large: 64px;

// font-color
@empty-title-color: @text-color-secondary;
@empty-description-color: @text-color-placeholder;

// padding
@empty-padding: 0;

// margin
@empty-image-margin-top: 0;
@empty-image-margin-bottom: 0;
@empty-title-margin-top-small: @comp-margin-xxs;
@empty-title-margin-top: @comp-margin-s;
@empty-title-margin-bottom: 0;
@empty-description-margin-top-small: @comp-margin-xxs;
@empty-description-margin-top: @comp-margin-xs;
@empty-description-margin-bottom: 0;
@empty-action-margin-top: @comp-margin-xxl;
@empty-action-margin-bottom: 0;
