// font-size
@empty-title-font-size: 14px;
@empty-description-font-size: 14px;

@empty-title-font-weight: 400;
@empty-description-font-weight: 400;

// font-color
@empty-title-color: @font-gray-1;
@empty-description-color: @font-gray-2;

// padding
@empty-padding: 0;

// margin
@empty-image-margin-top: 0;
@empty-image-margin-bottom: 0;

@empty-title-margin-top: 8px;
@empty-title-margin-bottom: 0;

@empty-description-margin-top: 4px;
@empty-description-margin-bottom: 0;

@empty-action-margin-top: 24px;
@empty-action-margin-bottom: 0;

// text-align
@empty-title-text-align: center;
@empty-description-text-align: center;
