// font-size
@empty-title-font: @font-body-medium;
@empty-description-font: @font-body-medium;
@empty-font-s: @font-body-small;
@empty-font-m: @font-body-medium;
@empty-font-l: @font-body-large;

// font-color
@empty-title-color: @text-color-primary;
@empty-description-color: @text-color-secondary;

// padding
@empty-padding: 0;

// margin
@empty-image-margin-top: 0;
@empty-image-margin-bottom: 0;

@empty-title-margin-top: @comp-margin-s;
@empty-title-margin-bottom: 0;

@empty-description-margin-top: @comp-margin-xs;
@empty-description-margin-bottom: 0;

@empty-action-margin-top: @comp-margin-xxl;
@empty-action-margin-bottom: 0;
