// base
@import './vars.less';
@import './normalize.less';
@import './animation.less';

// mixins
@import './mixins/clearfix.css';

[class^='@{prefix}'], [class^='@{prefix}'] * {
  box-sizing: border-box;
  font-family: @font-family;
}

[class^='@{prefix}'] {
  ul, dl, li, dd, dt, p {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
