@prefix: t;

// Component Colors
@primary-color: #0052d9; // 色彩-品牌-可操作
@success-color: #35cd35; // 色彩-功能-成功
@warning-color: #ffaa00; // 色彩-功能-警告
@error-color: #ff3e00; // 色彩-功能-失败

@active-opacity: rgba(0, 0, 0, 0.6); // 遮罩-弹出
@disabled-opacity: rgba(255, 255, 255, 0.6); // 遮罩-禁用

// Background
@bg-color: #f0f2f5; // 色彩-背景
@bg-color-fade: #fbfbfb; // 色彩-中层背景

// Spacer
@spacer: 8px;
@spacer-1: @spacer; // 间距-小-x
@spacer-2: @spacer * 2; // 间距-小
@spacer-3: @spacer * 3; // 间距-中
@spacer-4: @spacer * 4; // 间距-大
@spacer-5: @spacer * 6; // 间距-大-x
@spacer-6: @spacer * 10; // 间距-大-xx

// Font
@font-size: 10px;
@font-size-1: @font-size; // 字号-一级字号
@font-size-2: @font-size * 1.2; // 字号-二级字号
@font-size-3: @font-size * 1.4; // 字号-三级字号
@font-size-4: @font-size * 2; // 字号-四级字号
@font-size-5: @font-size * 3.6; // 字号-五级字号

@text-level-1-color: #000000; // 色彩-文字-一级
@text-level-2-color: #444444; // 色彩-文字-二级
@text-level-3-color: #888888; // 色彩-文字-三级
@text-level-4-color: #bbbbbb; // 色彩-文字-四级

@text-line-height: 1.5; //

@font-family: PingFang SC, Microsoft YaHei, Arial Regular; // 字体-磅数-常规
@font-family-medium: PingFang SC, Microsoft YaHei, Arial Medium; // 字体-磅数-粗体

// Border Radius
@border-radius: 8px; // 圆角-全局
@border-radius-50: 50%; // 圆角-全圆角

// shadow
@shadow-1: 1px 1px 5px 1px rgba(0, 0, 0, 0.03);
@shadow-2: 3px 3px 8px 2px rgba(0, 0, 0, 0.06);
