@textarea-background-color: @bg-color-block;
@textarea-text-color: @text-level-1-color;
@textarea-placeholder-text-color: @placeholder-color;
@textarea-disabled-text-color: @text-color-disabled;
@textarea-font-size: @font-size-l;
@textarea-line-height: 24px;
@textarea-counter-color: @text-level-3-color;
@textarea-counter-font-size: @font-size-s;
@textarea-counter-line-height: 20px;
@textarea-height: 96px;
// 间距
@textarea-vertical-padding: @spacer-3;
@textarea-horizontal-padding: @spacer-4;
