@import "../../base.less";

@import "./_var.less";

.@{prefix}-space {
  display: inline-flex;

  .@{prefix}-space-item {
    width: inherit;
  }

  &-align-start {
    align-items: flex-start;
  }

  &-align-end {
    align-items: flex-end;
  }

  &-align-baseline {
    align-items: baseline;
  }

  &-align-center {
    align-items: center;
  }

  &-vertical {
    flex-direction: column;

    .@{prefix}-space-item-separator {
      width: 100%;
    }
  }
}

.@{prefix}-space.@{prefix}-space--break-line {
  flex-wrap: wrap;
}

.@{prefix}-space {
  &.@{prefix}-space--polyfill {
    display: flex;
    margin-left: calc(-1 * var(--column-gap, 0));
    margin-top: calc(-1 * var(--row-gap, 0));
  }

  &.@{prefix}-space--polyfill > * {
    margin-left: var(--column-gap);
    margin-top: var(--row-gap);
  }
}
