// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

// <name> 替换为组件名
.@{prefix}-dialog {
  width: @dialog-size-s-width;
  background-color: @dialog-bg-color;
  position: relative;
  border-radius: @border-radius-base;

  &__header {
    color: @dialog-header-text-color;
    font-size: @dialog-header-font-size;
    // remove space between inline-block elements.
    word-spacing: -6px;

    > h5 {
      display: inline-block;
      vertical-align: middle;
      line-height: 22px;
    }
  }

  &__body {
    color: @dialog-body-text-color;
    font-size: @dialog-body-text-font-size;
    line-height: 22px;
  }

  &__footer {
    text-align: right;
    // remove space between inline-block elements.
    word-spacing: -6px;

    .t-button + .t-button {
      margin-left: @spacer;
    }
  }

  &--default {
    padding: @dialog-default-spacer;
    .@{prefix}-dialog__body {
      padding: @dialog-default-body-spacer;
    }
  }

  &--primary {
    padding: @dialog-primary-spacer;
    .@{prefix}-dialog__header > h5 {
      margin-left: 8px;
    }

    .t-icon-prompt-fill {
      color: @primary-color;
      font-size: 20px;
    }
    .@{prefix}-dialog__body {
      padding: @dialog-parimary-body-spacer;
    }
  }

  > .t-icon-close {
    position: absolute;
    top: @dialog-spacer;
    right: @dialog-spacer;
  }

  > .t-icon-close:hover {
    cursor: pointer;
  }

}

// t-dialog 组件本身
.@{prefix}-dialog-ctx {
  position: relative;

  &.t-is-visable {
    visibility: visible;
  }

  &.t-not-visable {
    visibility: hidden;
  }

  &.t-is-display {
    display: block;
  }

  &.t-not-display {
    display: none;
  }

  .@{prefix}-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @mask-active;

    &--hidden {
      background: none;
    }
  }

  .@{prefix}-dialog {
    position: fixed;
    border: @dialog-border;

    &--center {
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}