@rate-text-font-size: var(--td-rate-text-font-size, @font-size-m);
@rate-text-color: var(--td-rate-text-color, @font-gray-4);
@rate-text-active-color: var(--td-rate-text-active-color, @font-gray-1);
@rate-selected-color: var(--td-rate-selected-color, @warning-color);
@rate-unselected-color: var(--td-rate-unselected-color, @bg-color-secondarycomponent);
@rate-text-active-font-weight: var(--td-rate-text-active-font-weight, 600);
@rate-icon-scale: var(--td-rate-icon-scale, 1.33);
@rate-popover-shadow: var(--td-rate-popover-shadow, @shadow-1);
@rate-popover-item-bg-color: var(--td-rate-popover-item-bg-color, @font-white-1);
@rate-popover-item-active-bg-color: var(--td-rate-popover-item-active-bg-color, @gray-color-1);
@rate-popover-item-font-weight: var(--td-rate-popover-item-font-weight, 400);
@rate-popover-item-text-color: var(--td-rate-popover-item-text-color, @font-gray-1);
