// 递增模式的行高
.font-calc-plus(@fontSize, @fontWeight: 400) {
  @var: @fontWeight @fontSize / calc((@fontSize * @text-line-height))
    @font-family;
}

// 倍数模式的行高
.font-calc-time(@fontSize, @fontWeight: 400) {
  @var: @fontWeight @fontSize / calc((@fontSize * @text-line-height))
    @font-family;
}

.font-map-time() {
  @timeMedium: 24px;
}
