@import '../_variables.less';

.reset-base() {
  font: @font-body-medium;
  color: @text-color-primary;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.reset() {
  .reset-base;

  margin: 0;
}
