@import "../_variables.less";

.reset() {
  font-family: @font-family;
  font-size: @font-size-base;
  line-height: @text-line-height-base;
  color: @text-color-primary;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
