@import "../_variables.less";

.scrollbar() {
  // Firefox 等浏览器标准支持的滚动条样式设置
  scrollbar-color: @scrollbar-color;
  scrollbar-width: thin;
  // Safari/Chrome 中滚动条样式设置
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: @scrollbar-color;
    border-radius: 11px;
  }
}
