@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "../../mixins/_reset.less";

@componentName: guide;

.@{prefix}-@{componentName} {
  .reset;

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @guide-overlay-z-index;
  }

  &__highlight {
    position: absolute;
    z-index: @guide-highlight-z-index;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 60%), rgba(0, 0, 0, 60%) 0 0 0 5000px;
    transition: .3s ease-out;
  }

  &__reference {
    position: absolute;
    z-index: @guide-reference-z-index;
  }

  &__tooltip {
    padding: 12px 8px;
    min-width: 240px;
    max-width: 600px;
    max-height: 300px;
  }

  &__title {
    color: @guide-title-font-color;
    font-size: @guide-title-font-size;
    font-weight: @guide-title-font-weight;
    text-align: left;
    line-height: 22px;
  }

  &__desc {
    color: @guide-desc-font-color;
    font-size: @guide-desc-font-color;
    font-weight: @guide-desc-font-color;
    text-align: left;
    line-height: 22px;
  }

  &__action {
    display: flex;
    align-items: center;

    button {
      margin-right: 8px;
    }

    button:last-child {
      margin-right: 0;
    }
  }

  &__footer {
    &--popup {
      display: flex;
      margin-top: 16px;

      .@{prefix}-@{componentName}__counter {
        flex: 1;
      }
    }

    &--dialog {
      .@{prefix}-@{componentName} {
        &__counter {
          display: flex;
          justify-content: center;
          margin: 16px auto;

          span {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 8px;
          }

          &--default {
            background: @guide-dialog-counter-default-bg-color;
          }

          &--default:last-child {
            margin-right: 0;
          }

          &--active {
            background: @guide-dialog-counter-active-bg-color;
          }
        }

        &__action {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
