@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "../../mixins/_reset.less";

@componentName: guide;

.@{prefix}-@{componentName} {
  .reset;

  &--lock {
    overflow: hidden;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: @guide-overlay-z-index;
  }

  &__highlight {
    position: absolute;
    z-index: @guide-highlight-z-index;
    transition: .3s ease-out;
    border-radius: 3px;

    &--mask {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 60%), rgba(0, 0, 0, 60%) 0 0 0 5000px;
    }

    &--nomask {
      border-radius: 6px;
      border: 1px solid rgba(0, 82, 217, 100%);
      box-sizing: border-box;
    }
  }

  &__reference {
    position: absolute;
    z-index: @guide-reference-z-index;
  }

  &__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: @guide-reference-z-index;
    padding-top: 20vh;

    &--center {
      padding-top: 0;
      align-items: center;
    }
  }

  &__dialog {
    min-width: 320px;
    max-width: 500px;
    padding: 24px 32px;
    border-radius: 3px;
    background: #fff;
    animation: tGuideDialogFadeIn .3s ease-out;
    box-sizing: border-box;

    &--nomask {
      border: 1px solid var(--td-border-level-1-color);
    }

    .@{prefix}-@{componentName}__title {
      font-size: 16px;
      line-height: 24px;
    }

    .@{prefix}-@{componentName}__desc {
      margin-top: 12px;
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__tooltip {
    padding: 12px 8px;
    min-width: 240px;
    max-width: 600px;
    max-height: 300px;
  }

  &__title {
    color: @guide-title-font-color;
    font-size: @guide-title-font-size;
    font-weight: @guide-title-font-weight;
    text-align: left;
    line-height: 22px;
  }

  &__desc {
    color: @guide-desc-font-color;
    font-size: @guide-desc-font-color;
    font-weight: @guide-desc-font-color;
    text-align: left;
    line-height: 22px;
  }

  &__action {
    display: flex;
    align-items: center;

    button {
      margin-right: 8px;
    }

    button:last-child {
      margin-right: 0;
    }
  }

  &__footer {
    &--popup {
      display: flex;
      margin-top: 16px;

      .@{prefix}-@{componentName}__counter {
        flex: 1;
      }
    }

    &--dialog {
      .@{prefix}-@{componentName} {
        &__counter {
          display: flex;
          justify-content: center;
          margin: 16px auto;

          span {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 8px;
          }

          &--default {
            background: @guide-dialog-counter-default-bg-color;
          }

          &--default:last-child {
            margin-right: 0;
          }

          &--active {
            background: @guide-dialog-counter-active-bg-color;
          }
        }

        &__action {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@keyframes tGuideDialogFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
