// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

a.@{prefix}-menu__item {
  text-decoration: none;
  color: unset;

  &:hover,
  &:active {
    color: inherit;
  }
}

// head-menu
.@{prefix}-head-menu {
  position: relative;
  width: 100%;
  background-color: @menu-theme-light;

  .@{prefix}-menu__item {
    overflow: unset;
  }

  &__inner {
    display: flex;
    height: 64px;

    li + li {
      margin-left: 4px;
    }
  }

  .@{prefix}-menu__logo:not(:empty) {
    width: 256px;
    height: 100%;
    font-size: 0;

    .@{prefix}-menu__logo--center {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .@{prefix}-menu__logo--left {
      position: relative;
      top: 50%;
      left: 24px;
      transform: translate(0, -50%);
    }
  }

  .@{prefix}-menu {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .@{prefix}-menu__options:not(:empty) {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 320px;
    height: 64px;
    line-height: 64px;
    text-align: right;
    margin-right: 8px;
    overflow-x: scroll;

    .@{prefix}-icon {
      width: 40px;
      height: 40px;
      padding: 8px;
      line-height: 40px;
    }
  }

  .@{prefix}-menu__item {
    min-width: 104px;
    height: 40px;
    line-height: 40px;
    justify-content: center;
    transition: all @anim-duration-slow cubic-bezier(.645, .045, .355, 1);
  }

  .@{prefix}-head-menu__submenu-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    li.@{prefix}-menu__item {
      &.@{prefix}-is-active,
      &:hover {
        color: @submenu-item-active-color;
        background-color: inherit;
      }
    }
  }

  .@{prefix}-head-menu__submenu,
  .@{prefix}-head-menu__submenu-box {
    margin: 0;
    padding: 0;
    background-color: @submenu-color-bg;
    height: 48px;
    font-size: 14px;
    list-style: none;
    display: flex;
    align-items: center;
    border-top: 1px solid @gray-color-3;
  }

  .@{prefix}-submenu__item,
  .@{prefix}-head-menu__submenu-box > .@{prefix}-menu__item {
    min-width: 88px;
    height: 48px;
    line-height: 32px;
    padding: 8px 16px;
    text-align: center;
    color: @submenu-item-color;
    cursor: pointer;
    transition: all @anim-duration-slow cubic-bezier(.645, .045, .355, 1);
    position: relative;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background: @submenu-item-active-color;
      width: 100%;
      transform: scale(0);
      content: "";
      transition: all @anim-duration-slow cubic-bezier(.645, .045, .355, 1);
    }

    &.@{prefix}-is-active,
    &:hover {
      color: @submenu-item-active-color;

      &::before {
        transform: scale(1);
      }
    }
  }

  .@{prefix}-menu__popup {
    top: 60px;
    left: -4px;
    right: -4px;
    min-width: 100%;
    box-sizing: content-box;
    transform-origin: center top;

    .@{prefix}-menu__item {
      display: flex;
      align-items: center;
      min-width: 100%;
      margin-left: 0;

      & + .@{prefix}-menu__item {
        margin-top: 4px;
      }
    }
  }

  .@{prefix}-submenu-icon {
    margin-left: 8px;
  }

  // 多层情况
  .@{prefix}-menu__popup-inner {
    .@{prefix}-menu__popup {
      top: -8px;
      left: calc(100% + 16px);
      transform-origin: left top;
    }

    .@{prefix}-menu__item {
      text-align: left;
      padding: 0 16px;
      justify-content: space-between;
    }

    .@{prefix}-submenu-icon {
      transform: rotate(270deg);
    }
  }
}

// default-menu
.@{prefix}-default-menu {
  position: relative;
  width: 232px;
  display: inline-block;
  background: @menu-theme-light;
  transition: width @anim-duration-slow cubic-bezier(.645, .045, .355, 1);
  white-space: nowrap;

  &.@{prefix}-menu--dark {
    background: @menu-theme-dark;
    .@{prefix}-menu__logo:not(:empty) {
      border-bottom-color: @gray-color-10;
    }

    .@{prefix}-menu__options:not(:empty) {
      border-top-color: @gray-color-10;
    }

    .@{prefix}-menu__item {
      &:hover:not(.@{prefix}-is-active) {
        background-color: @gray-color-10;
      }

      &.@{prefix}-is-active {
        background-color: @menu-default-active-color;
      }

      .@{prefix}-icon {
        color: @menu-item-color--dark;
      }
    }

    .@{prefix}-submenu {
      position: relative;
      &.@{prefix}-is-active {
        > .@{prefix}-menu__item {
          color: @menu-theme-light;

          .@{prefix}-icon {
            color: @menu-theme-light;
          }
        }
      }
    }

    .@{prefix}-menu__popup {
      background: @menu-theme-dark;

      .@{prefix}-menu__item {
        &.@{prefix}-is-active {
          background-color: @menu-default-active-color;
        }
      }
    }

    .@{prefix}-menu__popup {
      background: @menu-theme-dark;
    }
  }

  &.@{prefix}-is-collapsed {
    width: 64px;

    .@{prefix}-menu {
      .@{prefix}-menu__item {
        text-align: center;
        padding: 0;
        justify-content: center;
      }
    }

    .@{prefix}-menu__item {
      text-overflow: initial;
      justify-content: center;

      &.@{prefix}-menu__item--plain::after {
        content: "1";
      }

      span {
        display: none;
      }

      .@{prefix}-icon {
        margin-right: initial;
      }
    }

    .@{prefix}-menu__popup {
      .@{prefix}-menu__item {
        span {
          display: inline;
        }

        &.@{prefix}-menu__item--plain::after {
          content: "";
        }
      }
    }

    .@{prefix}-submenu {
      &-icon {
        display: none;
      }

      .@{prefix}-menu__popup {
        .@{prefix}-submenu-icon {
          display: initial;
        }
      }

      > .@{prefix}-menu__item {
        min-width: initial;

        // .@{prefix}-icon {
        //   position: absolute;
        //   margin: 0;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        // }
      }
    }

    .@{prefix}-menu-group-title {
      padding: 0;
      font-size: 0;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 20px;
        background: @menu-group-title-bg--collapse;
      }
    }

    .@{prefix}-menu__options {
      text-align: center;

      .@{prefix}-icon {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    .@{prefix}-menu__logo:not(:empty) {
      width: 100%;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid @menu-border-color;
    }

    .@{prefix}-menu {
      padding: 16px 8px;
      position: relative;
      // overflow-y: auto;
      flex: 1;

      &--scroll {
        overflow-y: auto;
      }
    }

    .@{prefix}-menu-group {
      &-title {
        position: relative;
        padding: 20px 16px 8px;
        height: 48px;
        line-height: 20px;
        color: @menu-menu-group-title-color;
        font-size: @menu-extra-fontsize;
      }
    }
  }

  .@{prefix}-submenu {
    margin-bottom: 4px;
  }

  .@{prefix}-menu__options:not(:empty) {
    width: 100%;
    position: relative;
    padding: 8px 16px;
    top: 0;
    left: 0;
    text-align: left;
    border-top: solid 1px @menu-border-color;

    .@{prefix}-icon {
      width: 32px;
      height: 32px;
      padding: 8px;
      cursor: pointer;
      color: @text-color-primary;
    }
  }

  .@{prefix}-menu__item {
    &.@{prefix}-is-opened {
      margin: 4px 0;
      color: @menu-light-active-color;
      background-color: unset;

      .@{prefix}-icon {
        color: @menu-light-active-color;
      }
    }
  }

  .@{prefix}-menu__dropdown {
    // display: none;
    // position: static;
    overflow: hidden;
    transition: max-height @anim-duration-slow cubic-bezier(.645, .045, .355, 1);
    // height: 0;

    .@{prefix}-menu__item {
      padding-left: 64px;
    }

    &--show {
      display: block;
    }
  }

  .@{prefix}-menu__sub {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height @anim-duration-base @anim-time-fn-easing;

    &.@{prefix}-is-opened {
      max-height: 1000px;
    }

    .@{prefix}-submenu__item {
      padding-left: 32px;
      &.@{prefix}-submenu__item--icon {
        padding-left: 52px;
      }
    }
  }

  .@{prefix}-menu__popup {
    width: 216px;
    top: 0;
    left: calc(100% + 16px);
  }

  .@{prefix}-menu__item {
    position: relative;
    margin: 4px 0;
    padding: 0 10px 0 16px;
    height: 36px;
    line-height: 36px;
    border-bottom: 0;
    text-align: left;
    border-radius: @border-radius;
    transition: all @anim-duration-slow cubic-bezier(.645, .045, .355, 1);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .@{prefix}-icon {
      width: 20px;
      height: 20px;
      color: @text-color-secondary;
    }

    .@{prefix}-submenu-icon {
      margin-left: auto;
    }

    &.@{prefix}-is-active {
      color: @menu-theme-light;
      background-color: @menu-default-active-color;

      .@{prefix}-icon {
        color: @menu-theme-light;
      }
    }

    &:hover:not(.@{prefix}-is-active) {
      background: @menu-light-active-bg;

      & + .@{prefix}-menu__item {
        margin-top: 4px;
      }
    }
  }
}

// menu
.@{prefix}-menu {
  color: @menu-theme-light;
  font-size: @menu-fontsize;
  .list-style-none();

  &__logo:empty {
    width: 24px;
  }

  .@{prefix}-submenu {
    position: relative;

    .@{prefix}-submenu-icon {
      transition: @anim-duration-slow all;
      width: 16px;
      height: 16px;
    }

    &.@{prefix}-is-opened {
      .@{prefix}-submenu-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: @menu-item-color--light;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: @border-radius;

    a {
      color: unset;
      text-decoration: none;
    }

    // @menu-item-hover-color--light
    &.@{prefix}-is-active,
    &.@{prefix}-is-opened {
      overflow: unset;
      color: @menu-item-active-color--light;
      background-color: @menu-item-active-bg--light;
    }

    &:hover:not(.@{prefix}-is-active):not(.@{prefix}-is-opened) {
      color: @menu-item-hover-color--light;
      background-color: @menu-item-hover-bg--light;
    }

    &.@{prefix}-is-disabled {
      color: @menu-item-disabled-color;
      cursor: not-allowed;
    }
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .@{prefix}-icon + &__content {
    margin-left: 16px;
  }

  &--dark {
    .@{prefix}-icon {
      color: @menu-theme-light;
    }

    &.@{prefix}-head-menu {
      background-color: @head-menu-bg--dark;

      .@{prefix}-menu__popup {
        background-color: @head-menu-bg--dark;
      }
    }

    .@{prefix}-menu__item {
      color: @menu-item-color--dark;

      &.@{prefix}-is-active {
        color: @menu-item-active-color--dark;
        background-color: @menu-item-active-bg--dark;
      }

      &.@{prefix}-is-opened {

        .@{prefix}-icon {
          color: @menu-item-active-color--dark;
        }
      }

      &:hover:not(.@{prefix}-is-active) {
        color: @menu-item-hover-color--dark;
        background-color: @menu-item-hover-bg--dark;
      }
    }

    .@{prefix}-menu__popup {
      background: @menu-theme-dark;

      .@{prefix}-menu__item {
        color: @menu-item-color--dark;
        border-radius: @border-radius;

        &.@{prefix}-is-active {
          color: @menu-item-active-color--dark;
          background-color: @menu-item-active-bg--dark;
        }
        &:hover:not(.@{prefix}-is-active) {
          color: @menu-item-hover-color--dark;
          background-color: @menu-item-hover-bg--dark;
        }
      }
    }

    .@{prefix}-menu__options:not(:empty) {
      .@{prefix}-icon {
        color: @menu-theme-light;

        &:hover {
          background-color: @menu-item-active-bg--dark;
        }
      }
    }
  }

  &__popup {
    max-height: 0;
    overflow: hidden;
    transition: max-height @anim-duration-base @anim-time-fn-easing,
      padding @anim-duration-base @anim-time-fn-easing;
    position: absolute;
    background: @menu-theme-light;
    z-index: @menu-outer-zindex;
    border-radius: @border-radius;
    .list-style-none();
    padding: 0px 8px;

    &.t-is-opened {
      padding: 8px;
      max-height: 500px;
      box-shadow: @menu-default-shadow;
    }

    &.@{prefix}-menu__popup-scale {
      overflow: unset;
      transform: scaleY(0);
      transform-origin: center top;
      transition: transform @anim-duration-slow cubic-bezier(.645, .045, .355, 1);
      padding: 8px;

      &::before {
        top: 0;
        bottom: 0;
        content: " ";
        height: 100%;
        left: -18px;
        opacity: .0001;
        position: absolute;
        right: 0;
        top: -20px;
        width: 100%;
        z-index: -1;
      }

      &.t-is-opened {
        display: block;
        transform: scale(1);
      }
    }

    .@{prefix}-menu__item {
      color: @menu-popup-item-color;

      + .@{prefix}-menu__item {
        margin-left: 0;
      }

      &.@{prefix}-is-active {
        color: @menu-popup-item-active-color;
        background-color: @menu-popup-item-active-bg;
      }

      &:hover:not(.@{prefix}-is-active) {
        background-color: @menu-popup-item-hover-bg;
      }
    }
  }

  &__options:not(:empty) {
    .@{prefix}-icon {
      margin-right: 16px;
      color: @menu-item-color--light;

      &:hover {
        border-radius: @border-radius;
        background-color: @menu-item-active-bg--light;
      }
    }
  }
}

// opacity-transition
.@{prefix}-opacity-transition {
  transition: opacity @anim-duration-slow cubic-bezier(.55, 0, .1, 1);
}
.horizontal-collapse-transition
.@{prefix}-submenu__title
.@{prefix}-submenu__icon-arrow {
  transition: @anim-duration-base;
  opacity: 0;
}
