// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

a.@{prefix}-menu__item {
  text-decoration: none;
  color: unset;

  &:hover,
  &:active {
    color: inherit;
  }
}

.@{prefix}-menu {
  font-size: @menu-fontsize;

  &__item {
    position: relative;
    float: left;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: @menu-light-item-color;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      color: unset;
      text-decoration: none;
    }

    &.@{prefix}-is-active,
    &:hover {
      opacity: 1;
      color: @menu-light-active-color;
      border-bottom: 2px solid @menu-light-active-color;
    }

    &.@{prefix}-is-disabled {
      color: @menu-item-disabled-color;
      cursor: not-allowed;
    }
  }

  &--dark {
    background: @menu-theme-dark;

    .@{prefix}-icon {
      color: @menu-theme-light;
    }

    .@{prefix}-menu__item {
      color: @menu-dark-item-color;

      &.@{prefix}-is-active {
        color: @menu-dark-active-color;
        border-color: @menu-dark-active-color;
      }
    }
  }

  &__dropdown {
    position: absolute;
    display: none;
    background: @menu-theme-light;
    top: 68px;
    z-index: @menu-outer-zindex;

    &.t-is-show {
      display: block;
    }

    .@{prefix}-menu__item {
      height: 40px;
      line-height: 40px;
    }
  }
}

.@{prefix}-menu-mode__popup {

  .@{prefix}-is-opened {

    .@{prefix}-menu__dropdown {
      display: block;
    }
  }
}

// head-menu
.@{prefix}-head-menu {
  position: relative;
  width: 100%;
  box-shadow: @menu-head-shadow;

  .@{prefix}-menu__item {
    min-width: 128px;
    overflow: unset;
  }

  &__inner {
    display: flex;
  }

  .@{prefix}-menu__logo:not(:empty) {
    width: 256px;
    left: 25px;
    font-size: 0;

    .@{prefix}-menu__logo--center {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .@{prefix}-menu {
    flex: 1;
  }

  .@{prefix}-menu__options:not(:empty) {
    position: relative;
    max-width: 320px;
    height: 64px;
    line-height: 64px;
    text-align: right;

    .@{prefix}-icon {
      margin-right: 24px;
      font-size: 24px;
    }
  }

  .@{prefix}-submenu {

    .@{prefix}-menu__item {
      position: relative;
      color: @menu-head-item-color;

      &.@{prefix}-is-active {
        color: @menu-light-active-color;
        border-bottom: 2px solid @menu-light-active-color;
      }
    }
  }

  &.@{prefix}-menu-mode__normal {

    // height: 128px;

    .@{prefix}-is-active {

      .@{prefix}-head-submenu {
        display: block;
      }
    }

    .@{prefix}-menu__item {
      position: initial;
    }

    .@{prefix}-head-submenu {
      position: absolute;
      left: 0;
      right: 0;
      height: 64px;
      background: @menu-theme-light;
      z-index: @menu-outer-zindex;
      display: none;
      box-shadow: @menu-head-submenu-shadow;

      &--show {
        display: block;
      }

      .@{prefix}-menu__item {
        color: @menu-light-item-color;
      }

      .@{prefix}-is-active {
        opacity: 1;
        color: @menu-light-active-color;
        border-bottom: 2px solid @menu-light-active-color;
      }
    }
  }

  &__dropdown {
    box-shadow: @menu-head-submenu-shadow;

    .@{prefix}-menu__item {
      background: @menu-popup-bg-color;
    }
  }
}

// default-menu
.@{prefix}-default-menu {
  position: relative;
  width: 256px;
  display: inline-block;
  background: @menu-theme-light;
  box-shadow: @menu-default-shadow;
  transition: .3s width;
  white-space: nowrap;

  &.@{prefix}-menu-mode__popup {

    .@{prefix}-is-active {

      .@{prefix}-menu__popup {

        display: none;
      }
    }
  }

  &.@{prefix}-is-collapsed {
    width: 72px;

    .@{prefix}-menu {

      >.@{prefix}-menu__item {
        text-align: center;
        padding: 0;
      }
    }

    .@{prefix}-menu__item {
      span {
        display: none;
      }

      .@{prefix}-icon {
        margin-right: initial;
      }
    }

    .@{prefix}-menu__popup {

      .@{prefix}-menu__item {
        span {
          display: block;
        }
      }
    }

    .@{prefix}-submenu {
      &-icon {
        display: none;
      }

      >.@{prefix}-menu__item {
        padding: 0;
        min-width: initial;

        .@{prefix}-icon {
          position: absolute;
          margin: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .@{prefix}-menu__options {
      text-align: center;

      .@{prefix}-icon {
        display: block;
        margin: 0 auto;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    .@{prefix}-menu__logo:not(:empty) {
      width: 100%;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid @menu-border-color;
    }

    .@{prefix}-menu {
      position: relative;
      // overflow-y: auto;
      flex: 1;

      &--scroll {
        overflow-y: auto;
      }
    }

    .@{prefix}-menu-group {
      &-title {
        margin: 4px 0;
        padding: 0 24px;
        height: 32px;
        line-height: 32px;
        color: @menu-menu-group-title-color;
        font-size: @menu-extra-fontsize;
      }
    }

    .@{prefix}-submenu {
      position: relative;

      &.@{prefix}-is-active {

        >.@{prefix}-menu__item {
          margin: 4px 0;
          height: 40px;
          line-height: 40px;
          color: @menu-light-active-color;
          background: transparent;
        }

        // .@{prefix}-menu__popup {
        //   // display: block;
        // }
      }

      &.@{prefix}-is-opened {

        .@{prefix}-submenu-icon {
          transform: rotate(180deg);
        }

        .@{prefix}-menu__dropdown {
          height: auto;
        }

        .@{prefix}-menu__popup {
          display: block;
        }
      }
    }

    .@{prefix}-menu__options:not(:empty) {
      width: 100%;
      position: relative;
      padding: 16px;
      top: 0;
      left: 0;
      text-align: left;
      border-top: solid 1px @menu-border-color;
    }

    .@{prefix}-menu__dropdown {
      // display: none;
      position: static;
      overflow: hidden;
      height: 0;

      .@{prefix}-menu__item {
        padding-left: 60px;
      }

      &--show {
        display: block;
      }
    }

    .@{prefix}-menu__popup {
      width: 216px;
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: 1px;
      background: @menu-popup-bg-color;
      z-index: @menu-outer-zindex;
      box-shadow: @menu-default-shadow;
    }

    .@{prefix}-menu__item {
      position: relative;
      padding: 0 24px;
      height: 48px;
      line-height: 48px;
      float: none;
      border-bottom: 0;
      text-align: left;

      .@{prefix}-icon {
        font-size: 20px;
        margin-left: 2px;
        margin-right: 20px;
      }

      .@{prefix}-submenu-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateX(-50%);
        transition: .3s all;
        transform: rotate(0deg);
        font-size: 12px;
      }

      &.@{prefix}-is-active {
        margin: 4px 0;
        height: 40px;
        line-height: 40px;
        color: @menu-light-active-color;
        background: @menu-light-active-bg;
      }
    }
  }
}

// opacity-transition
.@{prefix}-opacity-transition {
  transition: opacity .3s cubic-bezier(.55,0,.1,1);
}
.horizontal-collapse-transition .@{prefix}-submenu__title .@{prefix}-submenu__icon-arrow {
  transition: .2s;
  opacity: 0;
}