.message() {
  width: fit-content;
  font-size: @msg-font-default;
  outline: 0;
  border: 0;
  border-radius: @border-radius;
  background-color: @msg-color-block;
  box-shadow: @msg-shadow;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  .message-size(@msg-height-default, @msg-font-size, @msg-padding-horizontal-default)
}

.message-size(@height; @font-size; @padding-horizontal) {
  height: @height ;
  font-size: @font-size;
  padding: 0 @padding-horizontal;
}