.message() {
  width: fit-content;
  outline: 0;
  border: @msg-border-width solid @msg-color-border;
  border-radius: @border-radius;
  background-color: @msg-color-block;
  box-shadow: @msg-shadow;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  color: @msg-color-text;
  .message-size(@msg-height-default, @msg-font-size-default, @msg-padding-horizontal-default);
}

.message-size(@height; @font-size; @padding-horizontal) {
  height: @height;
  font-size: @font-size;
  padding: 0 @padding-horizontal;
}
