@import "../../base.less";

@import "./_var.less";

.@{prefix}-select-input {
  width: 100%;
}

/** 无边框模式 */
.@{prefix}-select-input--borderless {
  &.@{prefix}-select-input,
  .@{prefix}-input {
    border: 0;
    box-shadow: none;
    width: auto;
    display: inline-flex;
    transition: background-color .2s linear;

    > input {
      width: 100%;
    }

    &:hover {
      background-color: @select-input-focus-bg;
      border-radius: @select-input-border-radius;
    }
  }

  .@{prefix}-input--focused {
    background-color: @select-input-focus-bg;
  }

  /** 无边框模式的多选 */
  &.@{prefix}-select-input--multiple:not(.@{prefix}-select-input--empty) {
    input {
      display: none;
    }

    :hover {
      input {
        display: inline-block;
      }
    }

    &.@{prefix}-select-input--popup-visible {
      input {
        display: inline-block;
      }
      .@{prefix}-input {
        background-color: @select-input-focus-bg;
      }
    }
  }
}
