@import '../../_variables.less';

@rate-bg-color-default: #CCC;
@rate-bg-color-selected: #FA0;
@rate-space: 4px;
@rate-text-font-size: 16px;
@rate-text-color: @text-level-4-color;
@rate-text-margin-left: 14px;
