// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-dropdown {
  box-shadow: @dropdown-shadow1, @dropdown-shadow2;
  background-color: @dropdown-bg-color;
  position: relative;
  border-radius: @border-radius;

  &__menu {
    display: flex;
    justify-content: flex-start;

    &__column {
      font-size: @dropdown-text-font;
      color: @dropdown-text-color;
      text-align: left;
      overflow-y: auto;

      &.submenu__visible {
        border-right: @dropdown-border;
      }

      /**滚动条*/
    }
  }

  &__item {
    padding: @dropdown-item-padding;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;

    &.has-suffix {
      padding-right: 30px;

      .children-suffix {
        position: absolute;
        right: 10px;
        top: 11px;
        color: @dropdown-suffix-color;
      }
    }

    &.@{prefix}-is-active {
      color: @dropdown-active-color;
      font-weight: bold;
    }

    &.@{prefix}-is-focused {
      color: @dropdown-active-color;
      font-weight: bold;
      background: @dropdown-active-bg-color;
    }

    &.@{prefix}-is-disabled {
      color: @dropdown-disable-color;
      cursor: not-allowed;
    }

    &.top-split {
      border-top: @dropdown-border;
    }

    &__content {
      display: flex;
      align-items: center;

      .@{prefix}-icon {
        margin: 3px;
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__split {
    width: 100%;
    height: 1px;
    background: @dropdown-split-color;
  }
}
