@dropdown-bg-color: @bg-color-container;

@dropdown-shadow1: @shadow-2;
@dropdown-shadow2: 0 12px 26px 5px rgba(0,0,0,.10);
@dropdown-text-color: @text-color-primary;
@dropdown-text-font: 14px;
@dropdown-border: solid 1px @border-level-1-color;

@dropdown-scrollbar-color: @border-level-2-color;
@dropdown-split-color: @border-level-2-color;

@dropdown-item-padding: 9px 12px;
@dropdown-suffix-color: @text-color-placeholder;
@dropdown-active-color: @brand-color;
@dropdown-active-bg-color: @brand-color-light;
@dropdown-disable-color: @text-color-disabled;