// color
@dropdown-bg-color: @bg-color-container;
@dropdown-suffix-color: @text-color-placeholder;
@dropdown-active-color: @brand-color;
@dropdown-active-bg-color: @brand-color-light;
@dropdown-disable-color: @text-color-disabled;
@dropdown-text-color: @text-color-primary;
@dropdown-scrollbar-color: @border-level-2-color;
@dropdown-split-color: @border-level-2-color;

@dropdown-text-font: @font-size-base;
@dropdown-border: solid 1px @border-level-1-color;

// padding
@dropdown-item-padding: 9px 12px;
