@dropdown-bg-color: #ffffff;

@dropdown-shadow1: 0 10px 10px -5px rgba(0,0,0,.04);
@dropdown-shadow2: 0 12px 26px 5px rgba(0,0,0,.10);
@dropdown-text-color: rgba(0,0,0,0.90);
@dropdown-text-font: 14px;
@dropdown-border: solid 1px #EEEEEE;

@dropdown-scrollbar-color: #333;
@dropdown-split-color: #333;

@dropdown-item-padding: 9px 12px;
@dropdown-suffix-color: rgba(0,0,0,0.30);
@dropdown-active-color: #0052D9;
@dropdown-active-bg-color: #EBF2FF;
@dropdown-disable-color: rgba(0,0,0,0.16);;