[class*='@{d-prefix}-demo-item--pagination'] {
  .@{prefix}-pagination {
    &__select-demo {
      background-image: url(http://ue.qzone.qq.com/32);
      width: 88px;
    }

    &__input-demo {
      background-image: url(http://ue.qzone.qq.com/32);
      width: 48px;
    }
  }
}