.pagination-number--size(@height; @font-size; @padding-horizontal) {
  height: @height ;
  min-width: @height;
  line-height: @height;
  font-size: @font-size;
  padding-left: @padding-horizontal;
  padding-right: @padding-horizontal;
}

.pagination-number--color(@bg-color, @text-color) {
  background-color: @bg-color;
  color: @text-color;
  border-color: @bg-color;
}

.pagination-btn(@height) {
  width: @height;
  height: @height;
  line-height: @height;
}