//颜色
@pagination-text-color: @text-color-secondary;
@pagination-text-color-disabled: @text-color-disabled;
@pagination-text-color-active: @text-color-anti;
@pagination-text-color-btn: @text-color-primary; // 非数字按钮的颜色
@pagination-bg-color-current: @brand-color;
@pagination-bg-color-hover: @brand-color-hover;
@pagination-bg-color-active: @brand-color;
@pagination-bg-color-disabled: @bg-color-component-disabled;
@pagination-bg-color-current-disabled: @brand-color-focus;
@pagination-bg-color-btn-hover: @bg-color-secondarycontainer-hover;
@pagination-bg-color-btn-active: @bg-color-secondarycontainer-active;
@pagination-bg-color-default: @bg-color-container;

@pagination-icon-color-disabled: @text-color-disabled;
@pagination-border-color: @component-border;
@pagination-border-radius-base: @border-radius-default;

// 尺寸
@pagination-height-s: 24px;
@pagination-height-default: 32px;
@pagination-input-width: 48px;

// 字号
@pagination-font-s: @font-body-small;
@pagination-font-default: @font-body-medium;
@pagination-btn-font-size: @font-body-large;

// 间距
@pagination-padding-horizontal-s: (@spacer / 4);
@pagination-padding-horizontal-default: (@spacer / 2);
@pagination-btn-margin: @spacer;
@pagination-jump-margin: @spacer;
@pagination-select-margin: (@spacer * 2);
@pagination-pager-margin: @spacer;
