//颜色
@pagination-bg-color-current: @primary-color;
@pagination-bg-color-hover: #2A6FDF;
@pagination-bg-color-active: #0041BE;
@pagination-bg-color-current-disabled: #82A3D9;
@pagination-bg-color-disabled: @bg-color;
@pagination-border-color: @border-level-2-color;

// 尺寸
@pagination-height-s: @spacer*3;
@pagination-height-default: @spacer*4;

// 字号
@pagination-font-s: @font-size-s;
@pagination-font-default: @font-size-base;

// 间距
@pagination-padding-horizontal-s: @spacer/4;
@pagination-padding-horizontal-default: @spacer/2;