//颜色
@pagination-text-color: @text-color-secondary;
@pagination-text-color-disabled: @text-color-disabled;
@pagination-text-color-active: @text-color-anti;
@pagination-text-color-btn: @text-color-primary; // 非数字按钮的颜色
@pagination-bg-color-current: @brand-color;
@pagination-bg-color-hover: @brand-color-hover;
@pagination-bg-color-active: @brand-color;
@pagination-bg-color-disabled: @bg-color-component-disabled;
@pagination-bg-color-current-disabled: @brand-color-focus;
@pagination-bg-color-btn-hover: @bg-color-secondarycontainer-hover;
@pagination-bg-color-btn-active: @bg-color-secondarycontainer-active;
@pagination-bg-color-default: @bg-color-container;

@pagination-icon-color-disabled: @text-color-disabled;
@pagination-border-color: @component-border;
@pagination-border-radius-base: @border-radius;

// 尺寸
@pagination-height-s: (@spacer * 3);
@pagination-height-default: (@spacer * 4);
@pagination-input-width: (@spacer * 6);

// 字号
@pagination-font-s: @font-size-s;
@pagination-font-default: @font-size-base;
@pagination-btn-font-size: @font-size-l;

// 间距
@pagination-padding-horizontal-s: (@spacer / 4);
@pagination-padding-horizontal-default: (@spacer / 2);
@pagination-btn-margin: @spacer;
@pagination-jump-margin: @spacer;
@pagination-input-margin: (@spacer / 2);
@pagination-select-margin: (@spacer * 2);
@pagination-pager-margin: @spacer;
