@import "./_var.less";

.avatar-size(@size, @font-size,@avatar-icon-size) {
  width: @size;
  height: @size;
  font-size: @font-size;
  line-height: @size;

  &.@{prefix}-avatar__icon {
    font-size: @avatar-icon-size;
  }

  & img {
    height: @size;
    width: @size;
  }
}