[class*='@{d-prefix}-demo'] {
  .@{prefix}-tabs {
    .t-is-active > .fork-icon {
      background-color: #0052d9;
    }

    .fork-icon {
      width: 14px;
      height: 14px;
      background-color: #e9e9e9;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      border-radius: 50%;
    }
  }
}

.@{prefix}-demo-tabs {
  border: 24px solid #e3e6eb;
}