// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

.@{prefix}-tabs {
  overflow: hidden;
  background-color: @tab-default-bg;

  &__header {

    &.@{prefix}-is-left {
      float: left;
    }

    &.@{prefix}-is-right {
      float: right;
    }
  }

  &__nav {
    position: relative;
    overflow: hidden;
    user-select: none;
  }

  &__operations {
    display: flex;
    flex-direction: row;
    position: absolute;
    border-bottom: 1px solid @tab-card-stroke;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;

      .@{prefix}-tabs__btn {
        &:first-child {
          box-shadow: -10px 0px 20px 5px rgba(0, 0, 0, .05);
        }
      }
    }
  }

  &__btn {
    width: @tab-btn-width;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @tab-card-bg;
    border-left: 1px solid @tab-card-stroke;
    cursor: pointer;
    color: @tab-default-text;
    font-size: @font-size-l;
    transition: all @anim-duration-moderate @anim-time-fn-easing;
    z-index: 1;
    opacity: 1;

    &:hover {
      background-color: @tab-card-bg-hover;
    }

    &.@{prefix}-size-m {
      height: @tab-height-middle;
      line-height: @tab-height-middle;
    }

    &.@{prefix}-size-l {
      height: @tab-height-large;
      line-height: @tab-height-large;
    }

    &--left {
      border-right: 1px solid @tab-card-stroke;
      box-shadow: 10px 0px 20px 5px rgba(0, 0, 0, .05);
      
      &.fade-enter,
      &.fade-leave-to {
        transform: translateX(-50px);
      }
    }

    &--right {
      &.fade-enter,
      &.fade-leave-to {
        transform: translateX(50px);
      }
    }
  }

  &__nav-container {
    position: relative;

    &.@{prefix}-is-top::after {
      .bar-track-pseudo(100%, 1px, auto, auto, 0, 0);
    }

    &.@{prefix}-is-bottom::after {
      .bar-track-pseudo(100%, 1px, 0, auto, auto, 0);
    }

    &.@{prefix}-is-left::after {
      .bar-track-pseudo(1px, 100%, 0, 0);
    }

    &.@{prefix}-is-right::after {
      .bar-track-pseudo(1px, 100%, 0, auto, auto, 0);
    }

    &.@{prefix}-is-addable {
      margin-right: @tab-btn-width;
    }

    &.@{prefix}-tabs__nav--card {
      // border-bottom: 1px solid @tab-default-stroke;

      &:after {
        content: "";
        background-color: transparent;
      }
    }
  }

  &__scroll-btn {
    position: absolute;
    z-index: 1;
    width: @tab-btn-width;
    height: 100%;
    display: block;
    background-color: @tab-card-bg;
    text-align: center;
    border-bottom: 1px solid @tab-default-stroke;
    cursor: pointer;
    color: @tab-card-text;
    font-size: @font-size-l;

    &.@{prefix}-size-m {
      height: @tab-height-middle;
      line-height: @tab-height-middle;
    }

    &.@{prefix}-size-l {
      height: @tab-height-large;
      line-height: @tab-height-large;
    }
  }

  &__nav-scroll {
    position: relative;
    display: inline-block;
    display: flex;
    flex: auto;
    align-self: stretch;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(0);
  }

  &__nav-wrap {
    position: relative;
    display: flex;
    font-size: 0;

    &.@{prefix}-is-smooth {
      transition: transform @anim-duration-moderate @anim-time-fn-easing;
    }

    &.@{prefix}-is-vertical {
      flex-direction: column;
    }
  }

  &__bar {
    position: absolute;
    background-color: @tab-default-stroke-select;
    z-index: 1;
    transition: all @anim-duration-moderate @anim-time-fn-easing;

    &.@{prefix}-is-top {
      bottom: 0;
      left: 0;
      height: @tab-default-stroke-size;
    }

    &.@{prefix}-is-bottom {
      top: 0;
      left: 0;
      height: @tab-default-stroke-size;
    }

    &.@{prefix}-is-left {
      top: 0;
      right: 0;
      width: @tab-default-stroke-size;
    }

    &.@{prefix}-is-right {
      top: 0;
      left: 0;
      width: @tab-default-stroke-size;
    }
  }

  &__nav-item {
    display: inline-flex;
    align-items: center;
    font-size: @font-size-base;
    color: @tab-default-text;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color @anim-time-fn-easing @anim-duration-base;

    &-wrapper {
      display: block;
      padding: 5px 8px;
      margin-left: 8px;
      margin-right: 8px;
      line-height: 22px;
      border-radius: @border-radius;
      transition: background-color @anim-time-fn-easing @anim-duration-base;
    }

    &.@{prefix}-size-l {
      font-size: @font-size-l;
      
      .@{prefix}-tabs__nav-item-wrapper {
        padding: 9px 12px;
      }
    }

    &-text-wrapper {
      position: relative;
      display: flex;
      align-items: center;
    }

    &:not(.@{prefix}-is-disabled):not(.@{prefix}-is-active):hover {
      .@{prefix}-tabs__nav-item-wrapper {
        background-color: @gray-color-1;
      }
    }

    &.@{prefix}-is-left,
    &.@{prefix}-is-right {
      display: flex;
      align-items: center;
    }

    &.@{prefix}-size-m {
      height: @tab-height-middle;
      line-height: @tab-height-middle;
    }

    &.@{prefix}-size-l {
      height: @tab-height-large;
      line-height: @tab-height-large;
    }

    &.@{prefix}-is-active {
      color: @tab-default-text-select;
      // font-weight: 500;
      text-shadow: 0 0 .3px currentColor; // 由于在wins上字体变粗时会扩大width的宽度，导致有抖动的问题；因此采用text-shadow来代替
    }

    &.@{prefix}-is-disabled {
      color: @tab-default-text-disabled;
      cursor: not-allowed;
    }

    & > .remove-btn {
      margin-left: 8px;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);
    }
  }

  &__nav--card {
    background-color: @tab-card-bg;

    &.@{prefix}-tabs__nav-item {
      padding-left: 16px;
      padding-right: 16px;
      border-bottom: 1px solid @tab-card-stroke;
      
      &::after {
        display: none;
      }

      &:not(.@{prefix}-is-disabled):not(.@{prefix}-is-active) {
        &:hover {
          background-color: @gray-color-2;
        }
      }

      &:not(:first-of-type) {
        border-left: 1px solid @tab-card-stroke;
      }

      &:last-of-type {
        border-right: 1px solid @tab-card-stroke;
      }

      &.@{prefix}-is-active {
        color: @tab-card-text-select;
        background-color: @tab-card-bg-select;
        border-bottom-color: @tab-card-bg-select;
      }

      &.@{prefix}-size-l {
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    .@{prefix}-icon-close {
      color: @tab-card-icon;
      transition: color @anim-time-fn-easing @anim-duration-base;

      &:hover {
        color: @tab-card-icon-select;
      }
    }
  }

  &__content {
    overflow: hidden;
    position: relative;
  }
}
