// Color
@transfer-bg-color: @bg-color-block;
@transfer-bg-hover: #ebf2ff;
@transfer-border-color: #eee;

//Size
@transfer-font-size: @font-size-base;
@transfer-common-width: 196px;
@transfer-common-height: 200px;
// 有翻页时候transfer的高度
@transfer-with-pagination-height: 240px;
// 有footer时候transfer的高度
@transfer-with-footer-height: 248px;
// 有翻页和footer时候transfer的高度
@transfer-with-both-height: 288px;
// 包裹树组件时候transfer的高度
@transfer-wrap-height: 200px;

//other
@transfer-box-shadow: @shadow-1;
@transfer-border-radius: @border-radius;