// Color
@transfer-bg-color: @bg-color-block;
@transfer-bg-hover: @brand-color-1;
@transfer-border-color: @border-level-1-color;

//Size
@transfer-font-size: @font-size-base;
@transfer-common-width: 196px;
@transfer-common-height: 200px;
// 有search的高度
@transfer-with-search-height: 240px;
// 有翻页时候transfer的高度
@transfer-with-pagination-height: 240px;
// 有footer时候transfer的高度
@transfer-with-footer-height: 248px;
// 有翻页和footer时候transfer的高度,search&footer
@transfer-with-footer-both-height: 288px;
// pagination&search
@transfer-with-both-height: 280px;
//pagination&footer&search
@transfer-with-all-height: 328px;
// 包裹树组件时候transfer的高度
@transfer-wrap-height: 320px;

//other
@transfer-box-shadow: @shadow-1;
@transfer-border-radius: @border-radius;