// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";

.@{prefix}-loading {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: @loading-color;
  font-size: @loading-icon-size;
  display: inline-flex;
  align-items: center;

  &__wrapper {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3500;

    .@{prefix}-icon-loading {
      position: absolute;
      top: 50%;
      margin-top: @loading-wrapper-icon-margin-top;
    }
  }

  &-parent__relative {
    position: relative;
    height: 100%;
  }

  &-mask {
    background-color: @loading-mask-color;

    &-text {
      position: relative;
      top: 50%;
      margin-top: @loading-wrapper-icon-margin-top;

      .@{prefix}-icon-loading {
        position: unset;
      }

      .@{prefix}-loading-text {
        margin-top: @loading-wrapper-icon-margin-top;
      }
    }
  }

  &-fullscreen {
    position: fixed;

    .@{prefix}-loading {
      top: 50%;

      .@{prefix}-icon-loading {
        font-size: @loading-fullscreen-icon-size;
      }
    }

    &.@{prefix}-loading-mask {
      background-color: @loading-fullscreen-mask-bg-color;
    }
  }

  &-lock {
    overflow: hidden;
  }

  &.@{prefix}-size-s {
    font-size: @loading-icon-size-small;
  }

  &.@{prefix}-size-l {
    font-size: @loading-icon-size-large;
  }

  &-text {
    font-size: @loading-text-size;
    line-height: @loading-text-line-height;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: @loading-text-margin-left;
  }

  &--blur {
    opacity: .6;
    user-select: none;
    pointer-events: none;
  }
}

.@{prefix}-loading__content {
  position: absolute;
  left: 48%;
  top: 20%;
}

.@{prefix}-loading__gradient {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &-conic {
    width: 100%;
    height: 100%;
    background: conic-gradient(from 90deg at 50% 50%,#fff 0deg, @loading-gradient-color 360deg);
    border-radius: 50%;
    mask: radial-gradient(transparent calc(50% ~"-" .5px), #fff 50%);
    
    /* stylelint-disable-next-line */
    -webkit-mask: radial-gradient(transparent calc(50% ~"-" .5px), #fff 50%);
  }
}
