// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

.@{prefix}-loading {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: @loading-color;

  &__wrapper {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3500;

    .@{prefix}-icon-loading {
      position: absolute;
      top: 50%;
      margin-top: @loading-wrapper-icon-margin-top;
    }
  }

  &-parent__relative {
    position: relative;
  }

  &-mask {
    background-color: @loading-mask-color;
  }

  &-fullscreen {
    position: fixed;

    .@{prefix}-loading {
      top: 50%;

      .@{prefix}-icon-loading {
        font-size: @loading-fullscreen-icon-size;
      }
    }

    &.@{prefix}-loading-mask {
      background-color: @loading-fullscreen-mask-bg-color;
    }
  }

  &-lock {
    overflow: hidden;
  }

  .@{prefix}-icon-loading {
    font-size: @loading-icon-size;
  }

  &.@{prefix}-size-s {
    .@{prefix}-icon-loading {
      font-size: @loading-icon-size-small;
    }
  }

  &.@{prefix}-size-l {
    .@{prefix}-icon-loading {
      font-size: @loading-icon-size-large;
    }
  }

  &-text {
    font-size: @loading-text-size;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: @loading-text-margin-left;
  }

  &--blur {
    opacity: .6;
    user-select: none;
    pointer-events: none;
  }
}

.@{prefix}-loading__content {
  position: absolute;
  left: 48%;
  top: 20%;
}

.@{prefix}-loading-gradient {
  background: conic-gradient(from 90deg at 50% 50%, #fff 0deg, @loading-gradient-color 360deg);
  border-radius: 50%;
}

