.t-card {
  font: var(--td-font-body-medium);
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  box-sizing: border-box;
  border-radius: var(--td-radius-medium);
  background-color: var(--td-bg-color-container);
  color: var(--td-text-color-primary);
  transition: box-shadow .2s ease-in-out;
}

.t-card--bordered {
  border: 1px solid var(--td-component-border);
}

.t-card--shadow-hover:hover,
.t-card--shadow {
  box-shadow: var(--td-shadow-1);
}

.t-card__cover {
  display: flow-root;
}

.t-card__cover img {
  display: flow-root;
  width: 100%;
  max-height: 100%;
  border-radius: var(--td-radius-default) var(--td-radius-default) 0 0;
}

.t-card__body {
  display: flow-root;
  padding: 16px 24px;
  line-height: 1.5;
}

.t-card__header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  line-height: 1.5;
}

.t-card__header-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.t-card__header + .t-card__body {
  padding-top: 0;
}

.t-card__header + .t-card__cover img {
  border-radius: 0;
}

.t-card__footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.t-card__footer-wrapper {
  flex: 1;
}

.t-size-s .t-card__body {
  padding: 8px 12px;
}

.t-size-s .t-card__header {
  padding: 8px 12px;
}

.t-size-s .t-card__footer {
  padding: 8px 12px;
}

.t-card__avatar {
  margin-right: 8px;
}

.t-card__title {
  font: var(--td-font-title-medium);
  color: var(--td-text-color-primary);
  margin-right: 8px;
  word-break: break-all;
}

.t-card__subtitle {
  font: var(--td-font-body-medium);
  color: var(--td-text-color-secondary);
  word-break: break-all;
}

.t-card__description {
  font: var(--td-font-body-medium);
  color: var(--td-text-color-secondary);
  margin-top: 4px;
  word-break: break-all;
}

.t-card__actions {
  float: right;
}

.t-card__title--bordered {
  border-bottom: 1px solid var(--td-component-border);
  padding-bottom: 16px;
}

.t-card__title--bordered + .t-card__body {
  padding-top: 16px;
}
