@card-border-radius: @border-radius;


// medium
@card-body-padding-vertical:                   @spacer-2;
@card-body-padding-horizontal:                 @spacer-3;

@card-header-padding-vertical:                 @spacer-2;
@card-header-padding-horizontal:               @spacer-3;

@card-footer-padding-vertical:                 @spacer-2;
@card-footer-padding-horizontal:               @spacer-3;

// small
@card-body-padding-vertical-s:                 (@spacer-2/2);
@card-body-padding-horizontal-s:               (@spacer-3/2);

@card-header-padding-vertical-s:               (@spacer-2/2);
@card-header-padding-horizontal-s:             (@spacer-3/2);

@card-footer-padding-vertical-s:               (@spacer-2/2);
@card-footer-padding-horizontal-s:             (@spacer-3/2);


@card-border-color: @component-border;
@card-background: @bg-color-container;
@card-color: @text-color-primary;
@card-subtitle-color: @text-color-secondary;