@import "../../base.less";

@import "./_var.less";

.@{prefix}-checkbox {
  display: flex;
  align-items: center;
  &__label-wrap {
    border-bottom: 1px solid #f5f5f5;
    width: 100%;
    display: block;
    padding-bottom: 16px;
  }
  &__icon-right-wrap {
    position: absolute;
    right: 18px;
    top: 15px;
    display: flex;
  }
  &__content-wrap {
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 18px;
    position: relative;
    overflow: hidden;
  }
  &__original-left, &__original-right {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__icon-left {
    height: @checkbox-icon-height;
    width: @checkbox-icon-width;
    text-align: center;
    margin-right: 9px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    justify-content: center;

    &.@{prefix}-is-checked {
      font-size: @checkbox-icon-checked;
      justify-content: center;
      color: #0052d9;
    }

    &.@{prefix}-is-disabled {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content-title {
    font-size: @checkbox-title-font-size;
    color: @checkbox-title-font-color;

    &.@{prefix}-is-disabled {
      color: @checkbox-content-color;
    }
  }

  &__content-inner {
    display: block;
    font-size: @checkbox-content-font-size;
    color: @checkbox-content-color;
    margin-top: 4px;
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__label-wrap-left {
    padding-right: 48px;
  }
  &__icon-disable-center {
    display: block;
    height: 15px;
    width: 15px;
    background-color: #EEEEEE;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
