@checkbox-title-font-size: @font-size * 1.6;
@checkbox-title-color: @text-level-1-color;
@checkbox-title-color-disabled: @text-color-disabled;

@checkbox-icon-size: 22px;

@checkbox-icon-checked: @font-size * 2.4;

@checkbox-icon-unchecked-color: @gray-color-4;
@checkbox-icon-checked-color: @primary-color;

@checkbox-icon-margin: @spacer-2;

@checkbox-content-inner-top-margin: 4px;

@checkbox-label-wrap-left-padding: 48px;
