@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@componentName: typography;

.@{prefix}-@{componentName} {
  color: @typography-text-color;
  font: @font-body-medium;

  &.h1 {
    font: @font-headline-large;
  }

  &.h2 {
    font: @font-headline-medium;
  }

  &.h3 {
    font: @font-headline-small;
  }

  &.h4 {
    font: @font-title-large;
  }

  &.h5 {
    font: @font-title-medium;
  }

  &.h6 {
    font: @font-title-small;
  }
}
