// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-notice-bar {
  background-color: @notice-bar-bg-color-1;

  &--info {
    background-color: @notice-bar-bg-color-1;
  }

  &&--info .@{prefix}-icon {
    color: @notice-bar-icon-color-1;
  }

  &&--info &__text {
    color: @notice-bar-text-color-1;
  }

  &--error {
    background-color: @notice-bar-bg-color-2;
  }

  &&--error .@{prefix}-icon {
    color: @notice-bar-icon-color-2;
  }

  &&--error &__text {
    color: @notice-bar-text-color-2;
  }
  
  &__inner {
    display: flex;
    padding: @notice-bar-space-4 @notice-bar-space-4;
  }

  &__hd {
    margin-right: @notice-bar-space-2;
  }

  &__bd {
    flex: 1;
  }

  &__list {}

  &__list--scrolling {
    position: relative;
    z-index: 1;

    min-height: @notice-bar-min-height;
    overflow: hidden;
  }

  &__list--scrolling &__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  &__list--scrolling &__text {
    white-space: nowrap;
  }

  &__item {}

  &__item-detail {
    display: flex;
  }

  &__text {
    font-size: @notice-bar-text-font-size;
    line-height: 1.5;
    color: @notice-bar-text-color-1;

    display: -webkit-box; // stylelint-disable-line
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; // stylelint-disable-line
    overflow: hidden;
  }

  &__text-detail {
    display: inline-block;
    padding-left: @notice-bar-space-2;
    line-height: 1.5;
    font-size: @notice-bar-text-font-size;
    color: @primary-color;
    text-decoration: underline;
  }

  &__text-detail&__text {
    -webkit-line-clamp: 1; // stylelint-disable-line
  }

  &__ft {
    margin-left: @notice-bar-space-4;
  }

  .@{prefix}-icon {
    display: block;
    position: relative;
    top: @notice-bar-top;
    color: @notice-bar-icon-color-1;
  }

  & + & {
    margin-top: @notice-bar-space-4;
  }
}