@slider-track-bg-color:@primary-color;
@slider-bar-bg-color: @border-level-1-color;
@slider-bar-height:2px;
@slider-hander-height: 20px;
@slider-hander-width: 20px;
@slider-font-size-base:@font-size-base;
@slider-value-color: @text-level-1-color;
@slider-value-font-size: @font-size-l;
@slider-mark-text-color: @text-level-1-color;
@slider-title-font-size: @font-size-l;
@slider-title-color: @text-level-1-color;
@slider-title-margin-right: @spacer-4;
@slider-value-margin-left: @spacer-4;
@slider-disabled-color: @primary-color-3;

@slider-disabled-text-color: @text-level-4-color;
