@slider-track-bg-color:@primary-color;
@slider-bar-bg-color:@border-level-2-color;
@slider-bar-height:2px;
@slider-hander-height:18px;
@slider-hander-width:18px;
@slider-font-size-base:@font-size-base;
