// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

/* Swiper */
.@{prefix}-swiper {
  position: relative;
  display: flex;
  opacity: 1;
  transition: opacity .2s;

  &.@{prefix}-is-hidden { /* 隐藏 */
    display: none;
  }

  &&--closing {
    opacity: 0;
  }

  .@{prefix}-swiper__trigger-wrap {
    color: @gray-color-2;
  }

  .@{prefix}-swiper__trigger--active {
    color: @gray-color-7;
  }
}

.@{prefix}-swiper__content {
  flex: 1 1 auto;
  z-index: 1;
  overflow: hidden;
  height: @spacer-5;
}

.@{prefix}-swiper__swiper-wrap {
  position: relative;
  display: flex;
  left: 0;
  transition: left 1s, transform 2s;

  > * {
    flex: 1;
  }

  &--horizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
    transition: left 1s, transform 2s;

    > * {
      flex: 1;
    }
  }

  &--vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    transition: top 1s, transform 2s;

    > * {
      flex: 1;
    }
  }
}

.@{prefix}-swiper__trigger-wrap {
  position: absolute;
  right: @spacer-4;
  z-index: 100;
  flex: 0 0 auto;
  padding: @swiper-trigger-wrap-padding;
  margin: 0;
  font-size: @font-size-xl;
  line-height: @text-line-height-s;
  height: @spacer-5;

  > li {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;

    &:before {
      content: "\2022";
    }
  }
}

.@{prefix}-swiper__close {
  position: absolute;
  right: 0;
  z-index: 100;
  width: @spacer-4;
  height: @spacer-5;
  padding: @swiper-close-padding;
  font-size: @font-size-base;
  color: @text-color-placeholder;
  cursor: pointer;
  align-items: center;
}
