// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

.@{prefix}-tooltip {
  color: @tooltip-text-color;
  display: inline-block;
  background: @tooltip-bg;
  border: 0;
  margin-bottom: 1px;

  &-primary {
    background: @tooltip-bg-primary;
  }

  &-success {
    background: @tooltip-bg-success;
  }

  &-danger {
    background: @tooltip-bg-danger;
  }

  &-warning {
    background: @tooltip-bg-warning;
  }

  &-reference {
    margin: @tooltip-reference-margin;
  }

  &-default {
    margin: @tooltip-default-margin;
  }
  
  .@{prefix}-popup__arrow {
    background: inherit;
    width: auto;
    height: auto;

    &::before {
      background: inherit;
    }
  }
}

.@{prefix}-popup[data-popper-placement^='top'] .@{prefix}-tooltip .@{prefix}-popup__arrow {
  bottom: @tooltip-arrow-position;
  margin-left: -@tooltip-arrow-position;
}

.@{prefix}-popup[data-popper-placement^='bottom'] .@{prefix}-tooltip .@{prefix}-popup__arrow {
  margin-left: -@tooltip-arrow-position;
}

.@{prefix}-popup[data-popper-placement^='left'] .@{prefix}-tooltip .@{prefix}-popup__arrow {
  right: @tooltip-arrow-position;
  margin-top: -@tooltip-arrow-position;
}

.@{prefix}-popup[data-popper-placement^='right'] .@{prefix}-tooltip .@{prefix}-popup__arrow {
  left: -@tooltip-arrow-position;
  margin-top: -@tooltip-arrow-position;
}