// 颜色
@tooltip-bg: #000000;
@tooltip-bg-primary: #0052D9;
@tooltip-bg-success: #35CD35;
@tooltip-bg-danger: #FF3E00;
@tooltip-bg-warning: #FFAA00;
@tooltip-text-color: @text-anti-primary-color;
// 间距
@tooltip-padding: 6px 12px;

// 阴影
@tooltip-shadow: @shadow-2;

// 动画
@tooltip-flow: t-popup_animation;
@cubic-bezier: cubic-bezier(0, .48, .33, 1);
@duration: .2s;
@flowin-transition: opacity @duration @cubic-bezier;
