// width
@tooltip-max-width: 480px;

// 颜色
@tooltip-bg: @gray-color-12; // tooltip 背景色不随组件库浅色/深色模式切换而改变，因此使用固定色值变量
@tooltip-bg-primary: @brand-color;
@tooltip-bg-success: @success-color;
@tooltip-bg-danger: @error-color;
@tooltip-bg-warning: @warning-color;
@tooltip-text-color: @text-color-anti;
// 间距
@tooltip-default-margin: @spacer;

//tooltip箭头位移量
@tooltip-arrow-position: 4px;
