// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{rate-cls} {
  display: flex;

  &__wrapper {
    position: relative;

    & svg:hover {
      transform: @rate-hover-transition;
    }
  }

  &__text {
    width: 100%;
    margin-left: @rate-text-before;
    height: @rate-text-height;
    color: @rate-text-color;
    font-size: @rate-text-font;
    font-weight: @rate-text-font-weight;
    text-align: left;
    line-height: @rate-text-line-height;
  }
}
