// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

// @keyframes mymove {
//   from {
//     height: 0;
//   }
//   to {
//     height: 100px;
//   }
// }

// <name> 替换为组件名
.@{prefix}-tree {
  line-height: 32px;
  font-size: 14px;
  color: @tree-node-text-color;

  // 默认图标
  &__icon {
    vertical-align: middle;
    margin-right: 8px;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    max-width: 300px;
    margin: 10px 0;
  }

  &__item {
    each(range(200), {
    &-level-@{value} {
      // padding-left: (@tree-node-padding-basic * @value);
      // transition: .3s height ease-in-out,.3s padding-top ease-in-out,.3s padding-bottom ease-in-out;

      // transition: .3s height ease-in-out;

      // overflow: hidden;
      // animation: mymove 5s;
      // animation: mymove 3s infinite alternate;
      // color: yellow;
    }
      &.show {
        display: block;
      }
      &.hide {
        display: none;
      }
    })
    &.t-is-active {
      background-color: @tree-node-bg-color-active;
      color: @tree-node-text-color-active;
    }
  }

  &__item {
    --level: 0;
    padding-left: calc(24px * var(--level));
  }

  &__operations {
    float: right;
    cursor: pointer;
  }

  &--hoverable &__item:hover {
    cursor: pointer;
    background-color: @tree-node-bg-color-hover;
  }
}

