// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "../../mixins/_reset.less";

// <name> 替换为组件名
.@{prefix}-tree {
  .reset;

  font: @tree-font;
  color: @tree-node-text-color;

  // 禁用态颜色处理
  &.@{prefix}-is-disabled {
    color: @tree-disabled-color;

    .@{prefix}-icon {
      color: @tree-disabled-color;
    }

    .@{prefix}-tree__item {
      &.@{prefix}-is-active {
        background-color: @tree-node-bg-hover-color;
        color: @tree-disabled-color;
      }

      .@{prefix}-icon {
        color: @tree-icon-disabled-color;
      }
    }
  }

  &__empty {
    color: @tree-node-empty-text-color;
  }

  &__branch {
    display: block;
  }

  &__children {
    // 用于多行 label 计算高度
    --hscale: 1;

    will-change: opacity, max-height;
  }

  &__item {
    // 用于树结构缩进计算
    --level: 0;
    // 用于多行 label 计算高度
    --hscale: 1;

    will-change: opacity, max-height;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    padding: 4px 0 4px @tree-node-item-padding-left;
    cursor: default;
    transform: translateZ(0); // 开启硬件加速
    backface-visibility: hidden; // 防止Chrome、Safari中，使用 transforms/animations，可能造成的页面闪烁
    perspective: 1000; // 防止Chrome、Safari中，使用 transforms/animations，可能造成的页面闪烁
    line-height: @tree-node-item-line-height;

    .@{prefix}-icon,
    .@{prefix}-loading {
      display: inline-block;
      position: relative;
      z-index: 2;
      font-size: @font-size-l;
    }

    .@{prefix}-icon {
      color: @tree-node-icon-color;
    }

    .@{prefix}-checkbox {
      align-items: center;
      font-size: 0;
    }

    .@{prefix}-tree__icon--default {
      .@{prefix}-icon {
        transition: color, transform @anim-time-fn-easing @anim-duration-base;
        transform: rotate(0);
      }
    }

    &--open {
      .@{prefix}-icon {
        color: @tree-node-icon-active-color;
      }

      .@{prefix}-tree__icon--default {
        .@{prefix}-icon {
          transform: rotate(90deg);
        }
      }
    }

    &--clickable {
      cursor: pointer;
    }

    &--draggable {
      cursor: pointer;

      &::before {
        position: absolute;
        top: -@tree-node-drag-tip-height;
        right: 0;
        left: 0;
        display: block;
        height: @tree-node-drag-tip-height;
        border-radius: (@tree-node-drag-tip-height / 2);
        content: "";
        padding: inherit;
        background-clip: content-box;
      }

      &:hover {
        background-color: @tree-node-bg-hover-color;
        background-clip: content-box;
      }
    }

    &--tip {
      &-top::before {
        background-color: @tree-node-drag-tip-bg;
      }

      &-bottom::before {
        top: unset;
        bottom: -@tree-node-drag-tip-height;
        background-color: @tree-node-drag-tip-bg;
      }

      &-highlight {
        background-color: @tree-node-drag-bg-highlight;
        background-clip: content-box;
      }
    }
  }

  &--block-node &__label {
    flex: 1;
  }

  &--hoverable &__label:not(.@{prefix}-is-active):not(.@{prefix}-is-checked):hover {
    background-color: @tree-node-bg-hover-color;
  }

  &__line {
    --level: 0;
    --color: @tree-node-icon-line-color;
    --space: @tree-node-padding-basic;
    --iconSize: @icon-default;

    position: absolute;
    left: @tree-line-position-left;
    bottom: @tree-line-position-bottom;
    width: @tree-line-width;
    height: @tree-node-item-height;
    pointer-events: none;
  }

  &__line::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: @tree-node-item-height;
    width: @tree-line-before-width;
    border-left: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
  }

  &__line--first::before {
    height: @tree-line-first-height;
  }

  &__line--leaf::before {
    width: @tree-line-leaf-width;
  }

  // 默认图标
  &__icon {
    position: relative;
    flex: none;
    display: inline-flex;
    align-items: center;
    // 图标居中
    text-align: center;
    width: 16px;
    // 当子元素只有一个且为image类型时，会有隐藏占位，因此将font-size设0
    font-size: 0;
    user-select: none;
    cursor: pointer;
    transition: color, transform @anim-duration-moderate @anim-time-fn-easing;

    .@{prefix}-icon-loading-blue {
      color: @tree-node-icon-active-color;
    }
  }

  // svg 动画与 icon 背景进行隔离
  &__icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: @tree-node-icon-svg-size;
    height: @tree-node-icon-svg-size;
    border-radius: @border-radius-default;
  }

  // 仅在有图标时呈现背景
  &__icon:not(:empty):hover::after {
    background-color: @tree-node-bg-hover-color;
  }

  // 没有图标是不呈现指针
  &__icon:empty {
    cursor: initial;
  }

  &__label {
    --ripple-color: @bg-color-container-active;

    flex-wrap: nowrap;
    flex: 0 0 auto;
    padding: 2px 4px;
    margin-left: 4px;
    border-radius: @border-radius-default;
    cursor: pointer;
    transition: background-color @anim-duration-moderate @anim-time-fn-easing;

    &.@{prefix}-is-checked {
      font-weight: 500;
      color: @tree-node-text-active-color;
      background-color: @tree-node-bg-active-color;
    }

    &::selection {
      background-color: transparent;
    }
  }

  .@{prefix}-is-active &__label {
    font-weight: 500;
    color: @tree-node-text-active-color;
    background-color: @tree-node-bg-active-color;
  }

  &__space {
    display: block;
    flex: 1 0 auto;
  }

  &__operations {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }

  &__operations .@{prefix}-icon {
    cursor: pointer;
  }

  &__item.@{prefix}-is-disabled {
    color: @tree-disabled-color;
    cursor: default;

    .@{prefix}-checkbox {
      cursor: default;
    }
  }
}

.@{prefix}-tree--vscroll {
  overflow-y: auto;
}

.@{prefix}-tree {
  &__item--hidden {
    display: none;
  }

  &__children--hidden {
    display: none;
  }
}

.@{prefix}-tree--transition {
  .@{prefix}-tree__item--visible {
    opacity: 1;
  }

  .@{prefix}-tree__item--hidden {
    display: flex;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  .@{prefix}-tree__children--visible {
    opacity: 1;
  }

  .@{prefix}-tree__children--hidden {
    display: block;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

  // 节点插入动画
  .@{prefix}-tree__item--enter-active {
    animation: t-tree-toggle @tree-node-animation-time linear;
  }

  // 节点移除动画
  .@{prefix}-tree__item--leave-active {
    animation: t-tree-toggle @tree-node-animation-time reverse linear forwards;
  }

  // 节点展示动画
  .@{prefix}-tree__item--visible {
    transition: opacity @tree-node-transition-time linear
      @tree-node-transition-time,
      max-height @tree-node-transition-time linear 0s;
  }

  // 节点隐藏动画
  .@{prefix}-tree__item--hidden {
    animation: none;
    transition: opacity @tree-node-transition-time linear 0s,
      max-height @tree-node-transition-time linear @tree-node-transition-time;
  }

  // 子节点展示动画
  .@{prefix}-tree__children--visible {
    transition: opacity @tree-node-transition-time linear
      @tree-node-transition-time,
      max-height @tree-node-transition-time linear 0s;
  }

  // 子节点隐藏动画
  .@{prefix}-tree__children--hidden {
    animation: none;
    transition: opacity @tree-node-transition-time linear 0s,
      max-height @tree-node-transition-time linear @tree-node-transition-time;
  }
}

@keyframes t-tree-toggle {
  0% {
    opacity: 0;
    max-height: 0;
  }

  50% {
    opacity: 0;
    max-height: @tree-node-item-origin-height;
  }

  100% {
    opacity: 1;
    max-height: @tree-node-item-origin-height;
  }
}

.@{prefix}-tree-select {
  &.@{prefix}-single-suffix {
    padding-right: 20px;
  }

  &.@{prefix}-tag-prefix {
    padding-left: 4px;
  }
}
