// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

// <name> 替换为组件名
.@{prefix}-tree {
  line-height: 32px;
  font-size: 14px;
  color: @tree-node-text-color;

  // 默认图标
  &__icon {
    vertical-align: middle;
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    max-width: 300px;
    margin: 10px 0 10px 8px;
  }

  &__item {
    --level: 0;
    padding-left: calc(@tree-node-padding-basic * var(--level));

    &.show {
      display: block;
    }

    &.hide {
      display: none;
    }

    &.t-is-active {
      background-color: @tree-node-bg-color-active;
      color: @tree-node-text-color-active;
    }
  }

  &__item {
    --level: 0;
    padding-left: calc(24px * var(--level));
  }

  &__operations {
    float: right;
    cursor: pointer;
  }

  &--hoverable &__item:hover {
    cursor: pointer;
    background-color: @tree-node-bg-color-hover;
  }
}

