<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>组件名称</title>

    <!-- 组件样式（全部的） -->
    <link rel="stylesheet" href="../../dist/tdesign.css" />
    <!--
      TDesign 图标库，桌面端与移动端用同样的资源
      使用方式：<i class="t-icon t-icon-delete"></i>
    -->
    <link
      rel="stylesheet"
      href="https://tdesign.gtimg.com/icon/0.0.3/fonts/index.css"
    />
  </head>
  <body>
    <div class="tdesign-demo-wrap">
      <!-- 开发者信息 -->
      <div class="tdesign-demo-wrap__name">
        <h1 class="">Tree</h1>
        <p class="tdesign-demo-wrap__info">开发者: shryzhang, tabliang</p>
        <p class="tdesign-demo-wrap__info">创建日期: 2020.10.12</p>
        <p class="tdesign-demo-wrap__info">说明: tdesign tree 组件的基本样式</p>
      </div>

      <!-- 组件开始区 -->

      <!-- 默认样式 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">默认</h2>

        <!-- 灰底区域 可多个 -->
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="t-tree">
            <!-- 第0层 -->
            <div class="t-tree__item" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">1 节点一</span>
            </div>
            <!-- 第0层 -->
            <div class="t-tree__item t-tree__item--open" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2 节点二</span>
            </div>
            <!-- 第1层 -->
            <div class="t-tree__item t-tree__item--open" style="--level: 1;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2.1 节点二点一</span>
            </div>
            <!-- 第2层 -->
            <div class="t-tree__item t-tree__item--open" style="--level: 2;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2.1.1 节点二点一点一</span>
            </div>
            <!-- 第3层 -->
            <div class="t-tree__item" style="--level: 3;">
              <span class="t-tree__icon"></span>
              <span class="t-tree__label">2.1.1.1 节点二点一点一点一</span>
            </div>
            <!-- 第3层 -->
            <div class="t-tree__item" style="--level: 3;">
              <span class="t-tree__icon"></span>
              <span class="t-tree__label">2.1.1.2 节点二点一点一点二 这是多文字的展示 这是多文字的展示 这是多文字的展示 这是多文字的展示 这是多文字的展示</span>
            </div>
            <!-- 第2层 -->
            <div class="t-tree__item" style="--level: 2;">
              <span class="t-tree__icon">
                <svg class="t-icon t-icon-loading t-icon-loading" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.5,8 C1.5,4.410375 4.410375,1.5 8,1.5 C11.589625,1.5 14.5,4.410375 14.5,8 L12.875,8 L12.875,8 C12.875,5.30761184 10.6923882,3.125 8,3.125 C5.30761184,3.125 3.125,5.30761184 3.125,8 C3.125,10.6923882 5.30761184,12.875 8,12.875 L8,14.5 C4.410375,14.5 1.5,11.589625 1.5,8 Z"/></svg>
              </span>
              <span class="t-tree__label">2.1.2 节点二点一点二<br/>折行文字</span>
            </div>
            <!-- 第0层 -->
            <div class="t-tree__item" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">3 节点三</span>
            </div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 空数据 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">空数据</h2>

        <!-- 灰底区域 可多个 -->
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="t-tree">
            <!-- 第0层 -->
            <div class="t-tree__empty">😊 空数据（string）</div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 节点可选中 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">节点可选中</h2>
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="t-tree">
            <!-- 第0层 -->
            <div class="t-tree__item t-tree__item--open">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <label class="t-checkbox t-tree__label">
                <input type="checkbox" class="t-checkbox__former" value="" />
                <span class="t-checkbox__input"></span>
                <span class="t-checkbox__label">1 节点一</span>
              </label>
            </div>
            <!-- 第1层 -->
            <div class="t-tree__item t-tree__item--open" style="--level: 1;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <label class="t-checkbox t-tree__label">
                <input type="checkbox" class="t-checkbox__former" value="" />
                <span class="t-checkbox__input"></span>
                <span class="t-checkbox__label">1.1 节点一点一</span>
              </label>
            </div>
            <!-- 第2层 -->
            <div class="t-tree__item" style="--level: 2;">
              <i class="t-tree__icon t-icon"></i>
              <label class="t-checkbox t-tree__label">
                <input type="checkbox" class="t-checkbox__former" value="" />
                <span class="t-checkbox__input"></span>
                <span class="t-checkbox__label">1.1.1 节点一点一点一</span>
              </label>
            </div>
            <!-- 第1层 -->
            <div class="t-tree__item" style="--level: 1;">
              <span class="t-tree__icon"><svg class="t-icon t-icon-loading t-icon-loading" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.5,8 C1.5,4.410375 4.410375,1.5 8,1.5 C11.589625,1.5 14.5,4.410375 14.5,8 L12.875,8 L12.875,8 C12.875,5.30761184 10.6923882,3.125 8,3.125 C5.30761184,3.125 3.125,5.30761184 3.125,8 C3.125,10.6923882 5.30761184,12.875 8,12.875 L8,14.5 C4.410375,14.5 1.5,11.589625 1.5,8 Z"/></svg></span>
              <label class="t-checkbox t-tree__label">
                <input type="checkbox" class="t-checkbox__former" value="" />
                <span class="t-checkbox__input"></span>
                <span class="t-checkbox__label">1.2 节点一点二 这是多文字的展示 这是多文字的展示 这是多文字的展示 这是多文字的展示 这是多文字的展示</span>
              </label>
            </div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 自定义图标 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">
          文件夹图标（自定义图标）
        </h2>
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="t-tree">
            <!-- 第0层 -->
            <div class="t-tree__item">
              <span class="t-tree__icon"><i class="t-icon t-icon-folder"></i></span>
              <label class="t-checkbox t-tree__label">
                <input type="checkbox" class="t-checkbox__former" value="" />
                <span class="t-checkbox__input"></span>
                <span class="t-checkbox__label">1 节点一</span>
              </label>
            </div>
            <!-- 第0层 -->
            <div class="t-tree__item">
              <span class="t-tree__icon"><i class="t-icon t-icon-folder-open"></i></span>
              <span class="t-checkbox__label">2 节点二</span>
            </div>
            <!-- 第1层 -->
            <div class="t-tree__item" style="--level: 1;">
              <span class="t-tree__icon"><i class="t-icon t-icon-folder-open"></i></span>
              <span class="t-checkbox__label">2.1 节点二点一</span>
            </div>
            <!-- 第2层 -->
            <div class="t-tree__item" style="--level: 2;">
              <span class="t-tree__icon"><i class="t-icon t-icon-file-paste"></i></span>
              <span class="t-checkbox__label">2.1.1 节点二点一点一</span>
            </div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 可操作 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">可操作</h2>

        <!-- 灰底区域 可多个 -->
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="t-tree">
            <div class="t-tree__item t-tree__item--open">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">1 节点一</span>
              <span class="t-tree__operations">
                <i class="t-icon t-icon-bulletpoint t-tree__icon"></i>
              </span>
            </div>
            <div class="t-tree__item t-tree__item--open" style="--level: 1;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">1.1 节点一点一</span>
              <span class="t-tree__operations">
                <i class="t-icon t-icon-bulletpoint t-tree__icon"></i>
              </span>
            </div>
            <div class="t-tree__item" style="--level: 2;">
              <span class="t-tree__icon">
                <svg class="t-icon t-icon-loading-blue t-icon-loading" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.5,8 C1.5,4.410375 4.410375,1.5 8,1.5 C11.589625,1.5 14.5,4.410375 14.5,8 L12.875,8 L12.875,8 C12.875,5.30761184 10.6923882,3.125 8,3.125 C5.30761184,3.125 3.125,5.30761184 3.125,8 C3.125,10.6923882 5.30761184,12.875 8,12.875 L8,14.5 C4.410375,14.5 1.5,11.589625 1.5,8 Z"/></svg>
              </span>
              <span class="t-tree__label">1.1.1 节点一点一点一 这是多文字的展示 这是多文字的展示 这是多文字的展示 这是多文字的展示 这是多文字的展示</span>
              <span class="t-tree__operations">
                <i class="t-icon t-icon-edit t-tree__icon"></i>
                <i class="t-icon t-icon-bulletpoint t-tree__icon"></i>
              </span>
            </div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 连线 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">显示连线</h2>
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="t-tree">
            <div class="t-tree__item" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">1</span>
            </div>
            <div class="t-tree__item t-tree__item--open" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2</span>
            </div>
            <div class="t-tree__item t-tree__item--open" style="--level: 1;">
              <span class="t-tree__line t-tree__line--first" style="--level: 1;"></span>
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2.1</span>
            </div>
            <div class="t-tree__item t-tree__item--open" style="--level: 2;">
              <span class="t-tree__line t-tree__line--first" style="--level: 2; box-shadow: calc(-1 * var(--space)) 0 var(--color);"></span>
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2.1.1</span>
            </div>
            <div class="t-tree__item t-tree__item--open" style="--level: 3;">
              <span class="t-tree__line t-tree__line--first" style="--level: 3; box-shadow: calc(-1 * var(--space)) 0 var(--color),calc(-2 * var(--space)) 0 var(--color);"></span>
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2.1.1.1</span>
            </div>
            <div class="t-tree__item" style="--level: 4;">
              <span class="t-tree__line t-tree__line--leaf t-tree__line--first" style="--level: 4; box-shadow: calc(-2 * var(--space)) 0 var(--color),calc(-3 * var(--space)) 0 var(--color);"></span>
              <span class="t-tree__icon"></span>
              <span class="t-tree__label">2.1.1.1.1</span>
            </div>
            <div class="t-tree__item" style="--level: 4;">
              <span class="t-tree__line t-tree__line--leaf" style="--level: 4; box-shadow: calc(-2 * var(--space)) 0 var(--color),calc(-3 * var(--space)) 0 var(--color);"></span>
              <span class="t-tree__icon"></span>
              <span class="t-tree__label">2.1.1.1.2</span>
            </div>
            <div class="t-tree__item t-tree__item--open" style="--level: 2;">
              <span class="t-tree__line t-tree__line--leaf" style="--level: 2; box-shadow: calc(-1 * var(--space)) 0 var(--color);"></span>
              <span class="t-tree__icon"></span>
              <span class="t-tree__label">2.1.2</span>
            </div>
            <div class="t-tree__item" style="--level: 1;">
              <span class="t-tree__line t-tree__line--leaf" style="--level: 1;"></span>
              <span class="t-tree__icon"></span>
              <span class="t-tree__label">2.2</span>
            </div>
            <div class="t-tree__item" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">4</span>
            </div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 选中态 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">选中态</h2>
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->

          <!-- tdesign-demo-block block内容容器，加了上间距 -->
          <div class="tdesign-demo-block">
            <div class="t-tree">
              <!-- 第0层 -->
              <div class="t-tree__item">
                <i class="t-tree__icon t-icon"></i>
                <label class="t-checkbox t-tree__label">
                  <input type="checkbox" class="t-checkbox__former" value="" />
                  <span class="t-checkbox__input"></span>
                  <span class="t-checkbox__label">1 未选中项</span>
                </label>
              </div>
              <!-- 第0层 -->
              <div class="t-tree__item">
                <i class="t-tree__icon t-icon"></i>
                <label class="t-checkbox t-tree__label t-is-disabled">
                  <input type="checkbox" class="t-checkbox__former" value="" />
                  <span class="t-checkbox__input"></span>
                  <span class="t-checkbox__label">2 未选禁用项</span>
                </label>
              </div>
              <!-- 第0层 -->
              <div class="t-tree__item">
                <i class="t-tree__icon t-icon"></i>
                <label class="t-checkbox t-tree__label t-is-indeterminate">
                  <input type="checkbox" class="t-checkbox__former" value="" />
                  <span class="t-checkbox__input"></span>
                  <span class="t-checkbox__label">3 半选中项</span>
                </label>
              </div>
              <!-- 第0层 -->
              <div class="t-tree__item">
                <i class="t-tree__icon t-icon"></i>
                <label class="t-checkbox t-tree__label t-is-indeterminate t-is-disabled">
                  <input type="checkbox" class="t-checkbox__former" value="" />
                  <span class="t-checkbox__input"></span>
                  <span class="t-checkbox__label">4 半选禁用项</span>
                </label>
              </div>
              <!-- 第0层 -->
              <div class="t-tree__item">
                <i class="t-tree__icon t-icon"></i>
                <label class="t-checkbox t-tree__label t-tree__label--strictly t-is-checked">
                  <input type="checkbox" class="t-checkbox__former" value="" />
                  <span class="t-checkbox__input"></span>
                  <span class="t-checkbox__label">5 选中项</span>
                </label>
              </div>
              <!-- 第0层 -->
              <div class="t-tree__item" style="--level: 1;">
                <i class="t-tree__icon t-icon"></i>
                <label class="t-checkbox t-tree__label t-is-checked t-is-disabled">
                  <input type="checkbox" class="t-checkbox__former" value="" />
                  <span class="t-checkbox__input"></span>
                  <span class="t-checkbox__label">5.1 选中禁用项 -- 通栏 label</span>
                </label>
              </div>
            </div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 高亮 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">高亮</h2>
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="t-tree">
            <div class="t-tree-list t-tree--hoverable">
              <!-- 第0层 -->
              <div class="t-tree__item t-tree__item--open">
                <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
                <span class="t-tree__label">1 节点一</span>
              </div>
              <!-- 第1层 -->
              <div class="t-tree__item t-tree__item--open" style="--level: 1;">
                <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
                <span class="t-tree__label">1.1 节点一点一</span>
              </div>
              <!-- 第2层 -->
              <div class="t-tree__item" style="--level: 2;">
                <i class="t-tree__icon t-icon"></i>
                <span class="t-tree__label">1.1.1 节点一点一点一</span>
              </div>
              <!-- 第0层 -->
              <div class="t-tree__item t-tree__item--open t-is-active">
                <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
                <span class="t-tree__label">2 节点二</span>
              </div>
              <!-- 第1层 -->
              <div class="t-tree__item t-is-active" style="--level: 1;">
                <i class="t-tree__icon t-icon"></i>
                <span class="t-tree__label">2.1 节点二点一</span>
              </div>
            </div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 可拖动 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">可拖动</h2>

        <!-- 灰底区域 可多个 -->
        <div class="tdesign-demo-item__body">
          <!-- 内容区 Start-->
          <div class="t-tree t-tree--draggable">
            <!-- 第0层 -->
            <div class="t-tree__item t-tree__item--draggable t-tree__item--dragging" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">1 dragging</span>
            </div>
            <!-- 第0层 -->
            <div class="t-tree__item t-tree__item--open t-tree__item--draggable t-tree__item--tip-top" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2 tip-top</span>
            </div>
            <!-- 第1层 -->
            <div class="t-tree__item t-tree__item--open t-tree__item--draggable t-tree__item--tip-bottom" style="--level: 1;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2.1 tip-bottom</span>
            </div>
            <!-- 第2层 -->
            <div class="t-tree__item t-tree__item--open t-tree__item--draggable" style="--level: 2;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">2.1.1 节点二点一点一</span>
            </div>
            <!-- 第3层 -->
            <div class="t-tree__item t-tree__item--draggable" style="--level: 3;">
              <span class="t-tree__icon"></span>
              <span class="t-tree__label">2.1.1.1 节点二点一点一点一</span>
            </div>
            <!-- 第3层 -->
            <div class="t-tree__item t-tree__item--draggable" style="--level: 3;">
              <span class="t-tree__icon"></span>
              <span class="t-tree__label">2.1.1.2 节点二点一点一点二 这是多文字的展示 这是多文字的展示 这是多文字的展示 这是多文字的展示 这是多文字的展示</span>
            </div>
            <!-- 第2层 -->
            <div class="t-tree__item t-tree__item--draggable" style="--level: 2;">
              <span class="t-tree__icon">
                <svg class="t-icon t-icon-loading t-icon-loading" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.5,8 C1.5,4.410375 4.410375,1.5 8,1.5 C11.589625,1.5 14.5,4.410375 14.5,8 L12.875,8 L12.875,8 C12.875,5.30761184 10.6923882,3.125 8,3.125 C5.30761184,3.125 3.125,5.30761184 3.125,8 C3.125,10.6923882 5.30761184,12.875 8,12.875 L8,14.5 C4.410375,14.5 1.5,11.589625 1.5,8 Z"/></svg>
              </span>
              <span class="t-tree__label">2.1.2 节点二点一点二</span>
            </div>
            <!-- 第0层 -->
            <div class="t-tree__item t-tree__item--draggable t-tree__item--tip-highlight" style="--level: 0;">
              <span class="t-tree__icon t-tree__icon--default"><svg fill="none" viewBox="0 0 16 16" width="1em" height="1em" class="t-icon t-icon-caret-right-small"><path fill="currentColor" d="M6 5v6l4.5-3L6 5z" fill-opacity="0.9"></path></svg></span>
              <span class="t-tree__label">3 tip-highlight</span>
            </div>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>
    </div>
  </body>
</html>
