@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

.@{prefix}-anchor {
  position: relative;
  background: @anchor-bg-color;
  width: @anchor-width-default;
  color: @anchor-text-color-default;
  font-size: @anchor-font-size;
  //锚点 item 被选中
  .@{prefix}-is-active > a {
    color: @anchor-text-color-active;
  }

  &.@{prefix}--affix {
    position: fixed;
    top: @anchor-affix-top;
    z-index: 11;
  }

  //锚点组件左侧线条
  &_line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: @anchor-border-color;
    // overflow: hidden;
    cursor: pointer;
  }

  &_line .point {
    position: absolute;
    display: block;
    width: @anchor-point-width;
    height: @anchor-point-height;
    top: -1 * @anchor-item-height;
    background-color: @anchor-text-color-active;
    transition: @anchor-point-transition;
  }

  //锚点item
  &-item {
    padding: @anchor-item-padding;

    .@{prefix}-anchor-item {
      padding: @anchor-sub-item-padding;
    }
  }

  &-item_link {
    display: inline-block;
    position: relative;
    line-height: @anchor-item-line-height;
    max-height: @anchor-item-max-height;
    overflow: hidden;
    word-break: break-all;
    color: @anchor-text-color-default;
    text-decoration: none;
    text-align: justify;
    margin-right: -4px;
    padding-right: 10px;
  }

  &-item_link:before {
    // 用于文字超出时显示...
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &-item_link::after {
    // 用于文字未超出时遮住...
    content: "";
    position: absolute;
    right: 0;
    width: 10px; // 文字溢出...的固定宽度，所以不做变量抽离
    height: @anchor-item-line-height;
    margin-top: 4px;
    background: @anchor-bg-color;
  }

  a:hover {
    color: @anchor-text-color-hover;
    cursor: pointer;
  }

  &.@{prefix}-size-s {
    width: @anchor-width-s;
  }
  &.@{prefix}-size-l {
    width: @anchor-width-l;
  }
}

.@{prefix}-anchor-target {
  cursor: pointer;
  font-size: @anchor-font-size;

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      display: none;
    }
  }

  //锚点hover样式
  //使用 t-popup组件包裹 <a class="t-icon t-icon-file-copy"></a>
  //默认隐藏
  .@{prefix}-copy {
    display: none;
  }
  //hover样式 展示
  &:hover .@{prefix}-copy {
    display: inline-block;
  }

  //激活锚点 滚动到指定锚点 标题后边出现定位提示
  //target属性参考文档https://developer.mozilla.org/zh-CN/docs/Web/CSS/:target
  &:target::after {
    display: inline-block;
    content: "";
    width: @anchor-target-width;
    height: @anchor-target-width;
    border-radius: 50%;
    background-color: @anchor-text-color-hover;
    vertical-align: middle;
    animation: @anchor-target-animation;
    animation-fill-mode: forwards;
  }
}
