@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-anchor {
  position: relative;
  background: @bg-color-block;
  width: @anchor-width-default;
  color: @anchor-text-color-default;
  font-size: @anchor-font-base;

  .@{prefix}-is-active>a {
    color: @anchor-text-color-hover;
  }

  &.@{prefix}--affix {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 11;
  }


  &_line {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: @border-level-1-color;
    overflow: hidden;
    cursor: pointer;
  }

  &_line .point {
    position: absolute;
    display: block;
    width: 100%;
    height: 16px;
    top: -1*@anchor-item-height;
    transform: translateY(4px);
    background-color: @anchor-text-color-hover;
  }


  &-item {
    padding: 0 8px 0 16px;
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
    word-break: break-all;
  }

  &-item_link {
    color: @anchor-text-color-default;
    text-decoration: none;
  }

  a:hover {
    color: @anchor-text-color-hover;
    cursor: pointer;
  }

  &.@{prefix}-size-s {
    width: @anchor-width-s;
  }
  &.@{prefix}-size-l {
    width: @anchor-width-l;
  }
}

.@{prefix}-anchor-target{
  cursor: pointer;

  font-size: @anchor-font-base;
  
  //&:hover
  @keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
//激活锚点 滚动到指定锚点 标题后边出现定位提示
&.@{prefix}-is-active::after{
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: @anchor-text-color-hover;
    vertical-align: middle;
    animation: fadeOut 2s 3s linear 1;
    animation-fill-mode: forwards
  }

}
