.button() {
  font-size: @btn-font-default;
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: @btn-border-radius;
}
.button-size(@height;@font-size;@padding-horizontal) {
  height: @height;
  line-height: (@height - 4px);
  font-size: @font-size;
  padding-left: @padding-horizontal;
  padding-right: @padding-horizontal;

  .@{prefix}-icon {
    font-size: @font-size;
  }
}
