//字号
@btn-font-s:@font-size-s;
@btn-font-default:@font-size-base;
@btn-font-l:@font-size*1.6;

// padding
@btn-padding-horizontal-s:@spacer;
@btn-padding-horizontal-default:@spacer*2;
@btn-padding-horizontal-l:@spacer*3;


