//文字颜色
@anchor-text-color-default: @text-level-1-color;
@anchor-text-color-hover: @primary-color;

// 尺寸
@anchor-width-s: 120px;
@anchor-width-default: 200px;
@anchor-width-l: 320px;

//字号
@anchor-font-base: @font-size-base;
