@import '../swiper-nav/_var.less';

@swiper-border-radius: var(--td-swiper-border-radius, 8px);
@swiper-placement-outside-padding: var(--td-swiper-placement-outside-padding, calc(@spacer-1 + @swiper-nav-dot-size));
@swiper-item-left-padding: var(--td-swiper-item-left-padding, 6px);
@swiper-item-right-padding: var(--td-swiper-item-right-padding, 6px);
