// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";
// 进度条基本样式
.@{prefix}-progress--bar {
  width: 100%;
  height: 4px;
  background: @progress-track-color;
  border-radius: 2px;
  overflow: hidden;

  &--inner {
    position: relative;
    height: 100%;
    background: @progress-inner-color;
  }

  &--info {
    min-width: 2em;
    margin-left: 10px;
    color: @progress-info-dark;
    white-space: nowrap;


  }

  &-icon {
    font-size: inherit;
  }
}

//标准进度条
.@{prefix}-progress--thin {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .@{prefix}-progress--bar {
    height: 6px;
    border-radius: 3px;
  }

  &--info {
    white-space: nowrap;
  }
}

//条形进度条 百分比内置
.@{prefix}-progress--plump {
  height: 18px;
  border-radius: 9px;

  .@{prefix}-progress--bar--info {
    min-width: 2em;
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 8px;
    font-size: 12px;
    transform: translateY(-50%);
  }
}

//环形
.@{prefix}-progress--circle {
  position: relative;

  .@{prefix}-progress--bar--info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 2em;
    margin: 0;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

//进度条图标样式
.@{prefix}-progress--icon {
  font-size: 17px;
}

//进度条状态
.@{prefix}-progress--status--active {
  .@{prefix}-progress--bar--inner {

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: "";
      animation: progress-active-animation 2s cubic-bezier(.23, .99, .86, .2) infinite;
      background: @progress-info-light;
      opacity: .2;
    }
  }
}

.@{prefix}-progress--status--success {
  .@{prefix}-progress--bar--inner {
    background: @progress-success;
  }

  .@{prefix}-progress--icon {
    color: @progress-success;
  }
}

.@{prefix}-progress--status--warning {
  .@{prefix}-progress--bar--inner {
    background: @progress-warning;
  }

  .@{prefix}-progress--icon {
    color: @progress-warning;
  }
}

.@{prefix}-progress--status--error {
  .@{prefix}-progress--bar--inner {
    background: @progress-error;
  }

  .@{prefix}-progress--icon {
    color: @progress-error;
  }
}

@keyframes progress-active-animation {

  0% {
    width: 0;
    opacity: .1;
  }

  35% {
    width: 50%;
    opacity: .4;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

