@import './_var.less';

.@{prefix}-table__pagination-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    width: 132.5px;
  }

  &__indicator {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
}
