// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-notification {
  .notification;

  &__icon--wrap {
    width: 20px;
    text-align: center;
  }

  &__main--wrap {
    flex: 1;
    margin-left: 10px;
  }

  &__title--wrap {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    height: 24px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #000;
    line-height: 24px;
  }

  &__icon--close {
    cursor: pointer;
  }

  &__content {
    // height: 22px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #444;
    line-height: 22px;
    margin-top: 8px;
    max-height: 66px;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    // 需要排查兼容性
    // 暂时没找到其他方案，先ignore

    /* stylelint-disable-next-line */
    display: -webkit-box;
    -webkit-line-clamp: 3;

    /* stylelint-disable-next-line */
    -webkit-box-orient: vertical;
  }

  &__detail {
    margin-top: 21px;
    text-align: right;
    height: 22px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 22px;
  }

  &__detail--item {
    padding: 5px 16px;
    cursor: pointer;
  }

  &__detail--item:hover {
    background: #f5f5f5;
    border-radius: 2px;
  }

  &__detail--item:active {
    background: #ddd;
    border-radius: 2px;
  }

  &__detail--item + &__detail--item {
    margin-left: 24px;
  }

  &__detail--active {
    color: #0052d9;
  }

  // animation
  &__show--top-left {
    animation-duration: .3s;
    animation-name: slidein-top-left;
    position: fixed;
    top: 16px;
    left: 16px;

    @keyframes slidein-top-left {
    
      from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
      }
    
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__show--top-right {
    animation-duration: .3s;
    animation-name: slidein-top-right;
    position: fixed;
    top: 16px;
    right: 16px;

    @keyframes slidein-top-right {
    
      from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
      }
    
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__show--bottom-left {
    animation-duration: .3s;
    animation-name: slidein-bottom-left;
    position: fixed;
    bottom: 16px;
    left: 16px;

    @keyframes slidein-bottom-left {
    
      from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
      }
    
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__show--bottom-right {
    animation-duration: .3s;
    animation-name: slidein-bottom-right;
    position: fixed;
    bottom: 16px;
    right: 16px;

    @keyframes slidein-bottom-right {
    
      from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
      }
    
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

