// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-notification {
  .notification;

  &__titleWrap {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    height: 24px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #000;
    line-height: 24px;
  }

  &__content {
    height: 22px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #444;
    line-height: 22px;
    padding-top: 8px;
  }
}

