// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-notification {
  .notification;

  &__icon {
    width: 24px;
    text-align: center;
    margin-right: 8px;

    .@{prefix}-icon {
      font-size: 24px;
    }
  }

  // icon theme
  .@{prefix}-icon.t-is-info {
    color: @primary-color;
  }

  .@{prefix}-icon.t-is-success {
    color: @success-color;;
  }

  .@{prefix}-icon.t-is-warning {
    color: @warning-color;
  }

  .@{prefix}-icon.t-is-error {
    color: @error-color;
  }

  &__main {
    flex: 1;
  }

  &__title__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: @text-level-1-color;
    line-height: 24px;
  }

  .@{prefix}-icon-close {
    cursor: pointer;
    font-size: 16px;
    color: @text-level-2-color;
  }

  &__content {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: @text-level-2-color;
    line-height: 22px;
    margin-top: 8px;
    max-height: 66px;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    word-break: break-all;
    // 需要排查兼容性
    // 暂时没找到其他方案，先ignore

    /* stylelint-disable-next-line */
    display: -webkit-box;
    -webkit-line-clamp: 3;

    /* stylelint-disable-next-line */
    -webkit-box-orient: vertical;
  }

  &__detail {
    margin-top: 21px;
    text-align: right;
    height: 22px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 22px;
  }

  &__detail--item {
    padding: 5px 16px;
    cursor: pointer;
  }

  &__detail--item:hover {
    background: @bg-color-hover;
    border-radius: 2px;
  }

  &__detail--item:active {
    background: @border-radius;
    border-radius: @border-radius;
  }

  &__detail--item + &__detail--item {
    margin-left: 8px;
  }

  &__detail--item.t-is-active {
    color: @primary-color-8;
  }

  // animation
  &__show--top-left {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  &__show--top-left > & {
    animation-duration: .3s;
    animation-name: slidein-top-left;

    @keyframes slidein-top-left {

      from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
      }

      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  
  &__show--top-right {
    position: fixed;
    top: 0;
    right: 0;
  }
  
  &__show--top-right > & {
    animation-duration: .3s;
    animation-name: slidein-top-right;
  
    @keyframes slidein-top-right {
  
      from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
      }
  
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  
  &__show--bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  
  &__show--bottom-left > & {
    animation-duration: .3s;
    animation-name: slidein-bottom-left;
  
    @keyframes slidein-bottom-left {
  
      from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
      }
  
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
  
  &__show--bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  
  &__show--bottom-right > & {
    animation-duration: .3s;
    animation-name: slidein-bottom-right;
  
    @keyframes slidein-bottom-right {
  
      from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
      }
  
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

