.notification() {
  font-size: @notification-font-default;
  outline: 0;
  border: 0;
  background-color: @notification-color-block;
  display: flex;
  box-shadow: @notification-shadow;
  box-sizing: border-box;
  border-radius: @border-radius;
  .notification-size(@notification-width-default, @notification-font-size, @notification-padding-default)
}

.notification-size(@height; @font-size; @padding-horizontal) {
  width: @height ;
  font-size: @font-size;
  padding: @padding-horizontal;
}