@switch-font-size: @font-size * 1.6;

@switch-width: 44px;

@switch-height: 24px;

@switch-border-radius: 15px;

@switch-background-color: @gray-color-5;

@switch-node-font-size: @font-size-s;

@switch-node-width: 20px;

@switch-node-height: 20px;

@switch-node-z-index: 1;

@switch-node-color: @bg-color-block;

@switch-node-background-color: @bg-color-block;

@switch-node-box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);

@switch-checked-background-color: @primary-color;

@switch-checked-translate-x: 22px;

@switch-text-color: @text-level-1-color;

@switch-text-height: 24px;

@switch-text-margin: 0 18px;
