// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "../../mixins/_reset.less";

// <name> 替换为组件名
.@{prefix}-qr-code {
  background-color: @bg-color-container;
  padding: @comp-paddingTB-l @comp-paddingLR-l;
  border-radius: @border-radius-medium;
  border: 1px solid @component-border;

  &.@{prefix}-borderless {
    padding: 0;
    border-radius: 0;
    border-color: transparent;
  }
}
