@import "../../../base.less";

@import "./_var.less";

.@{prefix}-dialog {
  overflow: hidden;
  width: @dialog-width;
  border-radius: @radius-default;
  background-color: @bg-color-container;
  max-height: @dialog-max-height;
  padding: @dialog-top-padding @dialog-bottom-padding;

  &__header {
    text-align: center;
    font-weight: bold;
    font-size: @dialog-title-font-size;
    line-height: @dialog-title-line-height;
    color: @dialog-title-color;
    &--has-content {
      padding-bottom: @dialog-header-content-bottom-padding;
    }
  }

  &__body {
    text-align: center;
    -webkit-overflow-scrolling: touch;
    font-size: @dialog-content-font-size;
    color: @dialog-content-color;
    line-height: @dialog-content-line-height;
    padding-bottom: @dialog-body-bottom-padding;
    overflow-y: auto;
    max-height: @dialog-body-max-height;

    &-text {
      word-wrap: break-word;
    }

    &::-webkit-scrollbar-thumb {
      width: @dialog-body-scroll-thumb-width;
      height: @dialog-body-scroll-thumb-height;
      border-radius: @radius-small;
      opacity: 0.5;
      background: @gray-color-4;
    }

  }

  &__footer {
    position: relative;
    display: flex;
    &--column {
      flex-flow: column-reverse;
    }
  }

  &__btn {
    position: relative;
    display: block;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: @radius-default;
    height: @dialog-btn-height;
    line-height: @dialog-btn-height;

    &--default {
      color: @brand-color-7;
      background: @brand-color-2;
    }


    &--primary {
      color: @brand-color-1;
      background: @brand-color-7;
    }

    &--default +  &--primary {
      margin-left: 12px;
    }

    // &--horizontal + &--horizontal {
    //   margin-left: 24rpx;
    // }

    // &--vertical + &--vertical {
    //   margin-bottom: 24rpx;
    // }
  }
}
