@dialog: ~"@{prefix}-dialog";
@dialogBtn: ~"@{dialog}__button";

// size
@dialog-width: var(--td-dialog-width, 311px);
@dialog-max-height: var(--td-dialog-max-height, 456px);
@dialog-body-max-height: var(--td-dialog-body-max-height, 320px);
@dialog-btn-height: var(--td-dialog-btn-height, 40px);
@dialog-body-scroll-thumb-width: 4px;
@dialog-body-scroll-thumb-height: 60px;

// padding
@dialog-top-padding: 32px;
@dialog-bottom-padding: 24px;
@dialog-header-content-bottom-padding: 8px;
@dialog-body-bottom-padding: 24px;

// font size
@dialog-title-font-size: var(--td-dialog-title-font-size, 18px);
@dialog-content-font-size: var(--td-dialog-content-font-size, 16px);

// line height
@dialog-title-line-height: var(--td-dialog-title-line-height, 36px);
@dialog-content-line-height: var(--td-dialog-content-line-height, 24px);

// color
@dialog-title-color: var(--td-dialog-title-color, @font-gray-1);
@dialog-content-color: var(--td-dialog-content-color, @font-gray-2);
