@image-color: var(--td-image-color, @font-gray-3);
@image-loading-bg-color: var(--td-image-loading-bg-color, @bg-color-secondarycontainer);
@image-loading-color: var(--td-image-loading-color, @font-gray-3);
@image-round-radius: var(--td-image-round-radius, @radius-default);
