// variable of less of time-picker

// size
@time-picker-width-common: 320px; // time-picker的宽度
@time-picker-panel-section-width: 640px; // range-picker的宽度
@time-picker-panel-width: (@time-picker-width-common - 16px);

@time-picker-input-height: 32px;
@time-picker-container-top: (@time-picker-input-height + 2px);

@time-picker-font-size: @font-size-base;

@time-picker-panel-body-height: 326px;
@time-picker-panel-item-height: 32px;
@time-picker-input-item-input-width: 28px;
@time-picker-input-item-input-meridiem-width: 36px;

@time-picker-panel-footer-height: 72px;

// color

@time-picker-background-color-common: transparent;

@time-picker-input-border-color-hover: @brand-color;
@time-picker-input-text-color: @text-color-primary;
@time-picker-input-color-disabled: @text-color-disabled;
@time-picker-input-color-focused: @brand-color;

@time-picker-input-shadow-active: 0 0 2px 2px @brand-color-focus;

@time-picker-panel-input-color: @text-color-primary;

@time-picker-panel-input-placeholder-color: @text-color-placeholder;

@time-picker-panel-item-color: @text-color-primary;
@time-picker-panel-item-color-current: #ffffff;
@time-picker-panel-item-background-color-current: @brand-color;
@time-picker-panel-item-background-color-hover: @bg-color-container-hover;
@time-picker-panel-item-background-color-active: @bg-color-container-active;

@time-picker-panel-dropdown-box-shadow: 0 1px 6px rgba(0, 0, 0, .15);

// box-sizing
@time-picker-input-border: 1px solid @border-level-2-color;
@time-picker-input-border-active: 1px solid @brand-color;
@time-picker-input-border-disabled: 1px solid @border-level-2-color;

@time-picker-input-padding: 0 @spacer 0 (@spacer / 2);
@time-picker-input-placeholder-margin-left: @spacer;
@time-picker-input-item-input-margin: 0 2px;
@time-picker-input-item-input-radius: @border-radius;

@time-picker-panel-container-margin: @spacer 0;
@time-picker-panel-body-margin: @spacer-3 0 0 0;
@time-picker-panel-body-padding: 0 @spacer-2;
@time-picker-panel-item-border-radius: @border-radius;
@time-picker-panel-item-margin: @spacer;
@time-picker-panel-section-second-body-margin-left: @spacer-4;

@time-picker-panel-footer-padding: 0 @spacer-3;
