@import '../../base.less';

@import './_var.less';

@import './_mixin.less';

@import '../../mixins/_reset.less';

.@{prefix}-descriptions {
  .reset;

  @root: ~'.@{prefix}-descriptions';

  &__header {
    color: @text-color-primary;
    font: @font-title-medium;
    margin-bottom: @descriptions-header-margin;
    font-weight: 600;
  }

  &__body {
    border-collapse: collapse;
    border-spacing: 0;
    color: @descriptions-content-color;
    font: @font-body-medium;
    width: 100%;

    .generate-padding(l, @descriptions-borderless-padding-l);
    .generate-padding(m, @descriptions-borderless-padding-m);
    .generate-padding(s, @descriptions-borderless-padding-s);

    & @{root}__label,
    & @{root}__content {
      box-sizing: border-box;
      line-height: @descriptions-item-line-height;
      vertical-align: top;
    }

    & @{root}__label {
      color: @descriptions-label-color;
    }

    & @{root}__content {
      color: @descriptions-content-color;
      word-break: break-word;
    }

    &--fixed {
      table-layout: fixed;
    }

    &:not(&--border) {
      @{root}__label {
        min-width: @descriptions-borderless-label-min-width;
        padding-right: @descriptions-borderless-label-padding-right;
        text-align: right;
        white-space: nowrap;
      }

      @{root}__content {
        padding-right: @descriptions-borderless-content-padding-right;
      }

      > tbody {
        > tr {
          > td:last-child {
            padding-right: 0;
          }
        }
      }
    }

    &--border {
      > tbody {
        > tr {
          > td {
            border: @descriptions-td-border;
          }
        }
      }

      .generate-padding(l, @descriptions-border-padding-l);
      .generate-padding(m, @descriptions-border-padding-m);
      .generate-padding(s, @descriptions-border-padding-s);

      @{root}__label {
        background-color: @bg-color-secondarycontainer;

        &:hover {
          background-color: @bg-color-container-hover;
        }
      }
    }
  }
}
