@import "../../base.less";

@import "./_var.less";

.@{prefix}-descriptions {


  // layout
  .@{prefix}-descriptions--horizontal {
    display: flex;
    flex-wrap: wrap;
  }

  // bordered
  .@{prefix}-descriptions-border {

    table,
    th,
    td {
      border: 1px solid @component-border;
    }
  }

  .@{prefix}-descriptions__item {
    flex-wrap: wrap;
    display: flex;

    // label-align
    &-label {
      background-color: @bg-color-secondarycontainer;
      position: relative;
      color: @text-color-placeholder;

      table,
      tbody,
      tr,
      td {
        border-collapse: collapse;
      }

      &:hover {
        background-color: @bg-color-component-hover;
      }
    }

    &-label--left {
      text-align: left;
    }

    &-label--right {
      text-align: right;
    }

    &-label--top {
      flex-direction: column;

      &-label {
        text-align: left;
      }
    }

    // colon
    &-label--colon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }

    // size
    .@{prefix}-size-s {
      padding: @descriptions-item-padding-s;
    }

    .@{prefix}-size-m {
      padding: @descriptions-item-padding-m;
    }

    .@{prefix}-size-l {
      padding: @descriptions-item-padding-l;
    }

    &-content {
      color: @text-color-primary;

      &:hover {
        background-color: @bg-color-component-hover;
      }
    }

    // content-align
    &-content-align--center {
      text-align: center;
    }
  }

}
