// title 的间距
@descriptions-header-margin: @comp-margin-m;

// 有边框间距
@descriptions-border-padding-l: @comp-paddingTB-l;
@descriptions-border-padding-m: @comp-paddingLR-m @comp-paddingLR-l;
@descriptions-border-padding-s: @comp-paddingLR-s @comp-paddingLR-l;

// 无边框间距
@descriptions-borderless-padding-l: @comp-paddingTB-l 0;
@descriptions-borderless-padding-m: @comp-paddingTB-m 0;
@descriptions-borderless-padding-s: @comp-paddingTB-s 0;

// border
@descriptions-td-border: 1px solid @component-border;
