// 尺寸
// @descriptions-height-s: @comp-size-xs;
// @descriptions-height-default: @comp-size-m;
// @descriptions-height-l: @comp-size-xl;

// 字号
// @descriptions-font-l: @font-body-large;
// @descriptions-font-default: @font-body-medium;
// @descriptions-font-s: @font-body-small;

// 间距
@descriptions-padding-l: @comp-paddingTB-l;
@descriptions-padding-m: @comp-paddingLR-m @comp-paddingLR-l;
@descriptions-padding-s: @comp-paddingLR-s @comp-paddingLR-l;
