@import '../../base.less';

@import './_var.less';

.@{prefix}-fab {
  position: fixed;

  &__button {
    box-shadow: @fab-shadow;
  }

  // 吸附动画
  &--animation {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
