@import "../../base.less";

@import "./_var.less";

.@{prefix}-fab {
  position: fixed;

  &__button {
    box-shadow: @fab-shadow;

    --td-button-default-color: @fab-button-default-color;
    --td-button-default-bg-color: @fab-button-default-bg-color;
  }
}
