.@{d-prefix}-demo-item--input {
  .@{d-prefix}-demo-item--input__input-box {
    >.@{prefix}-input + .@{prefix}-input {
      margin-top: 8px;
    }

    >div + div {
      margin-top: 8px;
    }
    >.@{prefix}-input, > div {
      max-width: 500px;
    }
  }
}
