// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-input {
  display: inline-block;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  // 真正的输入框
  &__inner {
    height: @input-height-default;
    line-height: @input-height-default;
    .input-inner-base();
  }
  // 底部的额外消息
  &__extra {
    font-size: @input-extra-fontsize;
    color: @input-extra-color-default;
  }

  // 输入框后面的状态图标
  &__status {
    position: absolute;
    right: -@spacer*3;
    top: 0;
  }

  // 输入框状态
  .input-status(success);
  .input-status(warning);
  .input-status(error);
  .input-disabled();

  // 输入框的前置、后置图标
  .input-fix-position(prefix);
  .input-fix-position(suffix);

  .@{prefix}-input__suffix-clear {
    cursor: pointer;
  }

  // 输入框大小
  &.@{prefix}-size-l {
    &>.@{prefix}-input__inner {
      height: @input-height-high;
      line-height: @input-height-high;
    }
  }

  .@{prefix}-input__prefix,
  .@{prefix}-input__suffix {
    .@{prefix}-icon {
      color: @text-level-3-color;
    }
  }

  // 输入框被聚焦
  &.@{prefix}-is-focused {
    .@{prefix}-input__prefix,
    .@{prefix}-input__suffix {
      .@{prefix}-icon {
        color: @input-border-color-default-focus;
      }
    }
  }
}

.@{prefix}-input-group {
  position: relative;
  display: inline-flex;
  align-items: stretch;

  .@{prefix}-input {
    .@{prefix}-input__inner {
      border-radius: 0;
    }

    &:first-child {
      .@{prefix}-input__inner {
        border-radius: @border-radius 0 0 @border-radius;
      }
    }

    &:last-child {
      .@{prefix}-input__inner {
        border-radius: 0 @border-radius @border-radius 0;
      }
    }
  }

  .@{prefix}-input,
  .@{prefix}-button,
  .@{prefix}-select {
    border-radius: 0;

    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .@{prefix}-button,
  .@{prefix}-select {

    &:first-child {
      border-radius: @border-radius 0 0 @border-radius;
    }

    &:last-child {
      border-radius: 0 @border-radius @border-radius 0;
    }
  }

  &--seperate {
    .@{prefix}-input + .@{prefix}-input {
      margin-left: 8px;
    }
    .@{prefix}-button,
    .@{prefix}-select {
      border-radius: @border-radius;

      &:first-child,
      &:last-child {
        border-radius: @border-radius;
      }
    }
    .@{prefix}-input {

      &:first-child,
      &:last-child {
        .@{prefix}-input__inner {
          border-radius: @border-radius;
        }
      }
    }
  }

  .@{prefix}-input__inner,
  .@{prefix}-button,
  .@{prefix}-select {
    position: relative;
    z-index: 0;

    &:hover,
    &:focus,
    &:active {
      z-index: 1;
    }
  }
}

.@{prefix}-addon {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  .addon-item(prepend);
  .addon-item(append);

  &>.@{prefix}-input {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
  }

  &--prepend {
    &>.@{prefix}-input {
      .@{prefix}-input__inner {
        border-radius: 0 @border-radius @border-radius 0;
      }
    }
  }

  &--append {
    &>.@{prefix}-input {
      .@{prefix}-input__inner {
        border-radius: @border-radius 0 0 @border-radius;
      }
    }
  }

  &--prepend&--append {
    &>.@{prefix}-input {
      .@{prefix}-input__inner {
        border-radius: 0;
      }
    }
  }
}

.@{prefix}-textarea {
  width: 100%;
  position: relative;
  box-sizing: border-box;

  &.@{prefix}-is-disabled {

    .@{prefix}-textarea__inner {
      color: @input-text-color-disabled;
      background-color: @input-bg-color-disabled;
      cursor: not-allowed;

      &:hover {
        border-color: @input-border-color-default;
      }
    }
  }

  // 真正的textarea
  &__inner {
    .input-inner-base();
    padding: @input-padding-horizontal-default - .7px @input-padding-horizontal-default;
  }

  // 限制字数的textarea
  &.@{prefix}-textarea--limit {
    &>.@{prefix}-textarea__inner {
      resize: none;
      padding-bottom: @spacer*3;
    }
    &>.@{prefix}-textarea__count {
      position: absolute;
      bottom: @spacer - 2;
      right: @spacer - 2;
      font-size: @input-fontsize;
      color: @input-extra-color-default;
    }
  }
}
