@import "../../base.less";

@import "./_var.less";

.@{prefix}-collapse-panel {
  // height: @collapse-header-height;
  overflow: hidden;
  transition: height 200ms ease-in-out;
  box-shadow: @collapse-shadow-bottom;
  background-color: #fff;

  &--active {
    height: auto;
  }

  &--disabled {
    pointer-events: none;

    .@{prefix}-collapse-panel__content,
    .@{prefix}-collapse-panel__header {
      opacity: .3;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 @collapse-horizontal-padding;
    height: @collapse-header-height;
    box-shadow: @collapse-shadow-bottom;
    color: @collapse-header-text-color;
  }

  &__header-right {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  &__header-extra:not(:empty) {
    padding-right: 4px;
  }

  &__header-icon {
    // 增大热区
    height: 100%;
    width: 24px;
    color: rgba(0, 0, 0, 40%);
  }

  &__title {
    font-size: @collapse-title-font-size;
  }

  &__body {
    box-shadow: @collapse-shadow-bottom;
  }

  &__content {
    color: @collapse-content-text-color;
    font-size: @collapse-content-font-size;
    padding: @collapse-content-padding;
    line-height: @collapse-content-line-height;
  }
}
