.step-item-basic() {
  .@{prefix}-steps-item {
    flex: 1;
    overflow: hidden;
    vertical-align: top;
    margin-right: @spacer;
    position: relative;

    &:last-child {
      flex: none;
    }

    &__inner {
      width: fit-content;
      position: relative;
      display: flex;

      &.@{prefix}-steps-item-canclick {
        cursor: pointer;
      }
    }

    &--finish {
      .default-anchor-status(finish);
    }

    &--process {
      .default-anchor-status(process);
    }

    &--error {
      .default-anchor-status(error);
    }

    &-icon {
      vertical-align: top;
      font-size: @font-size-base;
      margin-right: @spacer;
      color: @border-level-2-color;

      &__number {
        .default-step-icon;
        color: @border-level-2-color;
        border: 1px solid @border-level-2-color;
      }

      &__finish {
        .default-step-icon;
        border: 1px solid @primary-color;
      }

      &__error {
        .default-step-icon;
        border: 1px solid @error-color-6;
        color: #000;
      }


      & > .t-icon {
        font-size: 24px;
      }
    }

    &-title {
      position: relative;
      padding-right: @spacer;
      color: @text-color-placeholder;
      font-size: @font-size-l;
      line-height: 24px;
    }

    &-description {
      color: @text-color-placeholder;
      font-size: @font-size-base;
      margin-bottom: @spacer;
      line-height: 22px;
    }
  }
}
// step 图标状态
.default-step-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  margin-top: 3px;
  font-size: @font-size-l;
}

// anchor 状态
@anchor-status: wait;
.default-anchor-status(@anchor-status) {
  & when(@anchor-status = wait) {
  };

  & when(@anchor-status = finish) {
    .@{prefix}-steps-item-icon {
      .t-icon {
        color: @primary-color;
      }
    }

    .@{prefix}-steps-item-title {
      color: @text-level-1-color;
    }

    .@{prefix}-steps-item-description {
      color: @text-color-secondary;
    }
  };
  & when(@anchor-status = process) {
    .@{prefix}-steps-item-icon {
      .t-icon {
        color: @primary-color;
      }

      &__number {
        border-color: @primary-color;
        background-color: @primary-color;
        color: @text-anti-primary-color;
        font-weight: bold;
      }
    }

    .@{prefix}-steps-item-title {
      color: @primary-color;
    }

    .@{prefix}-steps-item-description {
      color: @text-color-secondary;
    }
  };
  & when(@anchor-status = error) {
    .@{prefix}-steps-item-icon {
      .t-icon {
        color: #000;
        // color: @error-color;
      }

      &__number {
        color: @error-color;
        border-color: @error-color;
      }
    }

    .@{prefix}-steps-item-title {
      color: @error-color;
    }

    .@{prefix}-steps-item-description {
      color: @text-color-secondary;
    }
  };
};

.dot-anchor-status(@anchor-status) {
  & when(@anchor-status = wait) {};
  & when(@anchor-status = finish) {
    .@{prefix}-steps-item-icon {
      border-color: @primary-color;
    }
  };
  & when(@anchor-status = process) {
    .@{prefix}-steps-item-icon {
      background: @primary-color;
      border-color: @primary-color;
    }
  };
  & when(@anchor-status = error) {
    .@{prefix}-steps-item-icon {
      background: @error-color;
      border-color: @error-color;
    }
  };
}

// icon 和 内容
@item-direction: horizontal;
.dot-icon(@item-direction) {
  .@{prefix}-steps-item-icon {
    display: block;
    width: @spacer;
    height: @spacer;
    border: 2px solid @border-level-2-color;
    border-radius: 50%;
    margin-bottom: @spacer;
    position: relative;
    & when(@item-direction = vertical) {
      top: @dot-steps-anchor-position-top;
    }
  }
  .@{prefix}-steps-item-content {
    & when(@item-direction = horizontal) {
      text-align: center;
      width: @dot-steps-content-width;
    }
  }
}

// 连接线
.connector-default(@direction; @isReverse:false) {
  & when (@direction = horizontal) {
    .@{prefix}-steps-item:not(:last-child) {
      .@{prefix}-steps-item-title:after {
        content: "";
        display: block;
        width: 9999px;
        height: 1px;
        background: @border-level-2-color;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .@{prefix}-steps-item--finish:not(:last-child) {
      .@{prefix}-steps-item-title:after {
        background: @primary-color;
      }
    }
  }

  & when (@direction = vertical) {
    .@{prefix}-steps-item {
      padding-bottom: @spacer-3;
      margin-bottom: 5px;

      & when(@isReverse = false) {
        &:not(:last-child):before {
          content: "";
          display: block;
          height: 100%;
          width: 1px;
          background: @border-level-2-color;
          position: absolute;
          left: 11px;
          top: 35px;
        }

        &--finish {
          &:not(:last-child):before {
            background: @primary-color;
          }
        }
      }
      & when(@isReverse = true) {
        &:not(:first-child):before {
          content: "";
          display: block;
          height: 100%;
          width: 1px;
          background: @border-level-2-color;
          position: absolute;
          left: 11px;
          top: 35px;
        }

        &--process {
          &:not(:first-child):before {
            background: @primary-color;
          }
        }
      }
    }
  }
}

.connector-dot(@direction; @isReverse:false) {
  & when(@direction = horizontal) {
    .@{prefix}-steps-item:not(:last-child) {
      &:after {
        content: "";
        display: block;
        width: calc(100% - @spacer-2);
        height: 1px;
        background: @border-level-2-color;
        position: absolute;
        left: calc(@dot-steps-content-width / 2 + @spacer);
        top: @dot-steps-connector-position-top-horizontal;
      }
    }

    .@{prefix}-steps-item--finish:not(:last-child) {
      &:after {
        background: @primary-color;
      }
    }
  }
  & when(@direction = vertical) {
    .@{prefix}-steps-item {

      & when(@isReverse = false) {
        &:not(:last-child):before {
          content: "";
          display: block;
          height: 100%;
          width: 1px;
          background: @border-level-2-color;
          position: absolute;
          left: @dot-steps-connector-position-left-vertical;
          top: @dot-steps-connector-position-top-vertical;
        }

        &--finish {
          &:not(:last-child):before {
            background: @primary-color;
          }
        }
      }
      & when(@isReverse = true) {
        margin-bottom: 0;

        &:not(:first-child):before {
          content: "";
          display: block;
          height: 100%;
          width: 1px;
          background: @border-level-2-color;
          position: absolute;
          left: @dot-steps-connector-position-left-vertical;
          top: @dot-steps-connector-position-top-vertical;
        }

        &:fist-child:before {
          display: none;
        }

        &--process, {
          &:not(:first-child):before {
            background: @primary-color;
          }
        }
      }
    }
  }
}