// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";

.@{prefix}-tag {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  padding: @tag-medium-padding;
  height: @tag-height-medium;
  font-size: @tag-medium-font-size;
  line-height: @tag-line-height-medium;
  color: @tag-text-color;
  box-sizing: border-box;
  border-radius: @tag-border-radius-square;
  border: @tag-default-border-width solid @tag-default-border-color;
  white-space: nowrap;

  .@{prefix}-icon {
    margin-right: 4px;
    width: @tag-icon-size;
    height: @tag-icon-size;
  }

  .@{prefix}-icon-close {
    margin-right: 0;
    margin-left: 4px;
    fill: @tag-close-icon-color;
    font-size: @tag-large-font-size;
    cursor: pointer;
    transition: fill @anim-duration-base @anim-time-fn-easing;

    &:hover {
      fill: @tag-close-icon-hover-color;
    }
  }

  ::selection {
    background: transparent;
  }

  &--default {
    color: @tag-text-color-1;
    background-color: @tag-default-background-color;

    &.@{prefix}-tag--checked {
      color: @tag-checked-color;
      background-color: @tag-checked-background-color;

      &:hover {
        background-color: @tag-checked-hover-bg;
      }
    }

    &:active {
      cursor: default;
    }

    &.@{prefix}-tag--check {
      transition: background-color @anim-duration-base @anim-time-fn-easing;
      cursor: pointer;

      &:hover:not(.@{prefix}-tag--checked):not(.@{prefix}-tag--disabled) {
        background-color: @tag-check-hover-bg;
      }
    }

    // 失效标签
    &.@{prefix}-tag--disabled {
      color: @tag-disabled-color;
      background-color: @tag-disabled-bg;
      cursor: not-allowed;

      &:hover {
        color: @tag-disabled-color;
        background-color: @tag-disabled-bg;
      }

      .@{prefix}-icon {
        color: @tag-disabled-color;
        cursor: not-allowed;

        &:hover {
          color: @tag-close-icon-hover-color;
          background-color: transparent;
          cursor: not-allowed;
        }
      }
    }
  }

  &--primary {
    background-color: @tag-primary-color;

    &.@{prefix}-tag--plain {
      color: @tag-primary-color;
    }
    .@{prefix}-icon-close {
      &:hover {
        color: @tag-primary-color;
        background-color: @tag-primary-color-light;
      }
    }
  }

  &--success {
    background-color: @tag-success-color;

    &.@{prefix}-tag--plain {
      color: @tag-success-color;
    }
    .@{prefix}-icon-close {
      &:hover {
        color: @tag-success-color;
        background-color: @tag-success-color-light;
      }
    }
  }

  &--warning {
    background-color: @tag-warning-color;

    &.@{prefix}-tag--plain {
      color: @tag-warning-color;
    }
    .@{prefix}-icon-close {
      &:hover {
        color: @tag-warning-color;
        background-color: @tag-warning-color-light;
      }
    }
  }

  &--danger {
    background-color: @tag-danger-color;

    &.@{prefix}-tag--plain {
      color: @tag-danger-color;
    }
    .@{prefix}-icon-close {
      &:hover {
        color: @tag-danger-color;
        background-color: @tag-error-color-light;
      }
    }
  }

  &--primary.@{prefix}-tag--light {
    color: @tag-primary-color;
    background-color: @tag-primary-color-light;

    &.@{prefix}-tag--plain {
      color: @tag-primary-color;
    }
    .@{prefix}-icon-close {
      &:hover {
        color: @tag-text-color;
        background-color: @tag-primary-color;
      }
    }
  }

  &--success.@{prefix}-tag--light {
    color: @tag-success-color;
    background-color: @tag-success-color-light;

    &.@{prefix}-tag--plain {
      color: @tag-success-color;
    }
    .@{prefix}-icon-close {
      &:hover {
        color: @tag-text-color;
        background-color: @tag-success-color;
      }
    }
  }

  &--warning.@{prefix}-tag--light {
    color: @tag-warning-color;
    background-color: @tag-warning-color-light;

    &.@{prefix}-tag--plain {
      color: @tag-warning-color;
    }
    .@{prefix}-icon-close {
      &:hover {
        color: @tag-text-color;
        background-color: @tag-warning-color;
      }
    }
  }

  &--danger.@{prefix}-tag--light {
    color: @tag-danger-color;
    background-color: @tag-error-color-light;

    &.@{prefix}-tag--plain {
      color: @tag-danger-color;
    }
    .@{prefix}-icon-close {
      &:hover {
        color: @tag-text-color;
        background-color: @tag-danger-color;
      }
    }
  }

  &.@{prefix}-tag--plain {
    background-color: @tag-plain-background-color;
  }

  &.@{prefix}-size-s {
    padding: @tag-small-padding;
    height: @tag-height-small;
    font-size: @tag-small-font-size;
    line-height: @tag-line-height-small;

    .@{prefix}-icon {
      font-size: @tag-small-font-size;
    }
  }

  &.@{prefix}-size-l {
    padding: @tag-large-padding;
    height: @tag-height-large;
    font-size: @tag-large-font-size;
    line-height: @tag-line-height-large;

    .@{prefix}-icon {
      font-size: @tag-large-font-size;
    }
  }

  &.@{prefix}-tag--round {
    border-radius: @tag-border-radius-round;
  }

  &.@{prefix}-tag--mark {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: @tag-border-radius-round;
    border-top-right-radius: @tag-border-radius-round;
  }

  &.@{prefix}-tag--ellipsis {
    .@{prefix}-tag--text {
      display: inline-block;
      .text-ellipsis();
    }
  }
}

a {
  .@{prefix}-tag {
    cursor: pointer;

    &:hover {
      color: @link-tag-hover-color;
      background-color: @link-tag-hover-bg;
    }

    &:active {
      color: @link-tag-active-color;
      background-color: @link-tag-active-bg;
    }
  }
}