// <component>-[type]-[attrtype]-<attr>-[status]

// 暂时这样写，后面等全局的色值确定后再更改
// color
@grey-0: #fbfbfb;
@grey-1: #f5f5f5;
@grey-4: #bbb;

// 基础颜色
@info-color: #d6d6d6;

@primary-color-light: @primary-color-1;
@success-color-light: @success-color-1;
@warning-color-light: @warning-color-1;
@error-color-light: @error-color-1;
@info-color-light: @grey-1;

// 因为通过讨论 Tag 组件的选中态只针对于一个特定主题
// checked [false - default; true - primary]
@tag-default-background-color: @bg-color-fade;
@tag-default-border-color: transparent;
@tag-default-hover-color: @brand-color-8;
@tag-default-click-color: @brand-color-9;
@tag-checked-color: rgba(255, 255, 255);
@tag-checked-background-color: @brand-color;
@tag-default-click-background-color: @gray-color-6;

// disabled
@tag-disabled-color: @grey-4;
@tag-disabled-background-color: @bg-color-disabled;

// dark color
@tag-primary-color: @primary-color;
@tag-success-color: @success-color;
@tag-info-color: @info-color;
@tag-warning-color: @warning-color;
@tag-danger-color: @error-color;

// light color
@tag-primary-light-color: @primary-color-light;
@tag-success-light-color: @success-color-light;
@tag-info-light-color: @info-color-light;
@tag-warning-light-color: @warning-color-light;
@tag-danger-light-color: @error-color-light;

// plain
@tag-plain-background-color: @bg-color-fade;

// font size
@tag-small-font-size: @font-size-s;
@tag-medium-font-size: @font-size-base;
@tag-large-font-size: @font-size-l;

// padding
@tag-small-padding: 0px @spacer;
@tag-medium-padding: 0px @spacer;
@tag-large-padding: 0px 12px;

// text color
@tag-text-color: rgba(255, 255, 255, .9);
@tag-text-color-1: @text-color-primary;

// shape
@tag-border-radius-square: @border-radius;
@tag-border-radius-round: 12px;

// width
@tag-default-border-width: 1px;

// height
@tag-height-small: 20px;
@tag-height-medium: 24px;
@tag-height-large: 32px;

// line-height
@tag-line-height-small: @tag-height-small - 2 * @tag-default-border-width;
@tag-line-height-medium: @tag-height-medium - 2 * @tag-default-border-width;
@tag-line-height-large: @tag-height-large - 2 * @tag-default-border-width;
