// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

// <name> 替换为组件名
.@{checkbox-cls}-group {
  display: inline-block;
}
.@{checkbox-cls} {
  position: relative;
  cursor: pointer;

  & + .@{checkbox-cls} {
    margin-left: @spacer-3;
  }

  &__former {
    opacity: 0;
    position: absolute;
    // height: 0;
    // width: 0;
  }

  &__input {
    position: relative;
    display: inline-block;
    width: @checkbox-size;
    height: @checkbox-size;
    vertical-align: middle;
    border: 1px solid @checkbox-border-color;
    border-radius: @checkbox-border-radius;
    background-color: @checkbox-input-color;

    &::after {
      content: "";
      position: absolute;
      opacity: 0;
    }
  }

  &__label {
    display: inline-block;
    margin-left: @checkbox-input-label-spacer;
    color: @checkbox-label-color;
    vertical-align: middle;
    font-size: @checkbox-font;
  }

  &:hover {
    .@{checkbox-cls}__input {
      border-color: @checkbox-border-color-hover;
    }
  }

  &.@{prefix}-is-checked {
    .@{checkbox-cls}__input {
      border-color: @checkbox-border-color-checked;
      background-color: @checkbox-input-color-checked;

      &::after {
        opacity: 1;
        top: (@checkbox-size) / 2 - 1px;
        left: (@checkbox-size - @checkbox-check-size) / 2;
        width: @checkbox-check-width;
        height: @checkbox-check-height;
        border: 2px solid @checkbox-check-color;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
        background: transparent;
      }
    }
  }

  &.@{prefix}-is-indeterminate {
    .@{checkbox-cls}__input {
      border-color: @checkbox-input-color-indeterminate;
      background-color: @checkbox-input-color-indeterminate;

      &::after {
        opacity: 1;
        width: 100%;
        height: @checkbox-indeterminate-height;
        left: 0;
        right: 0;
        top: (@checkbox-size - 2 - @checkbox-indeterminate-height) * .5;
        border: unset;
        transform: scale(.5);
        background-color: @checkbox-indeterminate-color;
      }
    }
  }

  &.@{prefix}-is-disabled {
    cursor: not-allowed;

    .@{checkbox-cls}__label {
      color: @checkbox-check-color-disabled;
    }
  
    .@{checkbox-cls}__input {
      background-color: @checkbox-input-color-disabled;
    }

    &:hover {
      .@{checkbox-cls}__input {
        border-color: @checkbox-border-color;
      }
    }

    &.@{prefix}-is-checked {
      .@{checkbox-cls}__input {
        border-color: @checkbox-border-color;

        &::after {
          border-color: @checkbox-check-color-disabled;
        }
      }
    }

    &.@{prefix}-is-indeterminate {
      .@{checkbox-cls}__input {
        border-color: @checkbox-border-color;

        &::after {
          background-color: @checkbox-indeterminate-color-disabled;
        }
      }
    }
  }
}
