// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

// <name> 替换为组件名
.@{prefix}-checkbox {
  cursor: pointer;

  &__former {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__input {
    position: relative;
    display: inline-block;
    width: @checkbox-size;
    height: @checkbox-size;
    vertical-align: middle;
    border: 1px solid @checkbox-border-color;
    background-color: @checkbox-input-color;

    &::after {
      content: "";
      position: absolute;
      top: (@checkbox-size) / 2 - 1px;
      left: (@checkbox-size - @checkbox-check-size) / 2 - 1px;
      opacity: 0;
      width: @checkbox-check-width;
      height: @checkbox-check-height;
      border: 2px solid @checkbox-check-color;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(1) translate(-50%, -50%);
      background: transparent;
    }
  }

  &__label {
    display: inline-block;
    margin-left: @checkbox-input-label-spacer;
    color: @checkbox-label-color;
    vertical-align: middle;
    font-size: @checkbox-font;
  }

  &:hover {
    .@{checkbox-cls}__input {
      border-color: @checkbox-border-color-hover;
    }
  }

  &.@{checkbox-cls}-checked {
    .@{checkbox-cls}__input {
      border-color: @checkbox-border-color-checked;
      background-color: @checkbox-input-color-checked;

      &::after {
        opacity: 1;
      }
    }
  }

  &.@{prefix}-is-disabled {
    cursor: not-allowed;

    .@{checkbox-cls}__input {
      background-color: @checkbox-input-color-disabled;
    }

    &:hover {
      .@{checkbox-cls}__input {
        border-color: @checkbox-border-color;
      }
    }

    &.@{checkbox-cls}-checked {
      .@{checkbox-cls}__input {
        border-color: @checkbox-border-color;

        &::after {
          border-color: @checkbox-check-color-disabled;
        }
      }
    }
  }
}
