// 公共前缀
@prefix: t;

@primary-color-1:   #D6E2F9;
@primary-color-2:   #AAC5F2;
@primary-color-3:   #7FA9EC;
@primary-color-4:   #558CE6;
@primary-color-5:   #2A6FDF;
@primary-color-6:   #0052D9;
@primary-color-7:   #0041BE;
@primary-color-8:   #0030A2;
@primary-color-9:   #001F87;
@primary-color-10:  #000E6C;

@warning-color-1:   #FFF1D5;
@warning-color-2:   #FFE3AA;
@warning-color-3:   #FFD57F;
@warning-color-4:   #FFC655;
@warning-color-5:   #FFB82A;
@warning-color-6:   #FFAA00;
@warning-color-7:   #DF8A00;
@warning-color-8:   #BF6A00;
@warning-color-9:   #A04B00;
@warning-color-10:  #802B00;

@error-color-1:     #FFDFD5;
@error-color-2:     #FFBFAA;
@error-color-3:     #FF9E7F;
@error-color-4:     #FF7E55;
@error-color-5:     #FF5E2A;
@error-color-6:     #FF3E00;
@error-color-7:     #DF2E03;
@error-color-8:     #BF1F06;
@error-color-9:     #A00F09;
@error-color-10:    #80000C;

@success-color-1:   #DDF7DD;
@success-color-2:   #BCEEBC;
@success-color-3:   #9AE69A;
@success-color-4:   #78DE78;
@success-color-5:   #57D557;
@success-color-6:   #35CD35;
@success-color-7:   #2EB333;
@success-color-8:   #279A31;
@success-color-9:   #21812F;
@success-color-10:  #1A672D;
// 基础颜色
@primary-color: #0052d9; // 色彩-品牌-可操作
@success-color: #35cd35; // 色彩-功能-成功
@warning-color: #ffac05; // 色彩-功能-警告
@error-color: #ff3e00; // 色彩-功能-失败

// 遮罩
@mask-active: rgba(0, 0, 0, .6); // 遮罩-弹出
@mask-disabled: rgba(255, 255, 255, .6); // 遮罩-禁用

// 背景色
@bg-color: #f0f2f5; // 色彩-背景
@bg-color-fade: #fbfbfb; // 色彩-中层背景
@bg-color-block: #ffffff; // 色彩-模块

// @bg-primary-color:@primary-color;
// @bg-success-color:@success-color;
// @bg-warning-color:@warning-color;
// @bg-error-color:@error-color;

// 文本颜色
@text-level-1-color: #000000; // 色彩-文字-一级
@text-level-2-color: #444444; // 色彩-文字-二级
@text-level-3-color: #888888; // 色彩-文字-三级
@text-level-4-color: #bbbbbb; // 色彩-文字-四级
@text-anti-primary-color: #fff; // 色彩-文字-主色反色

// @text-primary-color:@primary-color;
// @text-success-color:@success-color;
// @text-warning-color:@warning-color;
// @text-error-color:@error-color;

// 边框色
@border-level-1-color:#E6E6E6;
@border-level-2-color:#ddd;


// Spacer
@spacer: 8px;
@spacer-1: @spacer; // 间距-小-x
@spacer-2: @spacer * 2; // 间距-小
@spacer-3: @spacer * 3; // 间距-中
@spacer-4: @spacer * 4; // 间距-大
@spacer-5: @spacer * 6; // 间距-大-x
@spacer-6: @spacer * 10; // 间距-大-xx

// Font
@font-size: 10px;
@font-size-xs: @font-size; // 字号-一级字号
@font-size-s: @font-size * 1.2; // 字号-二级字号
@font-size-base: @font-size * 1.4; // 字号-三级字号
@font-size-l: @font-size * 2; // 字号-四级字号
@font-size-xl: @font-size * 3.6; // 字号-五级字号

@text-line-height: 1.5; //

@font-family: PingFang SC, Microsoft YaHei, Arial Regular; // 字体-磅数-常规
@font-family-medium: PingFang SC, Microsoft YaHei, Arial Medium; // 字体-磅数-粗体

// Border Radius
@border-radius: 8px; // 圆角-全局
@border-radius-50: 50%; // 圆角-全圆角

// 表单相关
@form-height: 30px;
@form-text-color: ;
@form-bg-color: ;
@form-border-color: ;

// shadow
@shadow-1: 1px 1px 5px 1px rgba(0, 0, 0, .03);
@shadow-2: 3px 3px 8px 2px rgba(0, 0, 0, .06);

// 图标尺寸
@icon-default: 16px;
@icon-l: 24px;
