@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "../../mixins/_reset.less";

@backTop: ~"@{prefix}-back-top";

.@{backTop} {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .5s ease;
  flex-direction: column;

  &--medium {
    width: @back-top-round-width;
    height: @back-top-round-height;
    border-radius: 6px;

    &.@{backTop}--circle {
      border-radius: (@back-top-round-width/2);
    }
  }

  &--small {
    width: @back-top-round-width-small;
    height: @back-top-round-height-small;
    border-radius: 3px;

    &.@{backTop}--circle {
      border-radius: (@back-top-round-width-small/2);
    }
  }

  &--default {
    background: @back-top-bg-default;
    border: @back-top-border-default;

    .@{backTop}--icon {
      color: @back-top-icon-default;
    }

    .@{backTop}--text {
      color: @back-top-text-color-default;
    }
  }

  &--primary {
    background: @back-top-bg-primary;

    .@{backTop}--icon {
      color: @back-top-icon-primary;
    }

    .@{backTop}--text {
      color: @back-top-text-color-primary;
    }
  }

  &--dark {
    background: @back-top-bg-dark;

    .@{backTop}--icon {
      color: @back-top-icon-dark;
    }

    .@{backTop}--text {
      color: @back-top-text-color-dark;
    }
  }

  &--text {
    font-size: @back-top-text-font-size;
    line-height: @back-top-text-lint-height;
  }

  &.@{prefix}--fixed {
    position: fixed;
    right: @back-top-content-right;
    bottom: @back-top-content-bottom;
  }
}

.back-top--hidden {
  opacity: 0;
}

.back-top--show {
  opacity: 1;
}
