// 宽高
// 默认medium
@back-top-round-width: 64px;
@back-top-round-height: 64px;
// small
@back-top-round-width-small: 48px;
@back-top-round-height-small: 48px;

// 主题颜色配置
// default主题
@back-top-bg-default: #FFFFFF;
@back-top-text-color-default: #000000;
@back-top-border-default: 0.5px solid #dcdcdc;
@back-top-icon-default: #000000;
// primary主题
@back-top-bg-primary: #0052D9;
@back-top-text-color-primary: #FFFFFF;
@back-top-border-primary: 0.5px solid #dcdcdc;
@back-top-icon-primary: #FFFFFF;
// dark主题
@back-top-bg-dark: #000000;
@back-top-text-color-dark: #FFFFFF;
@back-top-border-dark: 0.5px solid #dcdcdc;
@back-top-icon-dark: #FFFFFF;

// fixed定位位置
@back-top-content-right: 24px;
@back-top-content-bottom: 80px;

// text字体
@back-top-text-font-size: 12px;
@back-top-text-lint-height: 20px;
