@import "../../base.less";

// 默认宽高
@back-top-width: 46px;
@back-top-min-height: 46px;

// 文案字体大小
@back-top-text-size: @font-size;

// 文案颜色
@back-top-text-color: @text-color-primary;

// 背景颜色
@back-top-background-color: @bg-color-container;
@back-top-background-color-hover: @bg-color-container-hover;

// 边框颜色
@back-top-border-color: @border-level-2-color;

// 圆角
@back-top-border-radius-circle: @border-radius-circle;
@back-top-border-radius-square: @border-radius-medium;
