@slider-background: @bg-color-component;
@slider-background-current: @brand-color-8;
@slider-text: @text-color-primary;
@slider-controlbar-background: @bg-color-container;
@slider-controlbar-border: @brand-color-8;

@slider-input-background: @bg-color-container;
@slider-input-border: @component-border;
@slider-input-text: @text-color-primary;

@slider-background-hover: @bg-color-component-hover;

@slider-controlbar-background-hover: @bg-color-container-hover;
@slider-controlbar-background-active: @brand-color-2;

@slider-controlbar-border-focus: @brand-color-2;
@slider-background-disabled: @bg-color-component-disabled;
@slider-background-current-disabled: @brand-color-3;
@slider-controlbar-border-disabled: @brand-color-3;
@slider-text-disabled: @text-color-disabled;
@slider-input-border-hover: @brand-color-8;
@slider-input-border-select: @brand-color-8;
@slider-input-border-focus: @brand-color-2;
@slider-input-background-disabled: @bg-color-component-disabled;
@slider-input-text-disabled: @text-color-disabled;
