@import "../../base.less";
@import "./_var.less";

.link-attr-color(@theme, @attr) {
    &:hover {
        @{attr}: @@theme-hover;
    }

    &:active {
        @{attr}: @@theme-active;
    }

    &.@{prefix}-is-underline {
        border-bottom: 1px solid @@theme-default;

        &:hover {
            border-bottom: 1px solid @@theme-hover;
        }
    }

    &.@{prefix}-link--hover-underline {
        &:hover {
            border-bottom: 1px solid @@theme-hover;
        }
    }

    &.@{prefix}-is-disabled {
        cursor: not-allowed;
        color: @text-color-disabled;
        border-bottom: 1px solid @text-color-disabled;

        &:hover {
            border-bottom: 1px solid @text-color-disabled;
            color: @text-color-disabled;
        }
    }

    @theme-default: e("link-color-@{theme}");
    @theme-hover: e("link-color-@{theme}-hover");
    @theme-active: e("link-color-@{theme}-active");
    @theme-disabled: e("link-color-@{theme}-disabled");
    @theme-focus: e("link-color-@{theme}-focus");

    @{attr}: @@theme-default;
}

.@{prefix}-link {
    cursor: pointer;
    font-size: @link-font-default;
    display: inline-flex;
    align-items: center;

    .@{prefix}-icon {
        font-size: @link-icon-size-default;
    }

    &__text-prefix {
        margin-left: @link-icon-text-margin-left;
    }

    &__text-suffix {
        margin-right: @link-icon-text-margin-right;
    }

    &.@{prefix}-is-underline {
        border-bottom: 1px solid;

        &:hover {
            border-bottom: 1px solid;
        }
    }

    &.@{prefix}-link--hover-underline {
        &:hover {
            border-bottom: 1px solid;
        }
    }

    &--theme-primary {
        .link-attr-color("primary", color);
    }

    &--theme-success {
        .link-attr-color("success", color);
    }

    &--theme-danger {
        .link-attr-color("danger", color);
    }

    &--theme-warning {
        .link-attr-color("warning", color);
    }

}