//字号
@link-font-default: @font-size-base;

// 图标大小
@link-icon-size-s: @font-size-base;
@link-icon-size-default: @font-size-l;
@link-icon-size-l: @font-size-xl;
@link-loading-size: @font-size-l;

// 按钮中icon和文字的间距
@link-icon-text-margin-left: @spacer-s;
@link-icon-text-margin-right: @spacer-s;

// 状态色 - 主色
@link-color-primary: @brand-color;
@link-color-primary-hover: @brand-color-hover;
@link-color-primary-active: @brand-color-active;
@link-color-primary-disabled: @brand-color-disabled;

// 状态色 - 成功
@link-color-success: @success-color;
@link-color-success-hover: @success-color-hover;
@link-color-success-active: @success-color-active;
@link-color-success-disabled: @success-color-disabled;

// 状态色 - 警告
@link-color-warning: @warning-color;
@link-color-warning-hover: @warning-color-hover;
@link-color-warning-active: @warning-color-active;
@link-color-warning-disabled: @warning-color-disabled;

// 状态色 - 危险
@link-color-danger: @error-color;
@link-color-danger-hover: @error-color-hover;
@link-color-danger-active: @error-color-active;
@link-color-danger-disabled: @error-color-disabled;
