//字号
@link-font-s: @font-link-small;
@link-font-default: @font-link-medium;
@link-font-l: @font-link-large;

@link-icon-margin-s: @spacer-s;
@link-icon-margin-default: @spacer-1;
@link-icon-margin-l: @spacer-l;

// 按钮中icon和文字的间距
@link-icon-text-margin-left: @spacer-s;
@link-icon-text-margin-right: @spacer-s;

@link-color-default: @text-color-primary;
@link-color-default-hover: @brand-color-hover;
@link-color-default-active: @brand-color-active;
@link-color-default-disabled: @text-color-disabled;

// 状态色 - 主色
@link-color-primary: @brand-color;
@link-color-primary-hover: @brand-color-hover;
@link-color-primary-active: @brand-color-active;
@link-color-primary-disabled: @brand-color-disabled;

// 状态色 - 成功
@link-color-success: @success-color;
@link-color-success-hover: @success-color-hover;
@link-color-success-active: @success-color-active;
@link-color-success-disabled: @success-color-disabled;

// 状态色 - 警告
@link-color-warning: @warning-color;
@link-color-warning-hover: @warning-color-hover;
@link-color-warning-active: @warning-color-active;
@link-color-warning-disabled: @warning-color-disabled;

// 状态色 - 危险
@link-color-danger: @error-color;
@link-color-danger-hover: @error-color-hover;
@link-color-danger-active: @error-color-active;
@link-color-danger-disabled: @error-color-disabled;
