@import '../../_variables.less';

@radio-title-font-size: @font-size * 1.6;
@radio-title-font-color: @text-level-1-color;
@radio-content-font-size: @font-size * 1.4;
@radio-title-color: @text-level-1-color;
@radio-content-color: @text-level-3-color;
@radio-border-color: #CCCCCC;
@radio-selected-color: #0052d9;
@radio-disable-color:  rgba(255,255,255,0.40);
@radio-width: 22px;
@radio-height: 22px;
@radio-inner-width: 14px;
@radio-inner-height: 14px;
