@radio-title-font-size: @font-size * 1.6;

@radio-title-font-color: @text-level-1-color;

@radio-content-font-size: @font-size * 1.4;

@radio-title-color: @text-level-1-color;

@radio-content-color: @text-level-3-color;

@radio-border-color: @gray-color-4;

@radio-selected-color: @primary-color;

@radio-disable-color: @gray-color-4;

@radio-width: 22px;

@radio-height: 22px;

@radio-inner-width: 14px;

@radio-inner-height: 14px;

@radio-icon-wrap-width: 24px;

@radio-icon-wrap-height: 24px;

@radio-icon-wrap-font-size: @font-size * 2.4;

@radio-icon-wrap-margin-right: 10px;

@radio-icon-wrap-margin-left: 10px;

@radio-content-title-padding-right: 22px;

@radio-content-inner-margin-top: 8px;
