// 层级变量
@z-index-guide: 999999;
@guide-overlay-z-index: @z-index-guide - 2;
@guide-highlight-z-index: @z-index-guide - 1;
@guide-reference-z-index: @z-index-guide;

// margin 间距相关
@comp-margin-xxl: 24px;
@comp-margin-l: 16px;
@comp-margin-m: 12px;
@comp-margin-xs: 4px;
@guide-footer-popover-margin-top: @comp-margin-xxl;
@guide-dialog-desc-margin-top: @comp-margin-xxl;
@guide-tooltip-desc-margin-top: @comp-margin-xs;
@guide-action-margin-right: @comp-margin-m;
@guide-popover-margin-top: @comp-margin-l;

// padding 相关
@comp-padding-xs: 4px;
@comp-padding-xxl: 24px;
@guide-popover-content-padding: @comp-padding-xs;
@guide-dialog-content-padding: @comp-padding-xxl 0;
@guide-dialog-footer-padding: 0 @comp-padding-xxl;

// border 相关
@border-radius-small: @radius-small; // 3px
@border-radius-dialog: 4.5px;

// color 相关
@guide-popover-border-color: @gray-color-4;

// font 相关
@font-title-small: 16px;
@font-body-small: 14px;

