@tab-bar-height: 48px;

@tab-bar-bg-color: @bg-color-block;

@tab-bar-border-color: @border-level-1-color;

@tab-bar-hover-bg-color: rgba(0, 0, 0, .05);

@tab-bar-active-color: @primary-color;

@tab-bar-color: @text-level-2-color;
