@import './_var.less';

.@{prefix}-button{
    border: none;
    background-color: @button-default-bg-color;
    color: @button-default-text-color;
    font-size: @button-size-base;
    padding: 0 20px;
    height: 30px;
    outline: none;
    border-radius: @button-border-radius;

    &.is-disabled{
        opacity: 0.4;
        cursor: not-allowed;
    }
    &.is-hover{
        opacity: 0.9;
        cursor: not-allowed;
    }

    &--line{
        background-color: @button-line-bg-color;
        color: @button-line-text-color;
        border: 1px solid @button-line-border-color;
    }

    &--size-m{
        height: 48px;
        padding: 0 30px;
    }
    
}