// 颜色
@btn-default-bg-color:@primary-color;
@btn-default-text-color:@text-anti-primary-color;
@btn-default-border-color:@primary-color;

@btn-line-bg-color:@bg-color-block;
@btn-line-text-color:@primary-color;
@btn-line-border-color:@primary-color;

// 尺寸
@btn-default-height:30px;
@btn-l-height:48px;

// 圆角
@btn-border-radius:@border-radius;

// 阴影



