@import '../../_variables.less';
// 颜色
@button-default-bg-color:@primary-color;
@button-default-text-color:@text-anti-primary-color;
@button-default-border-color:@primary-color;

@button-line-bg-color:@bg-color-block;
@button-line-text-color:@primary-color;
@button-line-border-color:@primary-color;

// 尺寸
@button-default-height:30px;
@button-l-height:48px;

// 圆角
@button-border-radius:@border-radius;

// 阴影

@button-size-base:@font-size-base;
