@import '../../_variables.less';

@button-default-height: 48px;
@button-default-line-height: @text-line-height;
@button-default-font-size: 16px;
@button-default-color: @text-anti-primary-color;
@button-default-bg-color: @primary-color;
@button-default-border-color: @primary-color;
@button-default-min-width: 120px;

@button-line-color: #000000;
@button-line-background-color: #ffffff;
@button-line-border-color: @border-level-2-color;

@button-text-color: @primary-color;
@button-border-width: 1px;
@button-border-radius: 4px;
@button-border-color: @primary-color;

@button-ghost-color: @primary-color;
@button-ghost-border-color: @primary-color;

@button-mini-height: 29px;
@button-mini-line-height: 21px;

// 圆角

// button icon
@button-icon-spacer: @spacer;
@button-icon-border-radius: 4px;
