@import '../../_variables.less';

@button-default-height: 48px;
@button-default-line-height: 1.2;
@button-default-font-size: 16px;
@button-default-color: @text-anti-primary-color;
@button-default-bg-color: @primary-color;
@button-default-border-color: @primary-color;
@button-default-min-width:120px;

@button-normal-color: #000000;
@button-normal-background-color: #FFFFFF;
@button-normal-border-color: @border-level-2-color;

@button-text-color: @primary-color;

@button-ghost-color: @primary-color;
@button-ghost-border-color: @primary-color;

@button-border-width:1px;
@button-small-height:29px;

// 圆角
@button-border-radius: @border-radius;
@border-color: @primary-color;



