@import "../../../base.less";

@import "./_var.less";

.@{action-sheet} {
  &__content {
    color: @action-sheet-color;
    border-top-left-radius: @action-sheet-border-radius;
    border-top-right-radius: @action-sheet-border-radius;
    background-color: @bg-color-container;
    overflow: hidden;

    &--grid {
      padding-top: 16px;
    }

    &:focus {
      outline: 0;
    }
  }
  .flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ellipsis() {
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__description {
    color: @action-sheet-description-color;
    line-height: 46px;
    font-size: 14px;
    text-align: @action-sheet-text-align;
    padding: 0px 16px;
    &:focus, &:active {
      outline: 0;
    }
    .border(bottom, @action-sheet-border-color);

    &--left {
      text-align: left;

      &::after {
        left: 16px;
      }
    }
    &--grid {
      line-height: 34px;
      &::after {
        display: none;
      }
    }
  }

  &__list {
    &-item {
      .flex-center();
      border: none;
      .border(bottom, @action-sheet-border-color);

      height: @action-sheet-list-item-height;
      padding: 0 16px;

      &--left {
        justify-content: start;
        text-align: left;
        &::after {
          left: 16px;
        }
      }

      &--disabled {
        color: @action-sheet-list-item-disabled-color;
      }

      &-text {
        font-size: @font-size-m;
        .ellipsis();
      }

      &-icon {
        margin-right: 8px;
      }
    }
  }

  &__swiper-wrap {
    margin-top: 8px;
    padding-bottom: 24px;
    position: relative;
    .@{prefix}-swiper__pagination {
      .@{prefix}-swiper-dot {
        background-color: @action-sheet-dot-color;
        &--active {
          background-color: @action-sheet-dot-active-color;
        }
      }
    }
  }

  &__footer {
    background-color: @bg-color-container;
  }

  &__gap-list {
    height: 8px;
    background-color: @action-sheet-border-color;
  }

  &__gap-grid {
    height: 1px;
    background-color: @action-sheet-border-color;
  }

  &__cancel {
    .flex-center();
    border: none;
    height: @action-sheet-cancel-height;
  }

  &__dots {
    position: absolute;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;

    &-item {
      width: 16px;
      height: 16px;
      background-color: #dcdcdc;
      border-radius: 50%;
      margin: 0 16px;
      transition: all .4s ease-in;

      &.@{prefix}-is-active {
        background-color: #0052d9;
      }
    }
  }
}
