// 组件允许单个组件打包，因此默认引入公共基础样式
@import '../../base.less';
@import './_var.less';
@import './_mixin.less';

.@{popconfirm-cls}{
  background: @bg-color-block;
  box-shadow: @popconfirm-shadow1, @popconfirm-shadow2;
  position: @popconfirm-position;
  &-hidden {
    display: none
  }
  &__content{
    background-color: @bg-color-block;
    padding: @popconfirm-padding
  }
  &__body{
    text-align:left;
    padding-left: @popconfirm-spacer;
    > .@{prefix}-icon{
      display: inline-block;
    }
  }
  &__inner{
    display: inline-block;
    vertical-align: top;
  }
  &__title{
    font-size: @font-size-base;
    color: @text-level-1-color;
    line-height: @popconfirm-title-line-height;
    margin-right: @popconfirm-title-margin-right;
    max-width: @popconfirm-max-width;
  }
  &__desc{
    font-size: @font-size-s;
    color: @text-level-2-color;
    line-height: @popconfirm-desc-line-height;
    margin-top: @popconfirm-spacer;
    max-width: @popconfirm-max-width;
  }
  &__buttons{
    text-align:right;
    margin-top: @popconfirm-buttons-margin-top;
    > .@{prefix}-button{
      margin-right: @popconfirm-button-margin
    }
    > .@{prefix}-button:last-child{
      margin-right: 0;
    }
  }
  &__arrow{
    position: absolute;
    display: block;
    width: @popconfirm-arrow-size;
    height: @popconfirm-arrow-size;
    border-style: solid;
    transform: @popconfirm-arrow-rotate;
    border-width:@popconfirm-arrow-border-width;
  }
  &-bottomRight .@{popconfirm-cls}__arrow, 
  &-bottomCenter .@{popconfirm-cls}__arrow, 
  &-bottomLeft .@{popconfirm-cls}__arrow{
    top: @popconfirm-arrow-absolute-offset;
    border-color: @popconfirm-arrow-bottom-border-color;
    box-shadow: @popconfirm-arrow-bottom-shadow;
  }
  &-topRight .@{popconfirm-cls}__arrow, 
  &-topCenter .@{popconfirm-cls}__arrow, 
  &-topLeft .@{popconfirm-cls}__arrow{
    bottom: @popconfirm-arrow-absolute-offset;
    border-color: @popconfirm-arrow-top-border-color;
    box-shadow: @popconfirm-arrow-top-shadow;
    right: @popconfirm-arrow-margin;
  }
  &-bottomRight .@{popconfirm-cls}__arrow, 
  &-topRight .@{popconfirm-cls}__arrow {
    right: @popconfirm-arrow-margin;
  }
  &-bottomCenter .@{popconfirm-cls}__arrow, 
  &-topCenter .@{popconfirm-cls}__arrow {
    left: 50%;
    transform: translateX(-50%) @popconfirm-arrow-rotate
  }
  &-bottomLeft .@{popconfirm-cls}__arrow, 
  &-topLeft .@{popconfirm-cls}__arrow {
    left: @popconfirm-arrow-margin;
  }
  &-leftTop .@{popconfirm-cls}__arrow, 
  &-leftCenter .@{popconfirm-cls}__arrow, 
  &-leftBottom .@{popconfirm-cls}__arrow{
    right: @popconfirm-arrow-absolute-offset;
    border-color: @popconfirm-arrow-left-border-color;
  }
  &-rightTop .@{popconfirm-cls}__arrow, 
  &-rightCenter .@{popconfirm-cls}__arrow, 
  &-rightBottom .@{popconfirm-cls}__arrow{
    border-color: @popconfirm-arrow-right-border-color;
    left: @popconfirm-arrow-absolute-offset;
  }
  &-leftTop .@{popconfirm-cls}__arrow, 
  &-rightTop .@{popconfirm-cls}__arrow{
    top: @popconfirm-arrow-margin;
  }
  &-leftCenter .@{popconfirm-cls}__arrow, 
  &-rightCenter .@{popconfirm-cls}__arrow{
    top: 50%;
    transform: translateY(-50%) @popconfirm-arrow-rotate
  }
  &-leftBottom .@{popconfirm-cls}__arrow, 
  &-rightBottom .@{popconfirm-cls}__arrow{
    bottom: @popconfirm-arrow-margin;
  }
}

