// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{popconfirm-cls} {
  background: @bg-color-block;
  box-shadow: @popconfirm-shadow1, @popconfirm-shadow2;
  position: @popconfirm-position;

  &--position-hidden {
    display: none;
  }

  &__content {
    background-color: @bg-color-block;
    padding: @popconfirm-padding;
  }

  &__body {
    text-align: left;
    padding-left: @popconfirm-spacer;
    > .@{prefix}-icon {
      display: inline-block;
    }
  }

  &__inner {
    display: inline-block;
    vertical-align: top;
    max-width: @popconfirm-max-width;
    font-size: @font-size-base;
    color: @text-level-1-color;
    line-height: @popconfirm-title-line-height;
    margin-right: @popconfirm-title-margin-right;
  }

  &__buttons {
    text-align: right;
    margin-top: @popconfirm-buttons-margin-top;
    > .@{prefix}-button {
      margin-right: @popconfirm-button-margin;
    }
    > .@{prefix}-button:last-child {
      margin-right: 0;
    }
  }

  &__arrow {
    position: absolute;
    display: block;
    width: @popconfirm-arrow-size;
    height: @popconfirm-arrow-size;
    border-style: solid;
    transform: @popconfirm-arrow-rotate;
    border-width: @popconfirm-arrow-border-width;
  }

  &--position-bottomRight .@{popconfirm-cls}__arrow, 
  &--position-bottom .@{popconfirm-cls}__arrow, 
  &--position-bottom-left .@{popconfirm-cls}__arrow {
    top: @popconfirm-arrow-absolute-offset;
    border-color: @popconfirm-arrow-bottom-border-color;
    box-shadow: @popconfirm-arrow-bottom-shadow;
  }

  &--position-topRight .@{popconfirm-cls}__arrow, 
  &--position-top .@{popconfirm-cls}__arrow, 
  &--position-top-left .@{popconfirm-cls}__arrow {
    bottom: @popconfirm-arrow-absolute-offset;
    border-color: @popconfirm-arrow-top-border-color;
    box-shadow: @popconfirm-arrow-top-shadow;
    right: @popconfirm-arrow-margin;
  }

  &--position-bottomRight .@{popconfirm-cls}__arrow, 
  &--position-topRight .@{popconfirm-cls}__arrow {
    right: @popconfirm-arrow-margin;
  }
  &--position-bottom .@{popconfirm-cls}__arrow, 
  &--position-top .@{popconfirm-cls}__arrow {
    left: 50%;
    transform: translateX(-50%) @popconfirm-arrow-rotate
  }

  &--position-bottom-left .@{popconfirm-cls}__arrow, 
  &--position-top-left .@{popconfirm-cls}__arrow {
    left: @popconfirm-arrow-margin;
  }

  &--position-left-top .@{popconfirm-cls}__arrow, 
  &--position-left .@{popconfirm-cls}__arrow, 
  &--position-left-bottom .@{popconfirm-cls}__arrow {
    right: @popconfirm-arrow-absolute-offset;
    border-color: @popconfirm-arrow-left-border-color;
  }

  &--position-right-top .@{popconfirm-cls}__arrow, 
  &--position-right .@{popconfirm-cls}__arrow, 
  &--position-right-bottom .@{popconfirm-cls}__arrow {
    border-color: @popconfirm-arrow-right-border-color;
    left: @popconfirm-arrow-absolute-offset;
  }

  &--position-left-top .@{popconfirm-cls}__arrow, 
  &--position-right-top .@{popconfirm-cls}__arrow {
    top: @popconfirm-arrow-margin;
  }

  &--position-left .@{popconfirm-cls}__arrow, 
  &--position-right .@{popconfirm-cls}__arrow {
    top: 50%;
    transform: translateY(-50%) @popconfirm-arrow-rotate
  }

  &--position-left-bottom .@{popconfirm-cls}__arrow, 
  &--position-right-bottom .@{popconfirm-cls}__arrow {
    bottom: @popconfirm-arrow-margin;
  }
}

