@import "./_var.less";

// select
.@{prefix}-select-wrap {
  width: 100%;
}
.@{prefix}-select {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: @select-height-default - 2px;
  background: @select-bg-color;
  border: 1px solid @select-border-color;
  border-radius: @select-border-radius;
  padding: @select-padding;

  &:hover,
  :active {
    cursor: pointer;
    border-color: @select-border-color-active;
    transition: border-color @anim-duration-base @anim-time-fn-easing;
    & > .@{prefix}-select-right-icon {
      color: @select-right-icon-hover;
      opacity: 1;
    }
  }

  & .@{prefix}-select-placeholder {
    color: @select-placeholder-color;
    margin-left: @select-placeholder-margin;
  }

  & .@{prefix}-select-selectedSingle {
    margin-left: @select-placeholder-margin;
    .text-ellipsis();
    display: block;
    color: @select-input-color;
  }

  & .@{prefix}-select-right-icon {
    position: absolute;
    height: 100%;
    margin: @select-icon-margin;
    right: 0;
    top: 0;
    color: @select-icon-color;
    opacity: @select-right-icon-opacity;
  }
  .@{prefix}-select-active-icon {
    color: @select-border-color-active;
  }
  .@{prefix}-select-right-icon.@{prefix}-is-visible {
    transform: scaleY(-1);
    transition: transform @anim-duration-base @anim-time-fn-easing;

    /*IE*/
    filter: FlipV;
  }
  & .@{prefix}-select-left-icon {
    position: absolute;
    height: 100%;
    margin: @select-icon-margin;
    left: 0;
    top: 0;
    color: @select-icon-color
  }

  .@{prefix}-select-input {
    margin-left: @select-placeholder-margin;

    .@{prefix}-input__inner {
      border: 0;
      padding: 0;
    }

    &:focus,
    :hover {
      border: 0;
    }

    input {
      height: @select-input-height;
      line-height: @select-input-height;
    }
  }

  .@{prefix}-tag,
  +.@{prefix}-tag {
    margin: @select-tag-margin;
  }
  .@{prefix}-tag {
    height: @select-tag-height-default;
    line-height: @select-tag-height-default - 2px;
  }
}

.@{prefix}-select.@{prefix}-is-active {
  border-color: @select-border-color-active;
  box-shadow: @select-input-shadow;
  .@{prefix}-select-right-icon {
    color: @select-border-color-active;
    opacity: 1;
  }
}

.@{prefix}-select.@{prefix}-has-prefix {
  padding-left: @select-padding-prefix;
}

.@{prefix}-select.@{prefix}-no-border {
  border: 0;
  width: auto;
}

.@{prefix}-select.@{prefix}-size-l {
  line-height: @select-height-l - 2px;

  .@{prefix}-select-input {
    line-height: @select-height-l - 2px;
    height: @select-height-l - 2px;

    .@{prefix}-input__inner {
      height: @select-height-l - 2px;
      line-height: @select-height-l - 2px;
    }
  }
  .@{prefix}-tag.@{prefix}-size-l {
    height: @select-tag-height-l;
    line-height: @select-tag-height-l - 2px;
  }
}

.@{prefix}-select.@{prefix}-size-s {
  line-height: @select-height-s - 2px;

  .@{prefix}-select-input {
    line-height: @select-height-s - 2px;
    height: @select-height-s - 2px;

    .@{prefix}-input__inner {
      height: @select-height-s - 2px;
      line-height: @select-height-s - 2px;
    }
  }
  .@{prefix}-tag.@{prefix}-size-s {
    height: @select-tag-height-s;
    line-height: @select-tag-height-s - 2px;
  }
}

.@{prefix}-select.@{prefix}-is-disabled {
  cursor: not-allowed;
  background-color: @select-bg-color-disabled;
  color: @select-placeholder-color-disabled;
  border-color: @select-border-color;

  & > .@{prefix}-select-right-icon {
    color: @select-icon-color-disabled;
    opacity: @select-right-icon-opacity-disabled;
  }

  & > .@{prefix}-select-left-icon {
    color: @select-icon-color-disabled;
    opacity: @select-right-icon-opacity-disabled;
  }
}
.@{prefix}-select-popup-reference {
  width: 100%;
}
// dropdown
.@{prefix}-select-dropdown {
  margin: @select-dropdown-margin;
  padding: @select-dropdown-padding;
  max-height: @select-dropdown-max-height;
  overflow-y: auto;
  box-shadow: @select-dropdown-shadow;
  border-radius: @select-border-radius;
}

.@{prefix}-select-dropdown.@{prefix}-popup {
  padding: @select-dropdown-popup-padding;
}
// empty
.@{prefix}-select-empty.@{prefix}-size-s {
  line-height: @select-height-s;
}

.@{prefix}-select-empty {
  text-align: center;
  color: @select-color-empty;
  line-height: @select-height-default;
}

.@{prefix}-select-empty.@{prefix}-size-l {
  line-height: @select-height-l;
}

// loading tips
.@{prefix}-select-loading-tips.@{prefix}-size-s {
  line-height: @select-height-s;
}

.@{prefix}-select-loading-tips {
  text-align: center;
  line-height: @select-height-default;
}

.@{prefix}-select-loading-tips.@{prefix}-size-l {
  line-height: @select-height-l;
}

// option group
.@{prefix}-option-group +.@{prefix}-option-group {
  border-top: 1px @select-optiongroup-border-color solid;
  padding-top: @select-optiongroup-border-padding;
  margin-top: @select-optiongroup-border-margin;
}
.@{prefix}-option-group-header {
  ul&,
  & {
    color: @select-option-group-header-color;
    display: block;
    .text-ellipsis();
    height: @select-option-height-default;
    line-height: @select-option-line-height;
    padding: @select-option-padding-default;
  }
}

.@{prefix}-option-group-header.@{prefix}-size-l {
  height: @select-option-height-l;
  padding: @select-option-padding-l;
}

.@{prefix}-option-group-header.@{prefix}-size-s {
  height: @select-option-height-s;
  padding: @select-option-padding-s;
}

// option
.@{prefix}-select-option {
  display: block;
  .text-ellipsis();
  height: @select-option-height-default;
  line-height: @select-option-line-height;
  cursor: pointer;
  padding: @select-option-padding-default;
  color: @select-option-color;

  &:hover {
    background-color: @select-option-bg-color-hover;
    transition: background-color @anim-duration-base @anim-time-fn-easing;
    .@{prefix}-checkbox__label {
      color: @select-option-checkbox-label-color-hover;
    }
    .@{prefix}-checkbox__input {
      border-color: @select-option-checkbox-input-color-hover;
    }
  }

  :active {
    background: @select-option-bg-color-active;
  }
  .@{prefix}-checkbox__label {
    color: @select-option-color;
  }
}

.@{prefix}-select-option.@{prefix}-is-disabled {
  cursor: not-allowed;
  color: @select-color-disabled;
  background: @select-bg-color;

  &:hover,
  :active {
    background: @select-bg-color;
  }
}

.@{prefix}-select-option.@{prefix}-size-l {
  height: @select-option-height-l;
  padding: @select-option-padding-l;
}

.@{prefix}-select-option.@{prefix}-size-s {
  height: @select-option-height-s;
  padding: @select-option-padding-s;
}

.@{prefix}-select-option.@{prefix}-is-selected {
  color: @select-selected-color;
  background-color: @select-selected-bg-color;
  transition: all @anim-duration-base linear;
  
  &:hover {
    background-color: @select-selected-bg-color-hover;
  }
}

.@{prefix}-select-option +.@{prefix}-select-option {
  margin-top: @select-options-margin;
}