// 颜色
@select-background-color: @bg-color-container;
@select-border-color: @border-level-2-color;
@select-active-border-color: @brand-color;
@select-selected-color: @brand-color;
@select-selected-tag-background-color: @bg-color;
@select-checked-background-color: @brand-color;
@select-option-background-color-hover: @bg-color-container-hover;
@select-option-background-color-active: @bg-color-container-active;
@select-option-checkbox-color: @bg-color-container-hover;

@option-group-header-color: @text-level-3-color;
@option-color: @text-color-primary;
@select-disabled-background-color: @bg-color-component-disabled;
@select-placeholder-color: @text-color-placeholder;
@select-disabled-placeholder-color: @text-color-disabled;
@select-disabled-color: @text-level-4-color;
@select-empty-color: @text-level-4-color;
@select-icon-color: @text-color-placeholder;
@select-disabled-icon-color: @text-color-disabled;
@select-optiongroup-border-color: @border-level-1-color;
@select-input-color: @text-color-primary;

// 尺寸
@select-height-s: 24px;
@select-height-default: 32px;
@select-height-l: 40px;
@select-option-height-s: 32px;
@select-option-height-default: 40px;
@select-option-height-l: 48px;
@select-icon-s: 12px;
@select-icon-default: 14px;
@select-icon-l: 16px;
@select-option-line-height: 22px;
@dropdown-max-height: 300px;
@select-input-height: 30px;
@select-tag-height-default: 22px;
@select-tag-height-l: 30px;
@select-tag-height-s: 18px;

//阴影
@select-dropdown-shadow: @shadow-2;
@select-input-shadow: 0 0 2px 2px @brand-color-focus;

//透明度
@opacity-40: 40%;
@opacity-26: 26%;

// padding
@select-option-padding-s: 5px 8px;
@select-option-padding-default: 9px 12px;
@select-option-padding-l: 13px 16px;
@select-padding: 0 26px 0 4px;
@select-optiongroup-border-padding: 7px;
@select-padding-prefix: 26px;
@select-dropdown-padding: 8px;
// margin
@select-icon-margin: 0 8px;
@select-tag-margin: 4px 4px 4px 0;
@select-placeholder-margin: 4px;
@select-optiongroup-border-margin: 7px;
@select-dropdown-margin: 8px 0;

//top
@dropdown-top: -20px;

