// 颜色
@select-background-color: #FFFFFF;
@select-border-color: #DDDDDD;
@select-active-border-color: #0052D9;
@select-selected-color: #0052D9;
@select-selected-tag-background-color: #F0F2F5;
@select-checked-background-color: #0052D9;
@select-selected-background-color: rgba(198,216,247,0.30);
@select-group-label-color: #888888;
@select-disabled-background-color: #F0F2F5;

// 尺寸
@select-height-s:24px;
@select-height-default:32px;
@select-height-l:40px;
@select-selected-height-s:32px;
@select-selected-height-default:40px;
@select-selected-height-l:48px;
@select-tag-s-height: 20px;
@select-tag-defalut-height: 24px;
@select-tag-l-height: 28px;
@select-icon-s-size: 12px;
@select-icon-default-size: 14px;
@select-icon-l-size: 16px;

//阴影
@select-box-shabow: inset 0 1px 3px 0 #FFFFFF;

// padding
@select-ul-s-padding: 5px 8px;
@select-ul-default-padding: 9px 12px;
@select-ul-l-padding: 13px 16px;
@select-tag-s-padding: 1px 4px;
@select-tag-defalut-padding: 1px 8px;
@select-tag-l-padding: 1px 12px;

// margin
@select-tag-s-margin: 2px 4px;
@select-tag-defalut-margin: 4px 8px;
@select-tag-l-margin: 6px 12px;

