@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "../../mixins/_reset.less";

.@{prefix}-dropdown {
  .reset;

  background-color: @dropdown-bg-color;
  font-size: @dropdown-text-font-size;
  color: @dropdown-text-color;
  position: relative;
  box-shadow: @shadow-1;
  border: @dropdown-border;
  border-radius: @border-radius-medium;

  &__menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: @border-radius-medium;
    padding: @dropdown-menu-padding;
    gap: @dropdown-menu-gap;
    overflow-y: auto;
    overflow-x: hidden;

    .@{prefix}-divider {
      margin: @dropdown-item-divider-margin;
      z-index: 1100;
      color: @dropdown-active-bg-color;
    }
  }

  &__submenu {
    width: 160px;
    background-color: @dropdown-bg-color;
    box-shadow: @shadow-1;
    border-radius: @border-radius-medium;
    border: @dropdown-border;
    z-index: 1100;
    position: absolute;
    padding: @dropdown-menu-padding;
    display: none;
    left: calc(100% - 6px);

    ul {
      list-style: none;
      padding-left: 0;
      display: grid;
      gap: @dropdown-menu-gap;
    }

    &-disabled {
      visibility: hidden;
    }

    &-left {
      // top: -6px;
      right: calc(100% - 6px);
    }
  }

  &__item {
    width: 132px;
    border-radius: @border-radius-default;
    // position: relative;
    line-height: 1.4;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: background-color @anim-duration-base @anim-time-fn-ease-in;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: @dropdown-item-padding;

    &-icon {
      display: flex;
      margin-right: @spacer;
      color: currentcolor;
      font-size: @dropdown-text-icon-size;
    }

    &:hover > div {
      display: flex;
    }

    &-disabled {
      cursor: not-allowed;
    }

    &-content {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      width: 0;
    }

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.@{prefix}-dropdown__item--suffix {
      .@{prefix}-dropdown__item-subicon {
        color: currentcolor;
        font-size: @dropdown-text-icon-size;
        flex-shrink: 0;
      }
    }
    //默认主题
    &--theme-default {
      color: @dropdown-text-color;

      &:hover {
        background-color: @dropdown-container-hover-bg-color;
      }

      &:active {
        background-color: @dropdown-container-active-bg-color;
      }

      &.@{prefix}-dropdown__item--active {
        color: @dropdown-active-color;
        background-color: @dropdown-active-bg-color;

        &:hover {
          background-color: @dropdown-container-hover-bg-color;
        }

        &:active {
          background-color: @dropdown-container-active-bg-color;
        }
      }

      &.@{prefix}-dropdown__item-disabled {
        color: @dropdown-disable-color;

        &:hover {
          background-color: @dropdown-container-hover-bg-color;
        }
      }

      &.@{prefix}-dropdown__item--suffix {
        &:hover {
          background-color: @dropdown-active-bg-color;
          color: @dropdown-active-color;
        }
      }
    }
    //成功主题
    &--theme-success {
      color: @dropdown-theme-success-color;

      &:hover {
        background-color: @dropdown-container-hover-bg-color;
      }

      &:active {
        background-color: @dropdown-container-active-bg-color;
      }

      &.@{prefix}-dropdown__item--active {
        background-color: @dropdown-theme-success-bg-color;

        &:hover {
          background-color: @dropdown-container-hover-bg-color;
        }

        &:active {
          background-color: @dropdown-container-active-bg-color;
        }
      }

      &.@{prefix}-dropdown__item-disabled {
        color: @dropdown-disable-color;

        &:hover {
          background-color: @dropdown-container-hover-bg-color;
        }
      }

      &.@{prefix}-dropdown__item--suffix {
        &:hover {
          background-color: @dropdown-theme-success-bg-color;
        }
      }
    }
    //危险主题
    &--theme-danger {
      color: @dropdown-theme-danger-color;

      &:hover {
        background-color: @dropdown-container-hover-bg-color;
      }

      &:active {
        background-color: @dropdown-container-active-bg-color;
      }

      &.@{prefix}-dropdown__item--active {
        background-color: @dropdown-theme-danger-bg-color;

        &:hover {
          background-color: @dropdown-container-hover-bg-color;
        }

        &:active {
          background-color: @dropdown-container-active-bg-color;
        }
      }

      &.@{prefix}-dropdown__item-disabled {
        color: @dropdown-disable-color;

        &:hover {
          background-color: @dropdown-container-hover-bg-color;
        }
      }

      &.@{prefix}-dropdown__item--suffix {
        &:hover {
          background-color: @dropdown-theme-danger-bg-color;
        }
      }
    }
    //告警主题
    &--theme-warning {
      color: @dropdown-theme-warning-color;

      &:hover {
        background-color: @dropdown-container-hover-bg-color;
      }

      &:active {
        background-color: @dropdown-container-active-bg-color;
      }

      &.@{prefix}-dropdown__item--active {
        background-color: @dropdown-theme-warning-bg-color;

        &:hover {
          background-color: @dropdown-container-hover-bg-color;
        }

        &:active {
          background-color: @dropdown-container-active-bg-color;
        }
      }

      &.@{prefix}-dropdown__item-disabled {
        color: @dropdown-disable-color;

        &:hover {
          background-color: @dropdown-container-hover-bg-color;
        }
      }

      &.@{prefix}-dropdown__item--suffix {
        &:hover {
          background-color: @dropdown-theme-warning-bg-color;
        }
      }
    }
  }
}
