// color
@dropdown-bg-color: @bg-color-container;
@dropdown-suffix-color: @text-color-placeholder;
@dropdown-active-color: @brand-color;
@dropdown-active-bg-color: @brand-color-light;
@dropdown-container-hover-bg-color: @bg-color-container-hover;
@dropdown-container-active-bg-color: @bg-color-container-active;
@dropdown-disable-color: @text-color-disabled;
@dropdown-text-color: @text-color-primary;
@dropdown-scrollbar-color: @border-level-2-color;
@dropdown-split-color: @border-level-2-color;
@dropdown-text-font-size: @font-size-base;
@dropdown-text-icon-size: @font-size-l;
//theme
@dropdown-theme-danger-color: @error-color-6;
@dropdown-theme-danger-bg-color: @error-color-1;
@dropdown-theme-success-color: @success-color-5;
@dropdown-theme-success-bg-color: @success-color-1;
@dropdown-theme-warning-color: @warning-color-5;
@dropdown-theme-warning-bg-color: @warning-color-1;
// border
@dropdown-border: solid 1px @border-level-1-color;

// padding
@dropdown-item-padding: 3px 8px;
@dropdown-item-margin: 2px 6px;
@dropdown-item-icon-margin-left: @spacer;
// @dropdown-item-ends-margin: 0px;
@dropdown-item-divider-margin: 4px 8px 2px;
