<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divider</title>
      <!-- 文档公共样式 及组件特有示例样式-->
    <link rel="stylesheet"  href="../../docs.css" />
    <!-- 组件样式（全部的） -->
    <link rel="stylesheet" href="../../dist/tdesign.css">

    <link rel="stylesheet" href="https://tdesign.gtimg.com/icon/0.0.3/fonts/index.css">

</head>
<body>
  <div class="tdesign-demo-wrap">

    <!-- 开发者信息 -->
    <div class="tdesign-demo-wrap__name">
      <h1 class="">Divider</h1>
      <p class="tdesign-demo-wrap__info">开发者：kyrielin</p>
      <p class="tdesign-demo-wrap__info">创建日期：2020-09-21</p>
      <p class="tdesign-demo-wrap__info">说明：TDesign Divider</p>
    </div>

    <!-- 组件开始区 -->


    <!-- 默认样式 -->
    <div class="tdesign-demo-item">
      <h2 class="tdesign-demo-item__title">水平分割线</h2>

      <!-- 灰底区域 可多个 -->
      <div class="tdesign-demo-item__body">

        <!-- 内容区 Start-->
        <div class="tdesign-demo-block">水平分割线（默认）：
            <p>通过高效广告平台，协助品牌和市场营销者触达数以亿计的中国消费者通过金融科技及企业服务，促进合作伙伴业务发展，助力实现数字化升级，我们大力投资于人才队伍和推动科技创新，积极参与互联网行业协同发展。</p>
            <div class="t-divider t-divider--horizontal"></div>
            <p>通过高效广告平台，协助品牌和市场营销者触达数以亿计的中国消费者通过金融科技及企业服务，促进合作伙伴业务发展，助力实现数字化升级，我们大力投资于人才队伍和推动科技创新，积极参与互联网行业协同发展。</p>
        </div>
        <div class="tdesign-demo-block">水平分割线（虚线）:
            <p>通过高效广告平台，协助品牌和市场营销者触达数以亿计的中国消费者通过金融科技及企业服务，促进合作伙伴业务发展，助力实现数字化升级，我们大力投资于人才队伍和推动科技创新，积极参与互联网行业协同发展。</p>
            <div class="t-divider t-divider--horizontal t-divider--dashed"></div>
            <p>通过高效广告平台，协助品牌和市场营销者触达数以亿计的中国消费者通过金融科技及企业服务，促进合作伙伴业务发展，助力实现数字化升级，我们大力投资于人才队伍和推动科技创新，积极参与互联网行业协同发展。</p>
          </div>
          <!-- 内容区 End-->
        </div>
      </div>

      <!-- 带文字样式 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">带文字分割线</h2>
        <div class="tdesign-demo-item__body">

            <!-- 内容区 Start-->
          <div class="tdesign-demo-block">
            <p>通过高效广告平台，协助品牌和市场营销者触达数以亿计的中国消费者通过金融科技及企业服务，促进合作伙伴业务发展，助力实现数字化升级，我们大力投资于人才队伍和推动科技创新，积极参与互联网行业协同发展。</p>
            <div class="t-divider t-divider--horizontal t-divider--with-text t-divider--with-text-center">
              <span class="t-divider__inner-text">腾讯中</span>
            </div>
            <p>通过高效广告平台，协助品牌和市场营销者触达数以亿计的中国消费者通过金融科技及企业服务，促进合作伙伴业务发展，助力实现数字化升级，我们大力投资于人才队伍和推动科技创新，积极参与互联网行业协同发展。</p>
            <div class="t-divider t-divider--horizontal t-divider--with-text t-divider--with-text-left">
              <span class="t-divider__inner-text">腾讯左</span>
            </div>
            <p>通过高效广告平台，协助品牌和市场营销者触达数以亿计的中国消费者通过金融科技及企业服务，促进合作伙伴业务发展，助力实现数字化升级，我们大力投资于人才队伍和推动科技创新，积极参与互联网行业协同发展。</p>
            <div class="t-divider t-divider--horizontal t-divider--with-text t-divider--with-text-right">
              <span class="t-divider__inner-text">腾讯右</span>
            </div>
            <p>通过高效广告平台，协助品牌和市场营销者触达数以亿计的中国消费者通过金融科技及企业服务，促进合作伙伴业务发展，助力实现数字化升级，我们大力投资于人才队伍和推动科技创新，积极参与互联网行业协同发展。</p>
          </div>
          <!-- 内容区 End-->

        </div>
      </div>

      <!-- 垂直样式 -->
      <div class="tdesign-demo-item">
        <h2 class="tdesign-demo-item__title">垂直分割线</h2>
        <div class="tdesign-demo-item__body">

            <!-- 内容区 Start-->
          <div class="tdesign-demo-block">
            <span>正直</span>
            <div class="t-divider t-divider--vertical"></div>
            <span>进取</span>
            <div class="t-divider t-divider--vertical"></div>
            <span>合作</span>
            <div class="t-divider t-divider--vertical"></div>
            <span>创新</span>
          </div>
          <!-- 内容区 End-->

        </div>
      </div>

  </div>

</body>
</html>
