@import "../../base.less";
@import "./_var.less";
@import "../../mixins/_index.less";

.@{prefix}-cell-group {
  &-container {
    background-color: @cell-group-background-color;
  }

  &--title {
    padding: @cell-group-title-padding;
    color: @cell-group-title-color;
    background-color: @cell-group-title-background-color;
    font-size: @cell-group-title-font-size;
    line-height: @cell-group-title-line-height;
  }

  &--summary {
    font-size: 14px;
    color: @cell-group-title-color;
    padding: @cell-group-title-padding;
    line-height: @cell-group-title-line-height;
    background-color: transparent;
  }
}

// TODO: 换成兼容1px的细线
.border--top-bottom {
  position: relative;

  &::before {
    .hairline-top();
    z-index: 1;
  }

  &::after {
    .hairline-bottom();

  }
}
