@import "../../_variables.less";

// CellGroup
@cell-group-background-color: transparent; //@bg-color-block;
@cell-group-title-color: @text-level-3-color;
@cell-group-title-background-color: #F5F5F5;
@cell-group-title-padding: @spacer-3 16px ;
@cell-group-title-font-size: @font-size-base;
@cell-group-title-line-height: 22px;
