@import "../../_variables.less";

// CellGroup
@cell-group-background-color: @bg-color-block;
@cell-group-title-color: rgba(0,0,0,0.3);
@cell-group-title-background-color: #F5F5F5;
@cell-group-title-padding: 12px @spacer-2;
@cell-group-title-font-size: @font-size-base;
@cell-group-title-line-height: 22px;
