@import "../../_variables.less";

// CellGroup
@cell-group-background-color: @bg-color-block;
@cell-group-title-color: @text-level-3-color;
@cell-group-title-padding: @spacer-2 @spacer-2 12px;
@cell-group-title-font-size: @font-size-base;
@cell-group-title-line-height: 16px;
