@import "../../../base.less";

@import "./_var.less";

:host {
  display: flex;
}

.@{item} {
  &__group {
    height: @picker-group-height;
    overflow: hidden;
    flex: 1;
    z-index: 1;
  }

  &__wrapper {
    padding: 72px 0;
  }

  &__item {
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: @picker-item-height;
    line-height: @picker-item-height;
    color: @picker-item-color;

    &--active {
      color: @picker-item-active-color;
      font-weight: 600;
    }
  }
}
