// 颜色
@popup-bg: #FFFFFF;
@arrow-bg: #FFFFFF;
@popup-text-color: #000;

// 间距
@popup-padding: 6px 12px;

// 阴影
@popup-shadow: @shadow-2;

// 动画
@popup-flow: t-popup_animation;
@cubic-bezier: cubic-bezier(0, 0.48, 0.33, 1);
@duration: 0.5s;
@flowin-transition: opacity @duration @cubic-bezier;
