// 颜色
@popup-bg: @bg-color-container;
@arrow-bg: @bg-color-container;
@popup-text-color: @text-color-primary;

// 间距
@popup-padding: @spacer;
@popup-content-line-height: 22px;  
@popup-arrow-width: 10px; 
@popup-arrow-height: 10px;
@popup-content-arrow-spacer: @spacer-2;
// 箭头位置偏移量
@popup-arrow-position: @popup-arrow-width / 2;
@popup-content-font-size: @font-size-base;

// 阴影
@popup-shadow: @shadow-2;

// 动画
@popup-flow: t-popup_animation;
@cubic-bezier: cubic-bezier(0, .48, .33, 1);
@duration: .2s;
@flowin-transition: opacity @duration @cubic-bezier;
