// 颜色
@btn-primary-color:@primary-color;
@btn-primary-color-hover:@primary-color-hover;
@btn-primary-color-active:@primary-color-active;
@btn-primary-color-disabled:@primary-color-disabled;

@btn-warning-color:@error-color;
@btn-warning-color-hover:@error-color-hover;
@btn-warning-color-active:@error-color-active;
@btn-warning-color-disabled:@error-color-disabled;

@btn-line-bg-color:@bg-color-block;
@btn-line-bg-color-hover:@bg-color-block;
@btn-line-bg-color-disabled:@bg-color;
@btn-line-text-color-disabled:@text-level-4-color;

@btn-link-bg-color-hover:@bg-color;
@btn-link-bg-color-active:@border-level-2-color;

@btn-line-text-color:@text-level-1-color;
@btn-line-border-color:@border-level-2-color;

// 尺寸
@btn-height-s:24px;
@btn-height-default:32px;
@btn-height-l:48px;

// 圆角
@btn-border-radius:@border-radius;

// 阴影

//字号
@btn-font-s:@font-size-s;
@btn-font-default:@font-size-base;
@btn-font-l:@font-size*1.6;

// padding
@btn-padding-horizontal-s:@spacer;
@btn-padding-horizontal-default:@spacer*2;
@btn-padding-horizontal-l:@spacer*3;


