// 尺寸
@btn-height-s: 24px;
@btn-height-default: 32px;
@btn-height-l: 40px;

// 圆角
@btn-border-radius: @border-radius;

// 阴影

//字号
@btn-font-s: @font-size-s;
@btn-font-default: @font-size-base;
@btn-font-l: @font-size * 1.6;

// 图标大小
@btn-icon-size: 16px;
@btn-icon-size--icon-only: 20px;

// padding
@btn-padding-horizontal-s: @spacer;
@btn-padding-horizontal-default: @spacer*2;
@btn-padding-horizontal-l: @spacer*3;


