// 尺寸
@btn-height-s: 24px;
@btn-height-default: 32px;
@btn-height-l: 40px;

// 圆角
@btn-border-radius: @border-radius;

// 阴影

//字号
@btn-font-s: @font-size-s;
@btn-font-default: @font-size-base;
@btn-font-l: @font-size * 1.6;

// 图标大小
@btn-icon-size: 16px;
@btn-icon-size--icon-only: 20px;

// padding
@btn-padding-horizontal-s: @spacer;
@btn-padding-horizontal-default: @spacer*2;
@btn-padding-horizontal-l: @spacer*3;

@btn-border-width: 1px;

// 状态色 - 主色
@btn-color-primary: @brand-color;
@btn-color-primary-hover: @brand-color-hover;
@btn-color-primary-active: @brand-color-active;
@btn-color-primary-disabled: @brand-color-disabled;

// 状态色 - 危险
@btn-color-danger: @error-color;
@btn-color-danger-hover: @error-color-hover;
@btn-color-danger-active: @error-color-active;
@btn-color-danger-disabled: @error-color-disabled;

// 状态色 - 白 背景
@btn-color-white-bg: @bg-color-container;
@btn-color-white-bg-hover: @bg-color-container;
@btn-color-white-bg-active: @bg-color-container-active;
@btn-color-white-bg-disabled: @bg-color-component-disabled;

// 状态色 - 白 ghost
@btn-color-white-ghost: @bg-color-container;
@btn-color-white-ghost-hover: @brand-color-hover;
@btn-color-white-ghost-active: @brand-color-active;
@btn-color-white-ghost-disabled: @border-level-2-color;

// 状态色 - 无框背景 - 既文字背景
@btn-color-text-bg: transparent;
@btn-color-text-bg-hover: @bg-color-container-hover;
@btn-color-text-bg-active: @bg-color-container-active;
@btn-color-text-bg-disabled: transparent;

// 状态色 - border 灰
@btn-color-border-gray: @border-level-2-color;
@btn-color-border-gray-hover: @brand-color-hover;
@btn-color-border-gray-active: @brand-color-active;
@btn-color-border-gray-disabled: @border-level-2-color;

// 状态色 - 文字
@btn-color-text: @text-color-primary;
@btn-color-text-hover: @brand-color-hover;
@btn-color-text-active: @brand-color-active;
@btn-color-text-disabled: @text-color-disabled;
