@import "../../base.less";
@import "./_var.less";

.@{prefix}-message {
  position: fixed;
  top: @message-margin-x;
  left: @message-margin-y;
  right: @message-margin-y;
  display: flex;
  justify-content: @message-align;
  align-items: center;
  z-index: @message-z-index;
  color: @message-text-color;
  font-size: @message-text-font-size;
  padding: @message-padding-top @message-padding-right @message-padding-bottom @message-padding-left;
  border-radius: @message-border-radius;

  &&-align--center {
    justify-content: center;
  }

  &--txt {
    display: -webkit-box; // stylelint-disable-line
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; // stylelint-disable-line
    overflow: hidden;
  }

  &--info {
    background-color: @primary-color;
  }

  &--success {
    background-color: @success-color;
  }

  &--warning {
    background-color: @warning-color;
  }

  &--error {
    background-color: @error-color;
  }

  .@{prefix}-icon {
    flex-shrink: 0;
    font-size: @message-icon-size;
    margin-right: @message-icon-margin-right;
    color: @message-icon-color;
  }
}

.message-enter-active {
  animation: messageEnter .3s;
}

.message-leave-active {
  animation: messageOut .3s;
}

@keyframes messageEnter {
  from {
    transform: translate3d(0, calc(-100% - @message-margin-y), 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes messageOut {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, calc(-100% - @message-margin-y), 0);
  }
}
