@import "../../base.less";

@import "./_var.less";

@import "../../utilities/_animation.less";

@import "../../mixins/_reset.less";

.@{prefix}-tag-input {
  .reset;
  .@{prefix}-tag {
    animation: t-fade-in @anim-duration-base ease-in-out;
  }
  .@{prefix}-tag + .@{prefix}-tag {
    margin-left: @comp-margin-xs;
  }
  .@{prefix}-tag-input__drag_wrapper + .@{prefix}-tag-input__drag_wrapper {
    margin-left: @comp-margin-xs;
  }

  .@{prefix}-input {
    overflow: hidden;
    min-height: @tag-input-height-default;
    line-height: @tag-input-line-height-default;
    padding: 0 @comp-paddingLR-xs;
    height: fit-content;

    &.@{prefix}-size-s {
      padding: calc(@comp-paddingTB-xxs - 1px) @comp-paddingLR-xs;
      min-height: @tag-input-height-s;
      line-height: @tag-input-line-height-s;
    }

    &.@{prefix}-size-l {
      min-height: @tag-input-height-l;
      line-height: @tag-input-line-height-l;
    }
  }

  &:hover,
  .@{prefix}-input--focused {
    .@{prefix}-input__inner {
      min-width: 20px;
    }
  }

  .@{prefix}-tag-input__prefix,
  .@{prefix}-input__prefix:empty + input {
    margin-left: @comp-margin-xs;
  }

  .@{prefix}-input--auto-width {
    padding-right: @comp-paddingLR-xs;
  }
}

.@{prefix}-tag-input__suffix-clear {
  cursor: pointer;
}

// 标签数量超出时，换行显示
.@{prefix}-tag-input--break-line {

  .@{prefix}-input {
    display: block;
    padding-right: @comp-paddingLR-xl;

    &.@{prefix}-input--prefix > .@{prefix}-input__prefix {
      display: inline;
      text-align: left;
    }

    .@{prefix}-input__suffix-icon {
      position: absolute;
      right: @comp-margin-s;
      bottom: 0;
    }
  }
}

.@{prefix}-tag-input__prefix {
  width: max-content;
  display: inline-block;
  margin-right: @comp-margin-s;
}
