@tag-input-height-s: @comp-size-xs;
@tag-input-height-default: @comp-size-m;
@tag-input-height-l: @comp-size-xl;

@tag-input-line-height-s: calc(@tag-input-height-s - 4px);
@tag-input-line-height-default: calc(@tag-input-height-default - 4px);
@tag-input-line-height-l: calc(@tag-input-height-l - 4px);
