@avatar-border-color: @bg-color-container;

//组合头像偏移量
@avatar-group-offset-small: -4px;
@avatar-group-offset-medium: -6px;
@avatar-group-offset-large: -8px;

//边框大小
@avatar-border-width-small: 2px;
@avatar-border-width-medium: 3px;
@avatar-border-width-large: 4px;

//z-index
@avatar-group-init-zIndex:50;
