@import "../../_variables.less";

@cell-vertical-padding: 12px;
@cell-horizontal-padding: 16px;
@cell-label-width: 80px;
@cell-border-color: @border-level-1-color;
@cell-background-color: @bg-color-block;
@cell-font-size: 16px; // @font-size-base
