@import '../../base.less';

.@{prefix}-icon{
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    width:@icon-default;
    height:@icon-default;
}

.@{prefix}-icon-demo{
    background-image: url(http://ue.qzone.qq.com/16);
}