@import "../../base.less";

.@{prefix}-icon {
  display: inline-block;
  font-size: @icon-default;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.@{prefix}-icon::before {
  font-family: unset;
}

.@{prefix}-icon-loading {
  animation: t-spin 1s linear infinite;
}

.@{prefix}-icon-demo {
  background-image: url(http://ue.qzone.qq.com/16);
  background-size: 100% 100%;
}
