@import '../../base.less';

@import './_var.less';

.@{comment} {
  box-sizing: border-box;

  &__inner {
    display: flex;
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: @comment-avatar-margin-right;
  }

  &__content {
    flex: auto;
  }

  &__author {
    color: @comment-name-color;
    margin-bottom: @comment-name-margin-bottom;
  }

  &__detail {
    word-break: break-all;
    font: @comment-content-text-size;
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin-top: @comment-bottom-margin-top;
  }

  &__meta {
    display: flex;
    align-items: baseline;
    flex: 1;
  }

  &__date {
    font: @comment-time-text-size;
    color: @comment-time-color;
    margin-right: @comment-time-margin-right;
  }

  &__reply {
    margin-top: @comment-reply-margin-top;
    margin-left: @comment-reply-margin-left;
  }

  &__folds {
    display: flex;
    align-items: center;

    &::before {
      display: block;
      content: '';
      width: 18px;
      height: .5px;
      background: @comment-folds-divider-background;
      margin-right: @comment-folds-divider-margin-right;
    }

    &-item {
      display: flex;
      align-items: center;
      color: @comment-folds-item-color;
      font-size: @comment-folds-item-font-size;
      line-height: @comment-folds-item-line-height;
      margin-right: @comment-folds-item-margin-right;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1;

    &-block {
      display: flex;
      align-items: center;
    }
  }
}
