@comment: ~'@{prefix}-comment';
@comp-size-xxxl: 56px;
// margin 间距相关
@comp-margin-l: 16px;
@comp-margin-m: 12px;
@comp-margin-xs: 4px;

@comment-content-padding: @comp-margin-m @comp-margin-l @comp-margin-xs @comp-margin-l;

@comment-name-margin-bottom: var(--td-comment-name-margin-bottom, 2px);
@comment-name-text-size: @font-body-small;
@comment-name-color: @text-color-placeholder;

@comment-content-text-size: @font-body-large;

@comment-bottom-margin-top: 6px;

@comment-time-color: @text-color-disabled;
@comment-time-text-size: @font-body-small;
@comment-time-margin-right: var(--td-comment-time-margin-right, 16px);

@comment-reply-margin-left: @comp-size-xxxl;
@comment-reply-margin-top: @spacer;
@comment-reply-button-color: @text-color-secondary;
@comment-reply-button-text-size: @font-body-small;

// 头像
@comment-avatar-margin-right: var(--td-comment-avatar-margin-right, 8px);
@comment-avatar-size: var(--td-comment-avatar-size, 32px);
@comment-avatar-radius: var(--td-comment-avatar-radius, 50%);

@comment-folds-divider-background: @component-stroke;
@comment-folds-divider-margin-right: @spacer;
@comment-folds-item-color: @text-color-secondary;
@comment-folds-item-font-size: @font-size-s;
@comment-folds-item-line-height: @text-line-height-s;
@comment-folds-item-margin-right: @spacer-3;
