@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

.@{prefix}-breadcrumb {
  .breadcrumb;

        
  &__item {
    display: flex;
    align-items: center;
    margin-right: @spacer;
    color: @breadcrumb-default-color;
    text-decoration: none;

    &.t-is-current {
      color: @breadcrumb-current-color;
			
      .t-icon {
        color: @breadcrumb-current-icon-color;
      }
    }

    .t-icon {
      margin-right: @spacer-half;
    }
    .t-separator {
      margin-left: @spacer;
    }

    .t-icon__arrow-down {
      .v-inlineblock;
      margin: 0 @spacer 0 -@spacer;
      height: 6px;
      width: 6px;
      border-width: 1px 1px 0 0;
      border-color: @breadcrumb-default-color;
      border-style: solid;
      transform: matrix(.71, .71, .71, -.71, 0, 0);
    }

    //箭头型
    &--arrow {        

      &:after {
        content: "";
        .v-inlineblock;
        height: 6px;
        width: 6px;
        border-width: 1px 1px 0 0;
        border-color: @breadcrumb-default-color;
        border-style: solid;
        transform: matrix(.71, .71, -.71, .71, 0, 0);
      }
    }

    //斜杠型
    &--slash {        

      &:after {
        content: "/";
        .v-inlineblock;
        color: @breadcrumb-default-color;
      }
    }
  }
        
  &__inner {
    .v-inlineblock;
    padding-right: @spacer;
    font-size: @breadcrumb-font-base;
    word-break: break-all;

    &:hover {
      color: @breadcrumb-color-hover;
    }
  }
        
  //下拉框
  &__select {
    position: relative;

    &:hover {

      .t-icon__arrow-down {
        border-color: @breadcrumb-color-hover;
      }
			
      .@{prefix}-breadcrumb__option {
        display: block;
      }
    }
  }
        
  &__option {
    display: none;
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 120px;
    background: #fff;
    box-shadow: @breadcrumb-option-box-shadow;
    z-index: 20;

    &-item {
      padding: @spacer;
      font-size: @breadcrumb-font-base;
      line-height: @breadcrumb-line-height-s;
      color: @breadcrumb-current-color;
      .t-overflow;

      &:hover {
        color: @breadcrumb-color-hover;
      }

      &.t-is-active {
        color: @breadcrumb-color-hover;
      }
    }
  }
        
  //文案超长
  &__inner-msg {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    width: 300px;
    padding: @spacer;
    color: @breadcrumb-current-color;
    background: #fff;
    border-radius: @border-radius * .5;
    box-shadow: @breadcrumb-option-box-shadow;
    z-index: 20;

    &:before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -4px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: #fff transparent transparent transparent;
      z-index: 20;
    }

  }

  &--text-oveflow {
    position: relative;

    &:hover {

      .@{prefix}-breadcrumb__inner-msg {
        display: block;
      }

    }

    .@{prefix}-breadcrumb__inner {
      max-width: 200px;
      .t-overflow;
    }
  }
}