<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breadcrumb</title>
      <!-- 文档公共样式 及组件特有示例样式-->
    <link rel="stylesheet"  href="../../docs.css" />
    <!-- 组件样式（全部的） -->
    <link rel="stylesheet" href="../../dist/tdesign.css">
    <!--icon样式-->
    <link rel="stylesheet" href="https://tdesign.gtimg.com/icon/0.0.3/fonts/index.css">
    
</head>
<body>
  <div class="tdesign-demo-wrap">

    <!-- 开发者信息 -->
    <div class="tdesign-demo-wrap__name">
      <h1 class="">Breadcrumb</h1>
      <p class="tdesign-demo-wrap__info">开发者：yuiqin</p>
      <p class="tdesign-demo-wrap__info">创建日期：2020-06-10</p>
      <p class="tdesign-demo-wrap__info">说明：tdesign breadcrumb组件的基本样式</p>
    </div>

    <!-- 组件开始区 -->


    <!-- 默认样式 -->
    <div class="tdesign-demo-item">
      <h2 class="tdesign-demo-item__title">默认</h2>

      <!-- 基础面包屑 -->
      <div class="tdesign-demo-item__body">

        <!-- 内容区 Start-->
        <div class="t-breadcrumb">
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面一</span>
					</a>
					<span class="t-breadcrumb__item--arrow">
						<i class="t-icon t-icon-arrow-right"></i>
					</span>
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面二</span>
					</a>
					<span class="t-breadcrumb__item--arrow">
						<i class="t-icon t-icon-arrow-right"></i>
					</span>
					<a href="" class="t-breadcrumb__item t-is-current">
						<span class="t-breadcrumb__inner">页面三</span>
					</a>
				</div>
        <!-- 内容区 End-->

      </div>
			
    </div>

    <!-- 组件状态 -->
    <div class="tdesign-demo-item">
      <h2 class="tdesign-demo-item__title">状态</h2>

      <!-- 带下拉的面包屑hover态 -->
      <div class="tdesign-demo-item__body">
        
        <!-- 内容区 Start-->
				<div class="t-breadcrumb">
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面一</span>
					</a>
					<span class="t-breadcrumb__item--slash">
						<i class="t-icon t-icon-slash"></i>
					</span>
					<a href="" class="t-breadcrumb__item">
						<div class="t-breadcrumb__select">
							<div class="t-breadcrumb__select-item">
								<span class="t-breadcrumb__inner">页面2-1</span>
								<i class="t-icon t-icon-arrow-down"></i>
							</div>
							<div class="t-breadcrumb__option">
								<p class="t-breadcrumb__option-item t-is-active">页面2-1</p>
								<p class="t-breadcrumb__option-item">字数超出需要做隐藏效果</p>
								<p class="t-breadcrumb__option-item">页面2-3</p>
							</div>
						</div>
					</a>
					<span class="t-breadcrumb__item--slash">
						<i class="t-icon t-icon-slash"></i>
					</span>
					<a href="" class="t-breadcrumb__item t-is-current">
						<span class="t-breadcrumb__inner">页面三</span>
					</a>
				</div>
        <!-- tdesign-demo-block block内容容器，加了上间距 -->
        <div class="tdesign-demo-block">
          
        </div>
        
        <!-- 内容区 End-->
        
      </div>
    </div>

    <!-- 组件类型 -->
    <div class="tdesign-demo-item">
      <h2 class="tdesign-demo-item__title">类型</h2>
			
      <!-- 基础面包屑 -->
      <div class="tdesign-demo-item__body">

        <!-- 内容区 Start-->
        <div class="t-breadcrumb">
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面一</span>
					</a>
					<span class="t-breadcrumb__item--arrow">
						<i class="t-icon t-icon-arrow-right"></i>
					</span>
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面二</span>
					</a>
					<span class="t-breadcrumb__item--arrow">
						<i class="t-icon t-icon-arrow-right"></i>
					</span>
					<a href="" class="t-breadcrumb__item t-is-current">
						<span class="t-breadcrumb__inner">页面三</span>
					</a>
				</div>
        <!-- 内容区 End-->

      </div>
			
			<!-- 带图标的面包屑 -->
			<div class="tdesign-demo-item__body">
				
				<!-- 内容区 Start-->
				<div class="t-breadcrumb">
					<a href="" class="t-breadcrumb__item">
						<i class="t-icon t-icon-demo"></i>
						<span class="t-breadcrumb__inner">页面一</span>
					</a>
					<span class="t-breadcrumb__item--arrow">
						<i class="t-icon t-icon-arrow-right"></i>
					</span>
					<a href="" class="t-breadcrumb__item">
						<i class="t-icon t-icon-demo"></i>
						<span class="t-breadcrumb__inner">页面二</span>
					</a>
					<span class="t-breadcrumb__item--arrow">
						<i class="t-icon t-icon-arrow-right"></i>
					</span>
					<a href="" class="t-breadcrumb__item t-is-current">
						<i class="t-icon t-icon-demo"></i>
						<span class="t-breadcrumb__inner">页面三</span>
					</a>
				</div>
				<!-- 内容区 End-->
				
			</div>
			
			<!-- 自定义分隔符的面包屑 -->
			<div class="tdesign-demo-item__body">
				
				<!-- 内容区 Start-->
				<div class="t-breadcrumb">
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面一</span>
					</a>
					<span class="t-breadcrumb__item--slash">
						<i class="t-icon t-icon-slash"></i>
					</span>
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面二</span>
					</a>
					<span class="t-breadcrumb__item--slash">
						<i class="t-icon t-icon-slash"></i>
					</span>
					<a href="" class="t-breadcrumb__item t-is-current">
						<span class="t-breadcrumb__inner">页面三</span>
					</a>
				</div>
				<!-- 内容区 End-->
				
			</div>
			
			<!-- 带下拉的面包屑 -->
			<div class="tdesign-demo-item__body">
				
				<!-- 内容区 Start-->
				<div class="t-breadcrumb">
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面一</span>
					</a>
					<span class="t-breadcrumb__item--slash">
						<i class="t-icon t-icon-slash"></i>
					</span>
					<a href="" class="t-breadcrumb__item">
						<div class="t-breadcrumb__select">
							<div class="t-breadcrumb__select-item">
								<span class="t-breadcrumb__inner">页面2-1</span>
								<i class="t-icon t-icon-arrow-down"></i>
							</div>
							<div class="t-breadcrumb__option">
								<p class="t-breadcrumb__option-item t-is-active">页面2-1</p>
								<p class="t-breadcrumb__option-item">页面2-2</p>
								<p class="t-breadcrumb__option-item">页面2-3</p>
							</div>
						</div>
					</a>
					<span class="t-breadcrumb__item--slash">
						<i class="t-icon t-icon-slash"></i>
					</span>
					<a href="" class="t-breadcrumb__item t-is-current">
						<span class="t-breadcrumb__inner">页面三</span>
					</a>
				</div>
				<!-- 内容区 End-->
				
			</div>
			
			<!-- 面包屑文案超长 -->
			<div class="tdesign-demo-item__body">
				
				<!-- 内容区 Start-->
				<div class="t-breadcrumb">
					<a href="" class="t-breadcrumb__item">
						<span class="t-breadcrumb__inner">页面一</span>
					</a>
					<span class="t-breadcrumb__item--arrow">
						<i class="t-icon t-icon-arrow-right"></i>
					</span>
					<a href="" class="t-breadcrumb__item t-breadcrumb--text-overflow">
						<div class="t-breadcrumb__inner-msg">面包屑文案超长这种情况下需要隐藏鼠标上移出现完整信息</div>
						<span class="t-breadcrumb__inner">面包屑文案超长这种情况下需要隐藏鼠标上移出现完整信息</span>
					</a>
					<span class="t-breadcrumb__item--arrow">
						<i class="t-icon t-icon-arrow-right"></i>
					</span>
					<a href="" class="t-breadcrumb__item t-is-current">
						<span class="t-breadcrumb__inner">页面三</span>
					</a>
				</div>
				<!-- 内容区 End-->
				
			</div>

    </div>

    <!-- 组件尺寸 -->
    <div class="tdesign-demo-item">
      <h2 class="tdesign-demo-item__title">尺寸(如果有)</h2>
      <div class="tdesign-demo-item__body">

        <!-- 内容区 Start-->

        <!-- 内容区 End-->
    </div>

  </div>
    
</body>
</html>