// 组件允许单个组件打包，因此默认引入公共基础样式
@import "../../base.less";
@import "./_var.less";
@import "./_mixin.less";
.@{prefix}-date-picker {
  padding: 0;

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  .@{prefix}-date-picker-popup-reference {
    width: 100%;
  }

  &--container {
    margin: 8px 0;
    background-color: @datepicker-dropdown-background;
  }


  &--multiple .@{prefix}-form-controls {
    min-width: 640px;
  }

}

.@{prefix}-date-picker--panels {
  display: flex;
  min-width: 320px;
  max-width: 100%;

  background-color: @day-calendar-background;

  &::after {
    display: block;
    clear: both;
    content: "";
  }
}
.@{prefix}-date-picker--panel {
  position: relative;
  width: @day-panel-width;
  margin: @day-calendar-margin;

  &:nth-child(2) {
    &::before {
      content: " ";
      width: 1px;
      height: 95%;
      display: block;
      position: absolute;
      left: 0px;
      top: 16px;
      border-left: 1px solid @day-calendar-border-color;
    }
  }
}
.@{prefix}-date-picker-header {
  padding: 20px 24px;
  border-bottom: 1px solid @border-level-1-color;

  .@{prefix}-date-picker-header-title, .@{prefix}-date-header__btn {
    font-size: @datepicker-font-size-l;
    font-weight: @datepicker-font-weight-medium;
  }

  .@{prefix}-date-picker-header-controller {
    float: right;

    &-btn {
      color: @day-color;
      width: 16px;
      height: 16px;
    }
  }
}
.@{prefix}-date-picker-presets {
  float: left;
  text-align: left;
  padding: 8px 16px;
  min-width: 100px;

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  li {
    font-size: @datepicker-font-size;
    line-height: @datepicker-line-height;
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
    vertical-align: middle;
    padding: 0px;
    cursor: pointer;
    // min-width: 100px;
    float: left;
  }
}


/***/

@time-options-item-height: 40px;
@item-count: 6;
@item-selected-bg-color: @brand-color-8;

@icon-color: #bfbfbf;

.input-active() {
  z-index: 1;
  border-color: @primary-color;
}

.t-picker {
  padding: 0;

  &__input {
    min-width: 304px;
    display: inline-flex;
    border: @border-main;
    background: #fff;
    border-radius: @input-border-radius-default;
    width: 100%;
    
    // input active focus 和 disabled不会共存
    &:hover:not(.t-picker__input--disabled),
    &--focused:not(.t-picker__input--disabled) {
      .input-active();

      .t-picker__input-icon:not(.t-picker__input-icon--clear) {
        color: @primary-color;
      }
    }

    // input disabled
    &--disabled {
      background: #fbfbfb;
      border-color: @disabled-color;
      cursor: not-allowed;
    }

    // input readonly
    &--readonly {
      cursor: default;

      &:focus {
        .input-active();
      }
    }

    &--error {
      border-color: @error-color;
    }

    // input show clear
    &:not(&--empty):hover&:not(&--disabled):hover&:not(&--readonly):hover:not(&--no-clear):hover {
      .t-picker__input-icon--suffix {
        visibility: hidden;
      }

      .t-picker__input-icon--clear {
        visibility: visible;
      }
    }

    &-separator {
      padding: 0 10px;
      line-height: @input-inner-height-default;
    }

    &-suffixicon {
      position: relative;
      min-width: 24px;
      margin: 0 8px;
    }

    &-icon {
      position: absolute;
      height: @input-inner-height-default;
      line-height: @input-inner-height-default;
      font-size: 0;
      color: @icon-color;

      .t-icon {
        font-size: 20px;
        vertical-align: middle;
      }

      &--suffix {
        .t-icon {
          font-size: 20px;
        }
      }

      &--clear {
        visibility: hidden;
        cursor: pointer;

        &:hover {
          color: @primary-color;
        }
      }
    }
  }

  &__popup {
    display: flex;

    &-shortcut {
      width: 101px;
      padding: 6px 0 6px 16px ;
      border-right: @border-main-2;

      &-btn {
        display: block;
        color: #000;
        padding: 0;
        
        + .t-button {
          margin-left: 0;
        }

        &:hover {
          color: #4088ff;
        }
      }
    }
  }
}

.t-picker-datetime-range {
  min-width: 408px;
}

.t-date-cell {
  color: #000;
  
  &__wrapper {
    height: 40px;
    margin-top: 4px;
    width: 100%;
    cursor: pointer;

    > span {
      display: block;
      width: 40px;
      line-height: 40px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      &:hover {
        // background-color: @datepicker-cell-hover-color;
        border-color: @datepicker-cell-hover-color;
      }
    }
  }

  &__text {
    font-size: 14px;
  }

  &--now {
    .t-date-cell__wrapper > span {
      box-shadow: inset 0px 0px 0px 1px @primary-color;
      color: @primary-color;
    }
  }

  &--highlight {
    .t-date-cell__wrapper {
      background-color: @primary-color-ligher-7;
      border-color: @primary-color-ligher-7;
    }
  }

  &--active {
    .t-date-cell__wrapper > span {
      color: #fff;
      background-color: @primary-color;
    }

    &-start {
      .t-date-cell__wrapper {
        // margin-left: 10px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }

    &-end {
      .t-date-cell__wrapper {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }
  }

  &--last-day-of-month {
    .t-date-cell__wrapper {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }

  &--first-day-of-month {
    .t-date-cell__wrapper {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }
  }

  &--additional {
    .t-date-cell__wrapper {
      color: #bfbfbf;
      background: #fff;
      border-color: #fff;
    }
  }

  &--disabled {
    .t-date-cell__wrapper {
      cursor: not-allowed;
      background: #f5f5f5;
      border-color: #f5f5f5;
      color: @disabled-color;
    }
  }
}

.t-date-year,
.t-date-month {
  tbody {
    tr {
      .t-date-cell__wrapper {
        margin-top: 28px;
        width: 38px;
      }  

      &:first-child {
        .t-date-cell__wrapper {
          margin-top: 24px;
        } 
      }

      &:last-child {
        .t-date-cell {
          text-align: left;
        } 
      }
    }
  }
}

.t-time-range {
  display: flex;

  .t-time:first-child {
    border-right: @border-main-2;
  }
}

.t-date {
  width: 320px;

  table {
    width: 100%;
    border-collapse: collapse;
    user-select: none;
  }

  tbody {
    margin-top: 2px;
  }

  th {
    padding: 16px 0 8px 0;
    margin-bottom: 5px;
    font-weight: 500;
  }

  td {
    padding: 0;
    text-align: center;
    position: relative;

    // 每列开头和结尾均为圆形边框
    &:first-child {
      .t-date-cell__wrapper {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }

    &:last-child {
      .t-date-cell__wrapper {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }
    }
  }

  &__sub-panel {
    &--hide {
      display: none;
    }
  }

  .t-date-header {
    display: flex;
  
    &__btn {
      // padding: 0;
      // color: @icon-color;
  
      &--prev-month,
      &--next-year {
        margin-left: 4px;
      }
  
      &--next-year {
        transform-origin: center 17px;
      }
  
      &--disabled {
        display: none;
      }
    }
  }
}

.t-date-range {
  // width: 640px;
  overflow: hidden;
  display: flex;
}

.@{prefix}-date-picker--apply {
  border-top: 1px solid @day-calendar-border-color;

  padding: 8px 16px;
  text-align: left;
  float: right;

  &::after {
    display: block;
    clear: both;
    content: "";
  }
}