[class*='@{d-prefix}-demo-item--layout'] {
  >div {
    margin: 20px 0;
  }

  .@{d-prefix}-demo-item__body {
    background: @gray-color-5;
  }

  .@{prefix}-layout--header {
    text-align: center;
    color: rgba(255,255,255,.90);
    // background-color: @grey-color-5;
  }

  .@{prefix}-layout--content {
    height: 600px;
    text-align: center;
    padding: 24px 24px 0 24px;

    & > div {
      background: #fff;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: auto;
      word-wrap: break-word;
    }
  }

  .@{prefix}-layout--footer {
    min-height: 46px;
    text-align: center;
    color: @text-color-placeholder;
  }

  .@{prefix}-layout--sider {
    text-align: center;
  
    .trigger {
      width: 100%;
      height: 48px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      color: rgba(0,0,0,.6);
      border-top: 1px solid #eee;
    }
  }

  .@{prefix}-layout--sider-trigger {
    border-top: 1px solid #eee;
  }

}


[class*='@{d-prefix}-demo-item--base'] {

  > div {
    margin-top: 20px;
  }

  .@{d-prefix}-demo-item__body {
    background: @gray-color-5;
    font-weight: 500;
    font-size: @font-size-l;
  }

  .@{prefix}-layout--header {
    text-align: center;
    color: #fff;
    background-color: @brand-color-4;
    font-size: @font-size-l;
    .t-layout--header {
      color: #fff;
      background: #266fe8;
    }
  }
  .@{prefix}-layout--sider {
    background-color: @brand-color-6;
    color: #fff;
    font-size: @font-size-l;

  } 

  .@{prefix}-layout--content {
    text-align: center;
    color: #fff;
    background: @brand-color-5;
    height: 100px;
    font-size: @font-size-l;

  }

  .@{prefix}-layout--footer {
    min-height: 46px;
    text-align: center;
    color: #fff;
    background: @brand-color-4;
    font-size: @font-size-l;

  }

  .@{prefix}-layout--sider {
    text-align: center;
    font-size: @font-size-l;
  }

}



