<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
      <!-- 文档公共样式 及组件特有示例样式-->
    <link rel="stylesheet"  href="../../docs.css" />
    <!-- 组件样式（全部的） -->
    <link rel="stylesheet" href="../../dist/tdesign.css">

    <link rel="stylesheet" href="https://tdesign.gtimg.com/icon/0.0.3/fonts/index.css">
</head>
<body>
  <div class="tdesign-demo-wrap tdesign-demo-wrap--layout">

    <!-- 开发者信息 -->
    <div class="tdesign-demo-wrap__name">
      <h1 class="">Layout</h1>
      <p class="tdesign-demo-wrap__info">开发者：kyrielin</p>
      <p class="tdesign-demo-wrap__info">创建日期：2020-11-9</p>
      <p class="tdesign-demo-wrap__info">说明：TDesign Layout</p>
    </div>

    <!-- 组件开始区 -->

    <div class="tdesign-demo-item tdesign-demo-item--layout">
      <h2 class="tdesign-demo-item__title">侧边导航布局</h2>

      <!-- 灰底区域 可多个 -->
      <div class="tdesign-demo-item__body">

        <!-- 内容区 Start-->
        <div class="tdesign-demo-block">
          <section class="t-layout t-layout-has-sider">
            <aside class="t-layout--sider">
              <h2 class="logo">LOGO</h2>
            </aside>
            <section class="t-layout">
              <main class="t-layout--content">
                <div>Content</div>
              </main>
              <footer class="t-layout--footer">
                Copyright @ 2019-2020 Tencent. All Rights Reserved
              </footer>
            </section>
          </section>
        </div>
        <!-- 内容区 End-->
      </div>

      <div class="tdesign-demo-item__body">

        <!-- 内容区 Start-->
        <div class="tdesign-demo-block">
          <section class="t-layout">
            <header class="t-layout--header">
              Header
            </header>
            <section class="t-layout t-layout-has-sider">
              <aside class="t-layout--sider">
                <h2 class="logo">LOGO</h2>
                <div class="trigger">
                  <span class="t-icon t-icon-arrow-left"></span>
                </div>
              </aside>
              <section class="t-layout">
                <main class="t-layout--content">
                  <div>Content</div>
                </main>
                <footer class="t-layout--footer">
                  Copyright @ 2019-2020 Tencent. All Rights Reserved
                </footer>
              </section>
            </section>
          </section>
        </div>
        <!-- 内容区 End-->
      </div>

      <div class="tdesign-demo-item__body">

        <!-- 内容区 Start-->
        <div class="tdesign-demo-block">
          <section class="t-layout">
            <header class="t-layout--header">
              Header
            </header>
            <section class="t-layout t-layout-has-sider">
              <aside class="t-layout--sider t-layout--sider-collapsed">
                <h2 class="logo">LOGO</h2>
                <div class="trigger">
                  <span class="t-icon t-icon-arrow-left"></span>
                </div>
              </aside>
              <section class="t-layout">
                <main class="t-layout--content">
                  <div>Content</div>
                </main>
                <footer class="t-layout--footer">
                  Copyright @ 2019-2020 Tencent. All Rights Reserved
                </footer>
              </section>
            </section>
          </section>
        </div>
        <!-- 内容区 End-->

        <!-- 内容区 Start-->
        <div class="tdesign-demo-block">
          <section class="t-layout">
            <header class="t-layout--header">
              Header
            </header>
            <section class="t-layout t-layout-has-sider">
              <section class="t-layout">
                <main class="t-layout--content">
                  <div>Content</div>
                </main>
                <footer class="t-layout--footer">
                  Copyright @ 2019-2020 Tencent. All Rights Reserved
                </footer>
              </section>
              <aside class="t-layout--sider">
                <h2 class="logo">LOGO</h2>
                <div class="trigger">
                  <span class="t-icon t-icon-arrow-right"></span>
                </div>
              </aside>
            </section>
          </section>
        </div>
        <!-- 内容区 End-->
      </div>
    </div>

    <div class="tdesign-demo-item tdesign-demo-item--layout">
      <h2 class="tdesign-demo-item__title">顶部导航布局</h2>

      <!-- 灰底区域 可多个 -->
      <div class="tdesign-demo-item__body">

        <!-- 内容区 Start-->
        <div class="tdesign-demo-block">
          <section class="t-layout">
            <header class="t-layout--header">
              Header
            </header>
            <main class="t-layout--content">
              <div>Content</div>
            </main>
            <footer class="t-layout--footer">
              Copyright @ 2019-2020 Tencent. All Rights Reserved
            </footer>
          </section>
        </div>
        <!-- 内容区 End-->
      </div>
    </div>

  </div>

</body>
</html>
