.slide-top-enter-active {
  animation: forwards @slide-top-in .24s;
}

.slide-top-leave-active {
  animation: forwards @slide-top-out .24s;
}

.slide-right-enter-active {
  animation: forwards @slide-right-in .24s;
}

.slide-right-leave-active {
  animation: forwards @slide-right-out .24s;
}

.slide-bottom-enter-active {
  animation: forwards @slide-bottom-in .24s;
}

.slide-bottom-leave-active {
  animation: forwards @slide-bottom-out .24s;
}

.slide-left-enter-active {
  animation: forwards @slide-left-in .24s;
}

.slide-left-leave-active {
  animation: forwards @slide-left-out .24s;
}

.fade-zoom-enter-active {
  animation: forwards @fade-zoom-in .24s;
}

.fade-zoom-leave-active {
  animation: forwards @fade-zoom-out .24s;
}

.fade-enter-active {
  animation: forwards @fade-in .24s;
}

.fade-leave-active {
  animation: forwards @fade-out .24s;
}
