// TDesign 站点中有代码code元素的相关样式 为正常展示需要覆盖为typography样式
div[name="DEMO"] .t-chat__text pre {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

div[name="DEMO"] .chat-action-content {
  display: flex;
}

div[name="DEMO"] .t-chat hr {
  opacity: 1;
  border: 1px solid var(--td-border-level-1-color);
}
