// 组件允许单个组件打包，因此默认引入公共基础样式

@import "../../base.less";

@import "./_var.less";

@import "./_mixin.less";

@import "./_doc.less";

@import "../../mixins/_reset.less";

@user-background-color: rgba(0, 197, 108, 0.3);

.@{prefix}-chat {
  .reset;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: @comment-text-color-default;
  // 聊天列表
  &__list {
    flex: 1;
    overflow: auto;
    &--reverse {
      display: flex;
      flex-direction: column-reverse;
    }
    .place-holder {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
  // 输入框插槽
  &__footer {
    position: relative;
    &__content {
      width: 100%;
      position: relative;
      display: flex;
      margin-top: @comp-margin-xl;
      padding-right: 0px;
    }
    &__textarea {
      flex-grow: 1;
      position: relative;
      border-radius:@border-radius-round;
      .t-textarea {
        width: 100%;
        .t-textarea__inner {
          background: @bg-color-secondarycontainer;
          padding: @comp-size-xxs @comp-size-xxxxxl @comp-size-xxs @comp-size-xs;
          border-color: @component-border;
          border-radius: 32px;
          scrollbar-width: none;
        }
        .t-textarea__inner.t-is-focused {
          border-color: @brand-color;
          background: @bg-color-container;
        }
      }
      &__icon {
        position: absolute;
        bottom: @comp-paddingTB-s;
        right: @comp-paddingLR-s;
        text-align: center;
        cursor: pointer;
        & &__default {
          transform: rotate(-90deg);
          width: @comp-size-xxl;
          height: @comp-size-xxl;
          border-radius: @border-radius-circle;
        }
        & &--focus {
          background: @brand-color;
          color: @text-color-anti;
        }
        .t-button.t-size-s .t-icon {
          font-size: @font-size-xl;
        }
      }
    }
    &__stopbtn {
      flex: 0 0 auto;
      margin-left: @comp-margin-l;
      .t-button{
        width: 100px;
        height: @comp-size-xxxxl;
        border-radius:@border-radius-round;
        background: @bg-color-secondarycontainer;
        color: @text-color-primary;
        font-size: @font-size-l;
        .t-icon {
          font-size:  @font-size-xl;
          margin-right: @comp-margin-s;
        }
      }
    }
  }
  &__inner {
    display: flex;
    margin-bottom: @comp-margin-l;
    .@{prefix}-chat__avatar {
      flex: 0 0 auto;
    }
    .@{prefix}-chat__content {
      flex: 1 1 auto;
      width: 100px;
    }
    .@{prefix}-chat__detail {
      max-width: 100%;
      box-sizing: border-box;
    }
    &.changeModel {
      justify-content: center;
    }
    .@{prefix}-chat__notice {
      // 水平居中
      background: @gray-color-1;
      padding: @comp-paddingTB-xxs @comp-paddingLR-s;
      font-size: @font-size-s;
      color: @font-gray-4;
      span {
        color: @font-gray-3;
      }
    }
  }
  // chat布局
  &--normal {
    .@{prefix}-chat__inner.user {
      flex-direction: row-reverse;
      .@{prefix}-chat__avatar {
        margin-right: 0;
        margin-left: @comment-avatar-margin-right;
      }
      .@{prefix}-chat__content {
        align-items: flex-end;
        .@{prefix}-chat__base {
          justify-content: flex-end;
        }
      }
    }
  }
  &__avatar {
    flex-shrink: 0;
    margin-right: @comp-margin-l;
    cursor: pointer;
    display: flex;
    &-image {
      width: @comp-size-m;
      height:  @comp-size-m;
      border-radius: @border-radius-circle;
    }
  }

  &__content {
    font: @comment-content-text-size;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__base {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    font: @font-title-small;
    color: @text-color-placeholder;
  }
  &__name {
    padding-right: @comp-margin-s;
    cursor: pointer;
  }
// 消息样式
  &__text {
    padding: @pop-padding-xl @pop-padding-xxl @pop-padding-xl 0;
    font: @font-body-large;
    word-break: break-all;
    & &__user pre{
      color: @text-color-secondary;
    }
    &__assistant {
      color: @text-color-primary;
      ol {
        padding-inline-start: 20px;
        li {
          list-style: decimal;
        }
      }
      img {
        max-width: 100%;
        margin: @comp-margin-xs 0;
        border-radius: @border-radius-default;
      }
    }
    &--error {
      color: @error-color;
    }
  }
  &__actions {
    margin-top: @comment-actions-margin-top;
    display: flex;
    list-style: none;
    padding: @pop-padding-l;
    background-color: @bg-color-secondarycontainer;
    border-radius: @border-radius-medium;
    border: 1px solid @component-border;
    overflow: hidden;

    & .@{prefix}-button {
      color: @text-color-primary;
      background-color: @bg-color-secondarycontainer;
      border: 0;
      .@{prefix}-icon {
        font-size: @font-size-l;
      }
    }
  }
}
:where(code):not(:where(pre *)) {
  color: @error-color !important;
}